{{ form_start(formWebsite) }}
<fieldset class="form-group">           
  <div class="flex flex-auto pt3">
    {{ form_label(formWebsite.name, "nom", {'label_attr': {'class': 'form-label control-label'}}) }}
    {{ form_errors(formWebsite.name) }}
    <div class="form-widget">
      {{ form_widget(formWebsite.name, {'attr': {'class': 'form-joggeur-website'}}) }}
    </div>
  </div>

  <div class="flex flex-auto pt3">
    {{ form_label(formWebsite.url, "url", {'label_attr': {'class': 'form-label control-label'}}) }}
    {{ form_errors(formWebsite.url) }}
    <div class="form-widget">
      {{ form_widget(formWebsite.url, {'attr': {'class': 'form-joggeur-website'}}) }}
    </div>
  </div>
</fieldset>


<div class="center tc">
    <div class="button button-save">
      <svg class="icon icon--xs icon-checkmark"><use xlink:href="#icon-checkmark"></use></svg>  
       <input class="bg-near-black bn ms-fushia" type="submit" value="Valider"/>
    </div> 
</div>





  {{ form_rest(formWebsite) }}
  {{ form_end(formWebsite) }}