{#

 This file is part of the FOSCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

{% import "TdSCoreBundle:Macros:loader.html.twig" as loaderModule %}

<div id="fos_comment_thread_wrapper" class="bg-ms-orange-light relative w-90 mw8 pt3 br3 mb3 center">
	<h2 class="sub-title center tc ma0 pa0">Commentaires</h2>
	{% if is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_USER") %}
		<div class="fos_comment_infos pv2 ph4 tc f7 f6-ns black-40">
	        <i>
	            Maintenant, il est possible d'ajouter des liens, des images et des vidéos youtube de l'internet. Il suffit de copier/coller l'url et Becky se charge du reste!<br/>
	            exemples :<br/>
	            video youtube : https://www.youtube.com/watch?v=h1wz_gotmo8 <br/>
	            image (click droit -> copier l'adresse de l'image) : https://screenshots.fr.sftcdn.net/fr/scrn/66000/66328/3_1-big.jpg                    
	        </i>
	    </div>
	{% endif %}

	<div id="loading" class"w-100">
  		{{ loaderModule.loader() }} 
	</div>

	<div class="inner-wrapper pr4-ns pb4 pl5-ns">
		<div id="fos_comment_thread" data-themeid="{{ id }}">
		</div>
	</div>
</div>
 
    {% javascripts '@FOSCommentBundle/Resources/public/js/comments.js' %} 
	{# {% javascripts  %} #} 

	<script type="text/javascript">
		// thread id
		var fos_comment_thread_id = '{{ id }}';

		// api base url to use for initial requests
		var fos_comment_thread_api_base_url = "{{ path('fos_comment_get_threads') }}";

		var $root = $('html, body');

		var comment = {};


		$("[data-action='show-comments']").on('click',function(){
				$(".fos-comment-header-buttons").show();
				comment.launchComments();
				comment.construct();
				$("#playlist-comments").show();
				$root.animate({
			        scrollTop: $( $.attr(this, 'href') ).offset().top
			    }, 500);
			    			    
				return false;
		});


		
		$("[data-action='hide-comments']").on('click',function(){
				$(".fos-comment-header-buttons").hide();
				$("#fos_comment_thread_wrapper").hide();
				
		});

		// Snippet for asynchronously loading the comments
		$("[data-action='reload-comments']").on('click',function(){
			comment.launchComments();
		});
	    

	    comment.construct = function () {
	        comment.formSubmitHandler();
	        comment.commentAddedHandler();
	    };



	    comment.commentAddedHandler = function () {
	        $(document).on('fos_comment_add_comment', function()
	        {
	            $('.fos_comment_submit > input[type=submit]').removeAttr("disabled");
	        });
	    };

	    comment.formSubmitHandler = function () {
	        $(document).on('fos_comment_submitting_form', function()
	        {
	            $('.fos_comment_submit > input[type=submit]').attr("disabled", "disabled");
	        });
	    };

	    




		comment.launchComments = function (){
			var fos_comment_script = document.createElement('script');
		    fos_comment_script.async = true;
		    // fos_comment_script.src = '{{ asset_url }}';
		    fos_comment_script.src = "{{ asset('bundles/tdscomment/js/comments.js') }}";
		    fos_comment_script.type = 'text/javascript';

		    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(fos_comment_script);

		    $(document).ajaxStart(function(){
			    $('#loading').show();
			 }).ajaxStop(function(){
			    $('#loading').hide();
			 });
		    
		};


	</script>
	{% endjavascripts %}

