<div class="form-wrapper bg-op--white bd--light pam">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {{ form_errors(form) }}

  <div class="form-group row mll mrl ptm">
      {{ form_label(form.chronique, "Chronique", {'label_attr': {'class': 'col-xs-12 col-sm-4 control-label'}}) }}
      {{ form_errors(form.chronique) }}
    <div class="col-xs-12 col-sm-6">
      {{ form_widget(form.chronique) }}
    </div>
  </div>

  <div class="align-center">
    <div class="button btn btn-action mts">
      <svg class="icon icon--s icon-checkmark"><use xlink:href="#icon-checkmark"></use></svg>  
      {{ form_widget(form.save, {'attr': {'value': 'valider'}}) }}
    </div>
  </div>

  {{ form_end(form) }} 
</div>