{% extends "TdSMarathonBundle::layout.html.twig" %}

{% block title %}
  Marathon - {{ parent() }}
{% endblock %}

{% block tdsmarathon_body %}
	<div class="container-fluid main-content-page pbxxl">
		{% if is_granted("ROLE_SUPER_ADMIN") %}
			<div class="mtm mrm mbn clearfix">
				<a class="button btn btn-action pull-right mls" href="{{ path('tds_marathon_saison_add') }}">
					<svg class="icon icon--s icon-plus"><use xlink:href="#icon-plus"></use></svg>
					<span>Ajouter une saison</span>
				</a>
				<a class="button btn btn-action pull-right " href="{{ path('tds_marathon_theme_add') }}" >
					<svg class="icon icon--s icon-plus"><use xlink:href="#icon-plus"></use></svg>
					<span>Ajouter un theme</span>
				</a>
			</div>
		{% endif %}

	    <h1 class="main-title align-center mas">Thèmes</h1>

	    {% for saison in listeSaisons %}
	    	<div class="mas">
		    	<h2 class="sub-title align-center pan man">{{ saison.titre }}</h2>
		    	{% if saison.activate is defined and saison.activate == 1 %}
		    		<h4 class="sub-sub-title align-center pan man">(en cours)</h4>
		    	{% endif %}
	    	</div>
		    <div class='row list pbm sep--dashed pas'>	
			     {% for theme in saison.themes %}

			     	{% if theme.draftmode is null or theme.draftmode == 0 or (is_granted("ROLE_SUPER_ADMIN","ROLE_USER") and theme.draftmode == 1 and theme.joggeur == app.user.joggeur ) %}
				     	{% if theme.draftmode == 1 and theme.joggeur == app.user.joggeur %}
				     		<div class='col col-xs-6 col-md-4 col-lg-3 list-item vignette-item col-draftmode-theme man pan'>
				     					    		
						{% else %}
					    	<div class='col col-xs-6 col-md-4 col-lg-3 list-item vignette-item man pan'>
					    {% endif %}
					    		

				    		<a class="thumbnail paxs" href="{{ path('tds_marathon_theme_view', {'id': theme.id}) }}">

					    		<div class="square">
								    {% if theme.image is not null %}
							  			<img class="" src="{{ theme.image.webPath | imagine_filter('medium_thumb') }}" alt="{{ theme.image.alt }}">
									{% endif %}
									
									{% if theme.draftmode == 1 and theme.joggeur.id == app.user.joggeur.id %}
					    				<div class="ribbon">
											<div class="line flex-container-h align-center">							
												<svg class="icon icon--l icon-warning"><use xlink:href="#icon-warning"></use></svg>
												<span class="flex-item-fluid mls">Theme en attente crée par toi</strong></span>
											</div>
										</div>
					    			{% endif %}

								    <div class='inner-item-text'>
								    	<div class="relative">
									    	<h3 class="man pbs">{{ theme.titre }}</h3>				
									    	<div class="musictitle-count">
									    		<svg class="icon icon-cd"><use xlink:href="#icon-cd"></use></svg>
									    		<span>{{ theme.musicTitles|length  }}</span>
									    	</div>

									    	<div class="comment-count">
											    <svg class="icon icon--m icon-dialog-icon"><use xlink:href="#icon-dialog-icon"></use></svg>
											    {% if theme.thread is defined and theme.thread is not null %}
												    <span>{{ theme.thread.numComments }}</span>
												{% else %}
												    <span>0</span>
											    {% endif %}										
											</div>
								    	</div>
								    </div>	
								</div>					    		
				    		</a>
				    		{% if is_granted("ROLE_SUPER_ADMIN") %}
		                        <a class='button btn btn-action btn-liste-delete btn-theme-delete mrs mts' data-delete data-href="{{ path('tds_marathon_theme_delete', {'id': theme.id}) }} "  data-pseudo="{{ theme.titre }}">
		                            <svg class="icon icon-alone icon--s icon-cancel"><use xlink:href="#icon-cancel"></use></svg>
		                        </a>
		                    {% endif %}				    		
					    </div>
			    	{% endif %}
			    {% endfor %} 
			</div> 
		{% endfor %}

		{% if is_granted("ROLE_SUPER_ADMIN") %}
			<div class='popup-delete-confirmation' data-popupdelete>
	            <div>
	                <p></p>
	                <a id="btn-oui" href="" class="button btn btn-action btn-default btn-delete-oui">Oui</a>
	                <a id="btn-non" href="" class="button btn btn-action btn-default btn-delete-non">Non</a>
	            </div>
	        </div>
    	{% endif %}
	</div>
{% endblock %}


