         {% set draftmodeTheme =  null %}
         {% set currentTheme =  null %}
         {% set postTheme =  null %}

         {% for theme in threeThemes %}
            {% if theme.statut == 0 %}
               {% set draftmodeTheme = theme %}
            {% elseif theme.statut == 1 %}
               {% set currentTheme = theme %}
            {% elseif theme.statut == 2 %}
               {% set postTheme = theme %}
            {% endif %}
         {% endfor %}


       

         

   		<h3>Brief avant validation :</h3>
            <div  class="line sep--dashed pbm clearfix">
               <h4 class="pan man">Nouveau thème:</h4>
               {% if draftmodeTheme is defined and draftmodeTheme is not null %}
                  <div class='thumb-line bg-op--black'>
                     <span class="">
                        {% if draftmodeTheme.image is not null %}
                           <img class='thumbnail' src='{{ draftmodeTheme.image.webPath | imagine_filter('tiny_thumb')  }}'/> 
                        {% endif %} 
                     </span>
                     <span class="pas">
                        thème d'attente masqué
                     </span>
                  </div>
               {% else %}
                  <div class="flex-container-h">
                  <svg class="icon icon-warning"><use xlink:href="#icon-warning"></use></svg>
                  <span class="flex-item-fluid mls">Attention, il n'y a pas de thème en attente pour l'instant.
                  Il n'y aura donc aucun thème en cours.</span>
                  </div>

                  <a class="button btn btn-action"  href="{{ path('tds_marathon_theme_add_draftmode') }}">
                        <svg class="icon icon--s icon-pencil"><use xlink:href="#icon-pencil"></use></svg>
                        <span class="btn__label">Ecrire un thème d'attente</span>
                  </a>
               {% endif %}
            </div>

            {% if currentTheme is defined and currentTheme is not null %}
      			<div class="line sep--dashed pbm">
      				<h4 class="pan man">Thème à fermer :</h4>
                  <div class='thumb-line bg-op--black'>
                     <a href="{{ path('tds_marathon_joggeur_view', {'id': currentTheme.id}) }}">
                        <span class="">
                           {% if currentTheme.image is not null %}
                              <img class='thumbnail' src='{{ currentTheme.image.webPath | imagine_filter('tiny_thumb')  }}'/>
                           {% endif %}  
                        </span>
                        <span class="pas">
                           {{ currentTheme.titre }}
                        </span>
                     </a>
                  </div> 
      			</div>
            {% endif %}

            {% if postTheme is defined and postTheme is not null %}
      			<div  class="line sep--dashed pbm ptm">
      				<h4 class="pan man">Thème précédent à archiver :</h4>
      				<span>(fermeture des attributions de points.)</span>
                  <div class='thumb-line bg-op--black'>
                     <a href="{{ path('tds_marathon_joggeur_view', {'id': postTheme.id}) }}">
                        <span class="">
                           {% if postTheme.image is not null %}
                              <img class='thumbnail' src='{{ postTheme.image.webPath | imagine_filter('tiny_thumb')  }}'/>
                           {% endif %}  
                        </span>
                        <span class="pas">
                           {{ postTheme.titre }}
                        </span>
                     </a>
                  </div>
      			</div>
            {% endif %} 


   			 

   			<a data-action="switch-validate" class="button btn btn-action mts" href="{{ path('tds_marathon_theme_switch_validation') }}">
               <svg class="icon icon--s icon-checkmark"><use xlink:href="#icon-checkmark"></use></svg>
               <span>Valider</span>
            </a>

            <a type="button" data-action="switch-cancel" class="button btn btn-action-cancel mts">
               <svg class="icon icon--s icon-cancel"><use xlink:href="#icon-cancel"></use></svg>
               <span>Annuler</span>
            </a>
   		
