{% macro header(saison) %}

	
	{% if saison is not defined or saison is  null %}
      	{% set saison = saisonService.getCurrSaison() %}
	{% endif %}

	{% set cssbg = "" %}
	{% if saison.image is defined and saison.image is not null and saison.image is not empty %}
		{% set cssbg =  saison.image.webPath | imagine_filter('header_image') %}
	{% endif %}

	<div id="header" class="main-header" style="background-image: url('{{ cssbg }}');" >

			<input id="mobile-nav" type="checkbox" class="nav-toggler" />
				<label for="mobile-nav" class="nav-toggler__label button">
					<svg xmlns="http://www.w3.org/2000/svg" version="1.1"  viewBox="0 0 32 32">
					  <path d="M0 0v3h32v-3h-32zm0 10v3h32v-3h-32zm0 10v3h32v-3h-32z"/>
					</svg>
				</label>


			<nav class="navbar-header">
			 
					<ul class="navbar-first unstyled">
						{% if is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_USER") %}
		            		<li><a href="{{ path('tds_dashboard') }}">Tableau de bord</a></li>  
		            	{% endif %}

						<li><a  href="{{ path('tds_home') }}">Accueil</a></li>
						<li><a  href="{{ path('tds_marathon_joggeur_home') }}">Joggeurs</a></li>
						
						{# Récupération du service saison #}
						<li class="navbar-second"><span>Saisons</span>
							<ul class="unstyled">
								{% for saisonListe in saisonService.allSaison() %}
									{% for saisonItem in saisonListe %}
										{% if saisonItem.statut != 0 or (saisonItem.statut == 0 and is_granted("ROLE_SUPER_ADMIN")) %} 
										<li><a  href="{{ path('tds_marathon_saison_view', {'id': saisonItem.id}) }}">{{ saisonItem.titre }}</a></li>
										{% endif %}
									{% endfor %}
								{% endfor %}
							</ul>
						</li>
						
						
						

						{% if is_granted("ROLE_SUPER_ADMIN") %}
		            		<li><a href="{{ path('tds_admin_home') }}">utilisateurs</a></li>          
		            	{% endif %}

		            	<li class="user" aria-label="user">
				          	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user is defined %}				   
				          		<div class='thumb-line author'>
									<div>										
										<span class="author-name mls">
											<a href="{{ path('tds_marathon_joggeur_view', {'id': app.user.joggeur.id}) }}">
												<span>{{ app.user.joggeur.pseudo }}</span> 
											</a>
											<a class="deconnexion block" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
										</span>

										<span class="author-thumb">
											<img class='thumbnail' src='{{ app.user.joggeur.image.webPath | imagine_filter('tiny_thumb')  }}'/>  
										</span>
									</div>									
								</div>
								
				            {% else %}
				               <a href="{{ path('fos_user_security_login') }}">Connexion</a>		
				            {% endif %}
				        </li>
					</ul>

				</nav>

				

			{% if is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_USER") %}
						<div class="beta align-center">
							<div class="inner-beta pas">
								<h3 class="sub-sub-title pan man">Les Gradins</h3>
								<a target="_blank" href="https://docs.google.com/document/d/16EdBX-0i3tRVL3uEZPV-qhDdLZccpPnVzH7alhpICU0/edit?usp=sharing">
									<span>Clique si tu veux te poser au KLM avec ta gourde.</span>
								</a>
							</div>
						</div> 
			{% endif %}

				
			<div class="container-fluid">
				<img class="main-logo" src="{{ asset('bundles/tdsmarathon/images/bg-header-layers/logo.png') }}"/>

				

				<div class="flex-item-center saison-title align-center man">
  					<h1 class="man pan">{{ saison.titre }}</h1>
  					{% if saison.statut == 0 %}
  						{% set statut = "pas encore activée" %}
  					{% elseif saison.statut == 1 %}
  						{% set statut = "en cours" %}
  					{% elseif saison.statut == 2 %}
  						{% set statut = "terminée" %}
  					{% endif %}
  					<h3 class="man pan">{{ statut }}</h3>
  				</div> 

			</div>
	 </div>
 {% endmacro %}