{% macro chronique(allThemes) %}
	<div class="pa3 bt b--black-30 ">	
		<h4 class="fw4 ma0 pa0 f5">Chroniques</h4>
		{% if is_granted("ROLE_SUPER_ADMIN")  %}
			{% set i=0 %}
			{% for theme in allThemes %}
				{% if theme.chronique is null and theme.statut != 0 %}
					{% set i=i+1 %}
				{% endif %}
			{% endfor %}

			
				
				<div data-action="show-chronique" class='button button-caret'>
					<span>Chroniques à écrire ({{ i }})</span>
					<svg class="icon icon--xs icon-arrow-left"><use xlink:href="#icon-arrow-left"></use></svg>
				
				</div>

				<div class='chroniques-list mv2 dn'>
					{% for theme in allThemes %}
						{% if theme.chronique is null and theme.statut != 0 %}
						<div class="pv2 db cf bb bt-0 bl-0 br-0 b--dashed b--black-30">
							<div class="dib v-mid">
								<strong class="db">{{ theme.titre }}</strong>
								{% for musicTitle in theme.musicTitles %}
									{% if loop.index == 1 %}
										<span class="db">par : {{ musicTitle.joggeur.pseudo }}</span>
									{% endif %}
								{% endfor %}
							</div>
							<a class="button dib v-mid fr" href="{{ path('tds_marathon_theme_add_chronique', {'theme_id': theme.id, 'joggeurChronique_id': app.user.joggeur.id}) }}">
								<svg class="icon icon--s icon-pencil"><use xlink:href="#icon-pencil"></use></svg>
								<span class="">Ecrire</span>
							</a>
						</div>
						
						{% endif %}
					{% endfor %}
				</div>
			

		{% elseif is_granted("ROLE_USER")  %}
			{% set i=0 %}
			<div>
				{% for theme in allThemes %}
					{% if (theme.chronique is empty or theme.chronique is null) and theme.statut != 0 %}
						{% if app.user.joggeur == theme.joggeurChronique %}
							{% set i=i+1 %}
						{% endif %}
					{% endif %}
				{% endfor %}

				{% if i != 0 %}
					<div data-action="show-chronique" class='button button-caret'>
						<span>Tu as {{ i }} chronique(s) à écrire</span>
						<svg class="icon icon--xs icon-arrow-left"><use xlink:href="#icon-arrow-left"></use></svg>
					</div>
				{% else %}
					<div class="dark-gray i">Zut de flûte, tu n'as aucune chronique à écrire</div>
				{% endif %}


				<div class='chroniques-list mv2 dn'>
					{% for theme in allThemes %}
						{% if (theme.chronique is empty or theme.chronique is null) and theme.statut != 0 %}
							{% if app.user.joggeur == theme.joggeurChronique %}							<div class="pv2 db cf bb bt-0 bl-0 br-0 b--dashed b--black-30">
									<div class="dib v-mid">	
										<strong>{{ theme.titre }}</strong>
									</div>
									<a class="button dib v-mid fr" href="{{ path('tds_marathon_theme_add_chronique', {'theme_id': theme.id, 'joggeurChronique_id': theme.joggeurChronique.id}) }}">
										<svg class="icon icon--s icon-pencil"><use xlink:href="#icon-pencil"></use></svg>
										<span class="">Ecrire</span>
									</a>
								</div>									
							{% endif %}		        			
						{% endif %}
					{% endfor %}
				</div>			
			</div>
		{% endif %}
	</div>
{% endmacro %}