{% macro theme(saison, theme, draftmodeTheme, musicTitle10th) %}
	{% if saison is defined and saison is not null %}
		<div class="theme-attente sep clearfix">
			<h3 class="sub-sub-title">Thèmes</h3>
			
			<div class="plm">
				<h4 class="sub-sub-title">En attente</h4>									
					{% if is_granted("ROLE_SUPER_ADMIN")  %}
						{% if draftmodeTheme is not null %}
		        			<div class="flex-container-h pbm">
								<svg class="icon icon--s icon-checkmark"><use xlink:href="#icon-checkmark"></use></svg>
								<span class="btn__label flex-item-fluid mls">Il y a un thème en attente</span>
							</div>
							{% if draftmodeTheme.joggeur == app.user.joggeur %}
								<a class="button btn btn-action pull-right mbs" href="{{ path('tds_marathon_theme_edit_draftmode', {'id': draftmodeTheme.id}) }}">
										<svg class="icon icon--s icon-pencil"><use xlink:href="#icon-pencil"></use></svg>
										<span class="btn__label">Modifier le thème d'attente</span>
								</a>
							{% endif %}
		        		{% else %}
		        			<div class="flex-container-h ptm pbm sep--dashed">
								<svg class="icon icon-warning"><use xlink:href="#icon-warning"></use></svg>
								<span class="btn__label flex-item-fluid mls">Il n'y a pas de thème en attente</span>
							

								<a class="button btn btn-action pull-right"  href="{{ path('tds_marathon_theme_add_draftmode') }}">
											<svg class="icon icon--s icon-pencil"><use xlink:href="#icon-pencil"></use></svg>
											<span class="btn__label">Ecrire un thème d'attente</span>
								</a>
							</div>

							<div class="ptm pbm sep--dashed clearfix">
								{% if musicTitle10th is not null %}
	        						<strong>Le prochain thème doit être proposé par :</strong>
	        						<div class='thumb-line author ptm'>
										<a href="{{ path('tds_marathon_joggeur_view', {'id': musicTitle10th.joggeur.id}) }}">
											<span class="author-thumb">
												<img class='thumbnail' src='{{ musicTitle10th.joggeur.image.webPath | imagine_filter('tiny_thumb')  }}'/>  
											</span>
											<span class="author-name">
												{{ musicTitle10th.joggeur.pseudo }}
											</span>
										</a>
									</div>

									{% if musicTitle10th.joggeur.user is defined and musicTitle10th.joggeur.user is not null %}
										<a class="btn button btn-action mas pull-right" href="mailto:{{ musicTitle10th.joggeur.user.email }}">
											<svg class="icon icon--s icon-paperplane"><use xlink:href="#icon-paperplane"></use></svg>
											<span>Lui envoyer un message télépathique</span>
										</a>
									{% endif %}
		        				{% else %}
		        					<div class="mbs flex-container-h">
			        					<svg class="icon icon-warning"><use xlink:href="#icon-warning"></use></svg>
										<span class="flex-item-fluid mls">Il n'y a pas d'auteur attitré <br/><strong>(pas de 10ème participant au thème en cours)</strong></span>
									</div>
									
								{% endif %}	
	    					</div>
	    				{% endif %}

	    			{% elseif is_granted("ROLE_USER")  %}
	    				<div class="pbm flex-container-h clearfix">
	    				{% if musicTitle10th is not null %}
	        				{% if app.user.joggeur == musicTitle10th.joggeur %}
	        					{% if draftmodeTheme is not defined or draftmodeTheme.draftmode is null or draftmodeTheme.draftmode == 0 %} 
	        						<div class="flex-item-fluid"><strong class="text--m">Tu es l'élu !</strong><br/> 
	        							C'est à toi de proposer le prochain thème.</div>
	        						<div class="pull-right">
		        						<a class="button btn btn-action "  href="{{ path('tds_marathon_theme_add_draftmode') }}">
												<svg class="icon icon--s icon-pencil"><use xlink:href="#icon-pencil"></use></svg>
												<span class="btn__label">Ecrire un thème d'attente</span>
										</a>
									</div>
								{% elseif draftmodeTheme is defined and draftmodeTheme.draftmode == 1 %}
									{% if draftmodeTheme.joggeur == app.user.joggeur %}
										<div class="flex-item-fluid"><strong class="text--m">Tu es l'élu !</strong><br/>

		        							Tu as déjà écris le thème en attente mais il est encore temps de le modifier.
		        						</div>
		        						<div class="pull-right">
											<a class="button btn btn-action mbs" href="{{ path('tds_marathon_theme_edit_draftmode', {'id': draftmodeTheme.id}) }}">
		  										<svg class="icon icon--s icon-pencil"><use xlink:href="#icon-pencil"></use></svg>
		  										<span class="btn__label">Modifier le thème d'attente</span>
											</a>
										</div>
									{% else %}
										<div class="flex-item-fluid"><strong class="text--m">Tu es l'élu !</strong><br/> 
		        							Mais Bob marathon t'as devancé et a écris le thème d'attente à ta place, va savoir pourquoi.
		        						</div>
									{% endif %}
								{% endif %}
	    					{% else %}
	    						<div>C'est triste à dire mais ce n'est pas à toi d'écrire le futur thème</div>
	    					{% endif %}
	    				{% else %}
	    					<div>Aucun joggeur n'est encore déterminé pour écrire le futur thème</div>
						{% endif %}
						</div>
	        		{% endif %}
			</div>
		</div>




		{% if is_granted("ROLE_SUPER_ADMIN")  %}
			<div class="theme-cours  pbm plm">
				<h4 class="sub-sub-title">En Cours</h4>								
				{% if theme is defined and theme is not null %}
						<div class='closeTheme-wrapper ptm'>
		        			<a id="closeTheme-grosBouton" data-action="switch-show-brief" class='btn' href="#">
		        				<svg class="icon icon--xl icon-toggle"><use xlink:href="#icon-toggle"></use></svg>
		        			</a>
		        			<span>Gros bouton qui ferme le thème pour toujours</span>
		        			<div id="closeTheme-brief"></div>
	        			</div>
	    			

				{% else %}
					<div class="line pbm ptm sep--dashed">
						<svg class="icon icon-warning"><use xlink:href="#icon-warning"></use></svg>
						<span class="text ">Il n'y a aucun thème en cours</span>
						{% if draftmodeTheme is not null %}
							<div class='activeTheme-wrapper ptm'>
	        					<a id="activeTheme-grosBouton" data-action="active-show-brief" class='btn btn-dedault' href="#">
	        						<svg class="icon icon--xl icon-toggle"><use xlink:href="#icon-toggle"></use></svg>
	        					</a>
			        			<span>Gros bouton qui active le thème d'attente</span>
			        			<div id="activeTheme-brief" class="activeTheme-brief mts pas">					
			        				<span>Es-tu sûr de vouloir activer le thème d'attente (qui deviendra le thème en cours)?</span>
			        				<div>
			        					<a class="button btn btn-action btn-oui" href="{{ path('tds_marathon_theme_active_validation') }}">oui</a>
			        					<a class="button btn btn-action btn-non" href="">non</a>
			        				</div>
			        				
			        			</div>
		        			</div>
						{% endif %}
					</div>
				{% endif %}
			</div>
		{% endif %}

	{% else %}
		<div class="theme-attente sep clearfix">
			<h3 class="sub-sub-title">Thèmes</h3>
	        <div>Il n'y a pas de saison en cours, par conséquent, tu ne peux pas agir sur les thèmes.
	        </div> 
	    </div>
	{% endif %}
{% endmacro %}