{% macro pl_theme(theme,joggeur,tabIdTheme,enCours,autoplay,listeJoggeursScore,wof_jogDonJuan) %}
	{% import "TdSCoreBundle:Macros:playlist.html.twig" as playlistModule %} 

	{% if tabIdTheme is not null %}
		{% set keyThemePrec ='' %}
		{% set keyThemeCurr='' %}
		{% set keyThemeSuiv='' %}
		{% set tabSize = tabIdTheme | length %}

		{% for key, idTheme in tabIdTheme %}
			{% if idTheme == theme.id %}
				{% set keyThemeCurr = key %}
				{% if keyThemeCurr == 0 %}
					{% set keyThemeSuiv = tabSize-1 %}
				{% else %}
					{% set keyThemeSuiv = key-1 %}
				{% endif %}
				{% if keyThemeCurr == tabSize-1 %}
					{% set keyThemePrec = 0 %}
				{% else %}
					{% set keyThemePrec = key+1 %}
				{% endif %}	
			{% endif %} 		
		{% endfor %}
	{% endif %}
	


	{% if autoplay is null or autoplay is not defined %}
		{% set autoplay = "false" %}
	{% endif %}
	<div class='playlist-wrapper relative' data-type="theme" data-autoplay={{ autoplay }}>

		{% if tabIdTheme is not null %}
			<a class="btn playlist-nav-prec pas" data-id="{{ tabIdTheme[keyThemePrec] }}" href="{{ path('tds_marathon_theme_view', {'id': tabIdTheme[keyThemePrec]}) }}">
				<svg class="icon icon-alone icon--l icon-playlist-arrow-prev"><use xlink:href="#icon-playlist-arrow-prev"></use></svg>
			</a>
			<a class="btn playlist-nav-suiv pas" href="{{ path('tds_marathon_theme_view', {'id': tabIdTheme[keyThemeSuiv]}) }}">
				<svg class="icon icon-alone icon--l icon-playlist-arrow-suiv"><use xlink:href="#icon-playlist-arrow-suiv"></use></svg>
			</a>
		{% endif %}




		<div class="flex-container-h">
			<div class="flex-item col-playlist-gauche">

				{% if enCours == true %}
					<div class="ribbon">
						<div class="line flex-container-h align-center">							
							<svg class="icon icon--l icon-warning"><use xlink:href="#icon-warning"></use></svg>
							<span class="flex-item-fluid mls">Thème en cours</span>
						</div>
					</div>
				{% endif %}

				{% if theme.draftmode == 1 and theme.joggeur.id == app.user.joggeur.id %}
    				<div class="ribbon">
						<div class="line flex-container-h align-center">							
							<svg class="icon icon--l icon-warning"><use xlink:href="#icon-warning"></use></svg>
							<span class="flex-item-fluid mls">Theme en attente crée par toi</span>
						</div>
					</div>
				{% endif %}


				<div class="relative">
					<div class="playlist-header-image">
						{% if theme.image is not null %}
							<img class="img-responsive" src="{{ theme.image.webPath  | imagine_filter('big_image') }}" alt="{{ theme.image.alt }}">
						{% endif %}
					</div>
					

					<div class="playlist-header pam">
						{% if theme.saison is defined and theme.saison is not  null %}
							<span class="playlist-header-saison">{{ theme.saison.titre }}</span>
						{% endif %}

						<div class="playlist-header-date">
								du 
							  		<span>{{ theme.dateDebut|date('d/m/Y') }}</span>
								au 
							  		<span>{{ theme.dateFin|date('d/m/Y') }}</span>
						</div>
						<h1>{{ theme.titre }}</h1>
						<div class='thumb-line author'>
							<a href="{{ path('tds_marathon_joggeur_view', {'id': theme.joggeur.id}) }}">
								<span class="author-thumb">
									<img class='thumbnail' src='{{ theme.joggeur.image.webPath | imagine_filter('tiny_thumb')  }}'/>  
								</span>
								<span class="author-name"><i>Auteur</i>{{ theme.joggeur.pseudo }}</span>
							</a>
						</div>

						
					</div>
				</div>

				

				{% if listeJoggeursScore is defined and listeJoggeursScore is not null and listeJoggeursScore is not empty %}
					

					<div class="playlist-scores walloffame bg-op--white-5 align-center pam pbn">
						<h3 class="ptn mtn">Wall of Fame du thème</h3>
						<div class="wof-wrapper flex-container-fluid flex-justify">

							{% for joggeurScore in listeJoggeursScore %}
								
								{% if loop.index == 1 %}
									<div class="wof-item wof_totalWinner flex-item list-item ">
										<a class="thumbnail" href="{{ path('tds_marathon_joggeur_view', {'id': joggeurScore.joggeur.id}) }}">								
											<div class="round">
													{% if joggeurScore.joggeur.image is not null %}
														<img class="" src="{{ joggeurScore.joggeur.image.webPath | imagine_filter('medium_thumb') }}" alt="{{ joggeurScore.joggeur.image.alt }}">
													{% endif %}
											</div>
										</a>
										<div>
											<h4 class="mts mbn sub-sub-title">Le Total Winner</h4>
											<strong>Celui qui a gagné ce thème</strong>
										 	<div class="sep--dashed">{{ joggeurScore.joggeur.pseudo }}</div>
										 	{% for score in joggeurScore.scores  %}
										 		{% if loop.index == 1 %}
										 			<div class="pbs flex-align ">
														<div class="score">{{ joggeurScore.total }} pts</div>
							      						<span class="points align-center">
							      							<svg class="icon icon--s icon-fast"><use xlink:href="#icon-fast"></use></svg>
							      							<span class="">{{ score.fastpoints }}</span> 
								      						<svg class="icon icon--xs icon-heart2" ><use xlink:href="#icon-heart2"></use></svg>
								      						<span class="">{{ score.heartpoints }}</span>
								      						{% if score.takenpoints != 0 %}
									      						<svg class="icon icon--xs icon-minus" ><use xlink:href="#icon-minus"></use></svg>
									      						<span class="">{{ score.takenpoints }}</span>
								      						{% endif %}
							      						</span>
							      					</div>
						      					{% endif %}
											{% endfor %}
										</div> 
									</div>
								{% endif %}
							{% endfor %}

							<div class="wof-item wof_jogDonJuan flex-item list-item mrl mll">
								<a class="thumbnail" href="{{ path('tds_marathon_joggeur_view', {'id': wof_jogDonJuan.id}) }}">								
									<div class="round">
											{% if wof_jogDonJuan.image is not null %}
												<img class="" src="{{ wof_jogDonJuan.image.webPath | imagine_filter('medium_thumb') }}" alt="{{ wof_jogDonJuan.image.alt }}">
											{% endif %}
									</div>
								</a>
								<div>
									<h4 class="mts mbn sub-sub-title">Le mono nucléose</h4>
									<strong>Celui qui a récolté le plus de points bisous</strong>
								 	<div class="sep--dashed">{{ wof_jogDonJuan.pseudo }}</div>
								 	{% for score in wof_jogDonJuan.joggeurScore.scores  %}
								 		{% if loop.index == 1 %}
								 			<div class="pbs flex-align ">
												<div class="score">{{ wof_jogDonJuan.joggeurScore.total }} pts</div>
												
					      						<span class="points align-center">
					      							<svg class="icon icon--s icon-fast"><use xlink:href="#icon-fast"></use></svg>
					      							<span class="">{{ score.fastpoints }}</span> 
						      						<svg class="icon icon--xs icon-heart2" ><use xlink:href="#icon-heart2"></use></svg>
						      						<span class="">{{ score.heartpoints }}</span>
						      						{% if score.takenpoints != 0 %}
						      							<svg class="icon icon--xs icon-minus" ><use xlink:href="#icon-minus"></use></svg>
								      					<span class="">{{ score.takenpoints }}</span>
								      				{% endif %}
					      						</span>
					      						
					      					</div>
				      					{% endif %}	
									{% endfor %}
								</div> 
							</div>

							{% for joggeurScore in listeJoggeursScore %}
								{% if loop.index == listeJoggeursScore | length %}
									<div class="wof-item wof_totalLoser flex-item list-item">
										<a class="thumbnail" href="{{ path('tds_marathon_joggeur_view', {'id': joggeurScore.joggeur.id}) }}">								
											<div class="round">
													{% if joggeurScore.joggeur.image is not null %}
														<img class="" src="{{ joggeurScore.joggeur.image.webPath | imagine_filter('medium_thumb') }}" alt="{{ joggeurScore.joggeur.image.alt }}">
													{% endif %}
											</div>
										</a>
										<div>
											<h4 class="mts mbn sub-sub-title">Le Total Loser</h4>
											<strong>Celui qui a pas compris</strong>
										 	<div class="sep--dashed">{{ joggeurScore.joggeur.pseudo }}</div>
										 	{% for score in joggeurScore.scores  %}
										 		{% if loop.index == 1 %}
										 			<div class="pbs flex-align ">
														<div class="score">{{ joggeurScore.total }} pts</div>		
							      						<span class="points align-center">
							      							<svg class="icon icon--s icon-fast"><use xlink:href="#icon-fast"></use></svg>
							      							<span class="">{{ score.fastpoints }}</span> 
								      						<svg class="icon icon--xs icon-heart2" ><use xlink:href="#icon-heart2"></use></svg>
								      						<span class="">{{ score.heartpoints }}</span>
								      						{% if score.takenpoints != 0 %}
								      							<svg class="icon icon--xs icon-minus" ><use xlink:href="#icon-minus"></use></svg>
								      							<span class="">{{ score.takenpoints }}</span>
								      						{% endif %}	
								      					</span>
							      					</div>
						      					{% endif %}
											{% endfor %}
										</div> 
									</div>
								{% endif %}
							{% endfor %}
						


							<div class="legende align-center pas pbn mbn ">
								Légende [
								<svg class="icon icon--s icon-fast" ><use xlink:href="#icon-fast"></use></svg>=points vitesse
								<svg class="icon icon--xs icon-heart2 mls" ><use xlink:href="#icon-heart2"></use></svg>=points bisous
								<svg class="icon icon--s icon-minus mls" ><use xlink:href="#icon-minus"></use></svg>=points retirés ]
							</div>
						</div>
					</div>
				{% endif %}


				
				{% if theme.chronique is defined and theme.chronique is not null %}
					<div class="playlist-chronique">
							{% if theme.chronique != '' and theme.joggeurChronique is not null %}
									<div class="playlist-chronique-header">
										<div class="row clearfix">
											<div class='thumb-line col col-xs-7 pull-right'>
												<a class="pull-right" href="{{ path('tds_marathon_joggeur_view', {'id': theme.joggeurChronique.id}) }}">
													<span class="author-name"><i>Auteur</i>{{ theme.joggeurChronique.pseudo }}</span>
													<span ><img class='thumbnail' width='50px' src='{{ theme.joggeurChronique.image.webPath | imagine_filter('tiny_thumb')  }}'/></span>
												</a>
											</div>

											<div class="col col-xs-5">
												<svg class="icon icon-newspaper"><use xlink:href="#icon-newspaper"></use></svg>
												<h4 class="sub-title pan man">Chronique </h4>
											</div>										
										</div>
									</div>

							  		<div class="playlist-chronique-body">{{ theme.chronique | raw }}</div>

							  	{% if is_granted("ROLE_SUPER_ADMIN") or (is_granted("ROLE_USER") and  theme.joggeurChronique == app.user.joggeur) %}
							  		<a class="button btn btn-action" href="{{ path('tds_marathon_theme_edit_chronique', {'theme_id': theme.id, 'joggeurChronique_id': app.user.joggeur.id}) }}">
			  							<svg class="icon icon--s icon-pencil"><use xlink:href="#icon-pencil"></use></svg>
			  							<span class="btn__label">Modifier la chronique</span>
									</a>
							  	{% endif %}
							{% endif %}
					</div> 
				{% endif %}

				{% if is_granted("ROLE_SUPER_ADMIN") %}
					<div class="pam pbxxl-screen">
						<a class="button btn btn-action mtm" href="{{ path('tds_marathon_theme_edit', {'id': theme.id}) }}">
				  			<svg class="icon icon--s icon-pencil"><use xlink:href="#icon-pencil"></use></svg>
				  			<span class="btn__label">Modifier le thème</span>
						</a>
					</div>
				{% endif %}
			</div>



			
			<div class="flex-item col-playlist-droite">
			{# <div class="playlist-body-wrapper col col-xs-12 col-md-5">	 #}
				{{ playlistModule.playlist(theme) }}

				{% set joggeurInMusicList = null %}
				{% if app.user.joggeur is defined %}
					{% for musicTitle in theme.musicTitles %}
						 {% if musicTitle.joggeur == app.user.joggeur %}
							{% set joggeurInMusicList = 1 %}
						{% endif %}
					{% endfor %}
				{% endif %}

				{% if is_granted("ROLE_SUPER_ADMIN") or (is_granted("ROLE_USER") and  enCours == true) %}					
					{% if joggeurInMusicList is null %}
						<div class="btn-double mas">
							<div class="btn__info flex-item align-right prm mrn pts pbs">
								<span>Tu n'as pas encore ajouté de morceau</span>
							</div>

							<a class="button btn btn-action flex-item mln" href="{{ path('tds_marathon_musicTitle_add', {'joggeur_id': app.user.joggeur.id, 'theme_id': theme.id, 'route':'theme-view'}) }}">
								<svg class="icon icon--m icon-add-music"><use xlink:href="#icon-add-music"></use></svg>
								<span class="btn__label">ajouter un morceau</span>
							</a>
						</div>
					{% else %}
						<div class="btn-double mas">
							<div class="btn__info flex-item align-right prm mrn pts pbs">
								<span>Tu as déjà ajouté un morceau au thème en cours</span>
							</div>
						{% if is_granted("ROLE_SUPER_ADMIN") %}
							<a class="button btn btn-action flex-item mln" href="{{ path('tds_marathon_musicTitle_add', {'joggeur_id': app.user.joggeur.id, 'theme_id': theme.id, 'route':'theme-view'}) }}">
								<svg class="icon icon--m icon-add-music"><use xlink:href="#icon-add-music"></use></svg>
								<span class="btn__label">ajouter un morceau</span>
							</a>
						{% endif %}
						</div>
					{% endif %} 
				{% endif %}


				{% if is_granted("ROLE_SUPER_ADMIN") %}
					<div class="flex-item align-right">
						<a class="button btn btn-action mas" href="{{ path('tds_marathon_musictitle_list', {'theme_id': theme.id}) }}">
			  				<svg class="icon icon--m  icon-remove-music"><use xlink:href="#icon-remove-music"></use></svg>
			  				<span class="btn__label">Supprimer un morceau</span>
						</a>
					</div>

					

					
				{% elseif is_granted("ROLE_USER") and theme.draftmode == 1 and theme.joggeur == app.user.joggeur %} 
					<a class="button btn btn-action pull-right mtm" href="{{ path('tds_marathon_theme_edit_draftmode', {'id': theme.id}) }}">
		  				<svg class="icon icon--s icon-pencil"><use xlink:href="#icon-pencil"></use></svg>
		  				<span class="btn__label">Modifier le thème d'attente</span>
					</a>					
				{% endif %}

			</div>					
		</div>

		<div class="playlist-comments ptl">	
			{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': theme.id } %}
		</div>	

	</div>
{% endmacro %}








{% macro pl_joggeur(theme,joggeur,tabIdJoggeur,autoplay,saison) %}
	{% import "TdSCoreBundle:Macros:playlist.html.twig" as playlistModule %} 

	{% if tabIdJoggeur is not null %}
		{% set keyJoggeurPrec ='' %}
		{% set keyJoggeurCurr='' %}
		{% set keyJoggeurSuiv='' %}
		{% set tabSize = tabIdJoggeur | length %}

		{% for key, idJoggeur in tabIdJoggeur %}
			{% if idJoggeur == joggeur.id %}
				{% set keyJoggeurCurr = key %}
				{% if keyJoggeurCurr == 0 %}
					{% set keyJoggeurSuiv = tabSize-1 %}
				{% else %}
					{% set keyJoggeurSuiv = key-1 %}
				{% endif %}
				{% if keyJoggeurCurr == tabSize-1 %}
					{% set keyJoggeurPrec = 0 %}
				{% else %}
					{% set keyJoggeurPrec = key+1 %}
				{% endif %}	
			{% endif %} 		
		{% endfor %}
	{% endif %}

	{% if autoplay is null or autoplay is not defined %}
		{% set autoplay = "false" %}
	{% endif %}

	<div class='playlist-wrapper relative' data-type="joggeur" data-autoplay={{ autoplay }}>
		{% if tabIdJoggeur is not null %}
			<a class="button btn playlist-nav-prec pas" data-id="{{ tabIdJoggeur[keyJoggeurPrec] }}" href="{{ path('tds_marathon_joggeur_view', {'id': tabIdJoggeur[keyJoggeurPrec]}) }}">
				<svg class="icon icon-alone icon--l icon-playlist-arrow-prev"><use xlink:href="#icon-playlist-arrow-prev"></use></svg>
			</a>
			<a class="button btn playlist-nav-suiv pas" href="{{ path('tds_marathon_joggeur_view', {'id': tabIdJoggeur[keyJoggeurSuiv]}) }}">
				<svg class="icon icon-alone icon--l icon-playlist-arrow-suiv"><use xlink:href="#icon-playlist-arrow-suiv"></use></svg>
			</a>
		{% endif %}


		<div class="flex-container-h">
			<div class="playlist-header-wrapper col-playlist-gauche {# pbxxl-screen #}">
				<div class="relative">
					<div class="playlist-header-image">
						{% if joggeur.image is not null %}
							<img class="img-responsive" src="{{ joggeur.image.webPath  | imagine_filter('big_image') }}" alt="{{ joggeur.image.alt }}">
						{% endif %}
					</div>
			

					<div class="playlist-header">
						

						<div class="playlist-header-links">
							{% if joggeur.mail is defined and joggeur.mail is not null %}
								<div class="playlist-header-mail">
										<a class="btn" href="mailto:{{ joggeur.mail }}">
											<span class='mail-text'>{{ joggeur.mail }}</span>
											<svg class="icon icon--m icon-paperplane"><use xlink:href="#icon-paperplane"></use></svg>
											
										</a>
								</div>
							{% endif %}

							{% if joggeur.website.url is defined %}
								<div class="playlist-header-website">
										<a class="btn" href="{{ joggeur.website.url }}" target="blank">
											<svg class="icon icon--m icon-website"><use xlink:href="#icon-website"></use></svg>
											<span>{{ joggeur.website.url }}</span>
										</a>
								</div>
							{% endif %}
						</div>
						
						<h1 class="pam">{{ joggeur.pseudo }}</h1>
					</div>
				</div>

				


				{% if joggeur.joggeurScore is defined and joggeur.joggeurScore is not null %}
					{% if joggeur.joggeurScore.total is defined %}
						<div class="playlist-scores playlist-joggeur-score walloffame pbn">
							<h4 class="sub-sub-title man pan align-center">Score</h4>
							<h5 class="sub-sub-title man pan align-center">{{ saison.titre }} : {{ joggeur.joggeurScore.total }} pts</h5>
							<div class="score-total "></div>
							{% if joggeur.joggeurScore.scores is defined and joggeur.joggeurScore.scores is not null and joggeur.joggeurScore.scores is not empty %}
								<div class="wof-wrapper flex-container-fluid flex-justify align-center">
									{% for score in joggeur.joggeurScore.scores %}
										<div class="score-item-theme wof-item flex-item list-item pas">
											
												<a class="thumbnail" href="{{ path('tds_marathon_theme_view', {'id': score.theme.id}) }}">
													<div class="round">
													    {% if score.theme.image is not null %}
												  			<img class="" src="{{ score.theme.image.webPath | imagine_filter('medium_thumb') }}" alt="{{ score.theme.image.alt }}"/>
												  		{% else %}
												  			<img class="" src="{{ 'uploads/img/anonymous.jpg' | imagine_filter('medium_thumb') }}" alt=""/>
														{% endif %}
													</div>
												</a>
						      					<h5 class="pas man sep--dashed">{{ score.theme.titre }}</h5> 
						      					<div class='score'>{{ score.totalTheme }} pts</div>
						      					<div class='points'>
					      							<span class="points-item points-item-fast">
							      						<svg class="icon icon--s icon-fast mls" ><use xlink:href="#icon-fast"></use></svg>
							      						<span>{{ score.fastpoints }}</span>
						      						</span>

					      							<span class="points-item points-item-heart ">
							      						<svg class="icon icon--xs icon-heart2" ><use xlink:href="#icon-heart2"></use></svg>
							      						<span>{{ score.heartpoints }}</span>
						      						</span>
						      						{% if score.takenpoints != 0 %}
							      						<span class="points-item points-item-taken">
								      						<svg class="icon icon--s icon-minus" ><use xlink:href="#icon-minus"></use></svg>
								      						<span>{{ score.takenpoints }}</span>
							      						</span>
						      						{% endif %}
						      					</div>					      					
											
										</div>
									{% endfor %}
								</div>
							{% endif %}
							<div class="legende align-center pas pbn mbn ">
								Légende [
								
								<svg class="icon icon--s icon-fast" ><use xlink:href="#icon-fast"></use></svg>=points vitesse
								<svg class="icon icon--xs icon-heart2 mls" ><use xlink:href="#icon-heart2"></use></svg>=points bisous
								<svg class="icon icon--s icon-minus mls" ><use xlink:href="#icon-minus"></use></svg>=points retirés ]
							</div>
						</div>
					{% endif %}
				{% endif %}

				{% if joggeur.presentation is not null %}
					<div class="playlist-presentation pam pbxxl">
						<h4 class="sub-sub-title man pan">Présentation</h4>
			  			<div class="man pan">{{ joggeur.presentation | raw }}</div>
			  		</div>
				{% endif %}


				
				{% if is_granted("ROLE_SUPER_ADMIN") or (is_granted("ROLE_USER") and joggeur.pseudo == app.user.joggeur.pseudo) %}
					<div class="pam pbxxl-screen">
						<a class="button btn btn-action pull-right mtm" href="{{ path('tds_marathon_joggeur_edit', {'id': joggeur.id}) }}">
			  				<svg class="icon icon--s icon-pencil"><use xlink:href="#icon-pencil"></use></svg>

			  				{% if is_granted("ROLE_USER") and joggeur.pseudo == app.user.joggeur.pseudo %}
			  					<span class="btn__label">Modifier mon profil</span>
			  				{% elseif is_granted("ROLE_SUPER_ADMIN") and joggeur.pseudo != app.user.joggeur.pseudo %}
			  					<span class="btn__label">Modifier le joggeur</span>
			  				{% endif %}		  				
						</a>
					</div>
				{% endif %}

				
			</div>


			<div class="playlist-body-wrapper col-playlist-droite pbxxl">				
				{{ playlistModule.playlist(null,joggeur) }}


				{% if is_granted("ROLE_SUPER_ADMIN") %}

					<div class="btn-double mas">
						<div class="btn__info flex-item align-right prm mrn pts pbs">
							<span>Nombre total de morceaux : {{ joggeur.musicTitles.count }}</span>
						</div>

						<a class="button btn btn-action mln flex-item" href="{{ path('tds_marathon_musicTitle_add', {'joggeur_id': joggeur.id, 'theme_id': 0, 'route':'joggeur-view'}) }}">
							<svg class="icon icon--m icon-add-music"><use xlink:href="#icon-add-music"></use></svg>
							<span class="btn__label">ajouter un morceau</span>
						</a>

					</div>
				{% endif %}
				 		
			</div>
		</div>
	</div>


{% endmacro %}