{% macro playlist(theme,joggeur) %}
<div class='playlist-body row'>
	<div class='hidden'>
		{% if theme is not null %}
			{% if theme.musicTitles is not null %}		
				<ul class='musicTitlesListe'>
					{% for musicTitle in theme.musicTitles %}
						{% if musicTitle.joggeur.image is null %}
							{% set imagePlaylist = "" %}
						{% else %}
							{% set imagePlaylist = musicTitle.joggeur.image.webPath | imagine_filter('tiny_thumb') %}
						{% endif %}
						<li class='musicTitleItem' data-id='{{ musicTitle.id }}' data-titre='{{ musicTitle.titre }}'  data-artiste='{{ musicTitle.joggeur.pseudo  }}' data-thumb='{{ imagePlaylist }}' data-path='{{ asset(musicTitle.webPath) }}'>
								{{ musicTitle.id }} - {{ musicTitle.titre }} -  {{ musicTitle.webPath }}
						</li>										
					{% endfor %}
				</ul>
			{% endif %}
		{% elseif joggeur is not null %}								
			{% if joggeur.musicTitles is not null %}
				<ul class='musicTitlesListe'>
					{% for musicTitle in joggeur.musicTitles %}
						{% if musicTitle.theme.image is null %}
							{% set imagePlaylist = "" %}
						{% else %}
							{% set imagePlaylist = musicTitle.theme.image.webPath | imagine_filter('tiny_thumb') %}
						{% endif %}
						<li class='musicTitleItem' data-id='{{ musicTitle.id }}' data-titre='{{ musicTitle.titre }}'  data-artiste='theme / {{ musicTitle.theme.titre }}' data-thumb='{{ imagePlaylist }}' data-path='{{ asset(musicTitle.webPath) }}'>
							{{ musicTitle.id }} - {{ musicTitle.titre }} -  {{ musicTitle.webPath }}
							
						</li>					
					{% endfor %}
				</ul>
			{% endif %}
		{% endif %}
	</div>



					
	<div id="" class="jp-jplayer"></div>
		<div id="" class="jp-container jp-audio" role="application" aria-label="media player">
			<div class="jp-type-playlist">
				<div class="jp-gui jp-interface row">
					<div class="jp-controls-holder pas">
						<div class="jp-controls">
							<button class="jp-previous" role="button" tabindex="0">
								<svg class="icon icon-alone icon--s icon-first"><use xlink:href="#icon-first"></use></svg>
							</button>
							<button class="jp-play" role="button" tabindex="0">
								<svg class="icon icon-alone icon--s icon-play"><use xlink:href="#icon-play"></use></svg>
							</button>
							<button class="jp-pause">
								<svg class="icon icon-alone icon--s icon-pause"><use xlink:href="#icon-pause"></use></svg>
							</button>
							<button class="jp-stop" role="button" tabindex="0">
								<svg class="icon icon-alone icon--s icon-stop"><use xlink:href="#icon-stop"></use></svg>
							</button>
							<button class="jp-next" role="button" tabindex="0">
								<svg class="icon icon-alone icon--s icon-last"><use xlink:href="#icon-last"></use></svg>
							</button>
						</div>

						<div class="jp-timeline">
							<div class="jp-title"></div>
							<div class="jp-progress">
								<div class="jp-seek-bar">
									<div class="jp-play-bar"></div>
								</div>
							</div>
							<div class="jp-duration pull-left" role="timer" aria-label="duration">&nbsp;</div>
							<div class="jp-current-time pull-right" role="timer" aria-label="time">&nbsp;</div>
						</div>
						
						<div class="jp-sub-toggles flex-container pts"> 
							<div class="flex-item-fluid jp-volume-controls">
								<button class="jp-mute btn btn-default" role="button" tabindex="0">
									<svg class="icon icon-alone icon--s icon-volume-off"><use xlink:href="#icon-volume-off"></use></svg>
								</button>
								<button class="jp-volume-max btn btn-default pull-right" role="button" tabindex="0">
									<svg class="icon icon-alone icon--s icon-volume-up"><use xlink:href="#icon-volume-up"></use></svg>
								</button>
								<div class="jp-volume-bar">
									<div class="jp-volume-bar-value"></div>
								</div>
							</div>

							<div class="flex-item-fluid jp-toggles clearfix">
								<button class="jp-repeat btn btn-default pull-right" role="button" tabindex="0">
									<svg class="icon icon-alone icon--s icon-repeat"><use xlink:href="#icon-repeat"></use></svg>
								</button>
								<button class="jp-shuffle btn btn-default pull-right" role="button" tabindex="0">
									<svg class="icon icon-alone icon--s icon-shuffle"><use xlink:href="#icon-shuffle"></use></svg>
								</button>
							</div> 							
						</div>
					</div>
					
				
				</div>
				<div class="jp-playlist">
					<div class="jp-playlist-inner">
						<ul class="unstyled">
							<li>&nbsp;</li>
						</ul>
					</div>
				</div>
				<div class="jp-no-solution">
					<span>Update Required</span>
					To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
				</div>
			</div>
	</div>
</div>

{% endmacro %}