{% macro playlist(musicTitles) %}
	<div class='playlist-index-body'>
		
		{% if musicTitles is not null %}
			<ul class='musicTitlesListe'>
				{% for musicTitle in musicTitles %}
					{% if musicTitle.theme.image is null %}
						{% set imageThemePlaylist = "" %}
					{% else %}
						{% set imageThemePlaylist = musicTitle.theme.image.webPath | imagine_filter('medium_thumb') %}
					{% endif %}
					{# big_image #}
					{% if musicTitle.joggeur.image is null %}
						{% set imageJoggeurPlaylist = "" %}
					{% else %}
						{% set imageJoggeurPlaylist = musicTitle.joggeur.image.webPath | imagine_filter('tiny_thumb') %}
					{% endif %}

					<li class='musicTitleItem' data-id='{{ musicTitle.id }}' data-titre='{{ musicTitle.titre }}' data-theme='{{ musicTitle.theme.titre }}'  data-thumbtheme='{{ imageThemePlaylist }}' data-artiste='{{ musicTitle.joggeur.pseudo }}' data-thumbartiste='{{ imageJoggeurPlaylist }}'  data-path='{{ asset(musicTitle.webPath) }}'>
						{{ musicTitle.id }} - {{ musicTitle.titre }} -  {{ musicTitle.webPath }}
					</li>					
				{% endfor %}
			</ul>
		{% endif %}



						
		<div id="jp-jplayer_index" class="jp-jplayer_index"></div>
			<div id="jp-container_index" class="jp-container_index jp-audio" role="application" aria-label="media player">
				<div class="jp-type-playlist">
					<div class="jp-gui jp-interface ">
						<div class="jp-controls-holder flex-container-h">
							<div class="jp-thumb-theme flex-item">
							</div>

							<div class="jp-timeline flex-item-fluid">
								<div class="jp-infos-title" data-infostitle></div>
								<div class="jp-progress">
									<div class="jp-seek-bar">
										<div class="jp-play-bar"></div>
									</div>
								</div>								
							</div>

							

							<div class="jp-controls-wrapper flex-item pull-right">
								<div class="jp-controls flex-container-v mbm clearfix plm prm">
									<div class="jp-controls-buttons flex-item align-right"> 
										<button class="jp-previous" role="button" tabindex="0">
											<svg class="icon icon-alone icon--s icon-first"><use xlink:href="#icon-first"></use></svg>
										</button>
										<button class="jp-play" role="button" tabindex="0">
											<svg class="icon icon-alone icon--s icon-play"><use xlink:href="#icon-play"></use></svg>
										</button>
										<button class="jp-pause">
											<svg class="icon icon-alone icon--s icon-pause"><use xlink:href="#icon-pause"></use></svg>
										</button>
										<button class="jp-stop" role="button" tabindex="0">
											<svg class="icon icon-alone icon--s icon-stop"><use xlink:href="#icon-stop"></use></svg>
										</button>
										<button class="jp-next" role="button" tabindex="0">
											<svg class="icon icon-alone icon--s icon-last"><use xlink:href="#icon-last"></use></svg>
										</button>
									</div>

									<div class="jp-volume-toggles flex-item align-right"> 
										<div class="jp-volume-controls">
											<div class="block clearfix">
												<button class="jp-mute btn btn-default pull-left" role="button" tabindex="0">
													<svg class="icon icon--xs  icon-volume-off"><use xlink:href="#icon-volume-off"></use></svg>
												</button>
												<button class="jp-volume-max btn btn-default align-right pull-right" role="button" tabindex="0">
													<svg class="icon icon--xs  icon-volume-up"><use xlink:href="#icon-volume-up"></use></svg>
												</button>
											</div>
											<div class="jp-volume-bar">
												<div class="jp-volume-bar-value"></div>
											</div>
										</div>
								
									</div>
								</div>
							</div>
							
						</div>
						
					
					</div>
					<div class="jp-playlist">
						<div class="jp-playlist-inner">
							<ul class="unstyled">
								<li>&nbsp;</li>
							</ul>
						</div>
					</div>
					<div class="jp-no-solution">
						<span>Update Required</span>
						To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
					</div>
				</div>
		</div>
	</div>
{% endmacro %}