{% macro playlist(theme,joggeur) %}


<div class='playlist-body'>
	{# liste envoyée au jplayer / invisible #}
	<div class='dn'>
		{% if theme is not null %}
			{% if theme.musicTitles is not null %}		
				<ul class='musicTitlesListe'>
					{% for musicTitle in theme.musicTitles %}
						{%  if musicTitle.joggeur.image is null or musicTitle.joggeur.image is empty %}
							{% set imagePlaylist = "uploads/img/anonymous.jpg"|imagine_filter('tiny_thumb') %}		
						{% else %}
							{% set imagePlaylist = musicTitle.joggeur.image.webPath|imagine_filter('tiny_thumb') %}
						{% endif %}
						<li class='musicTitleItem' data-id='{{ musicTitle.id }}' data-titre='{{ musicTitle.titre }}'  data-artiste='{{ musicTitle.joggeur.pseudo  }}' data-thumb='{{ imagePlaylist }}' data-path='{{ asset(musicTitle.webPath) }}'>
								{{ musicTitle.id }} - {{ musicTitle.titre }} -  {{ musicTitle.webPath }}
						</li>										
					{% endfor %}
				</ul>
			{% endif %}
		{% elseif joggeur is not null %}								
			{% if joggeur.musicTitles is not null %}
				<ul class='musicTitlesListe'>
					{% for musicTitle in joggeur.musicTitles %}
						{% if musicTitle.theme.image is null %}
							{% set imagePlaylist = "" %}
						{% else %}
							{% set imagePlaylist = musicTitle.theme.image.webPath | imagine_filter('tiny_thumb') %}
						{% endif %}
						<li class='musicTitleItem' data-id='{{ musicTitle.id }}' data-titre='{{ musicTitle.titre }}'  data-artiste='theme / {{ musicTitle.theme.titre }}' data-thumb='{{ imagePlaylist }}' data-path='{{ asset(musicTitle.webPath) }}'>
							{{ musicTitle.id }} - {{ musicTitle.titre }} -  {{ musicTitle.webPath }}
							
						</li>					
					{% endfor %}
				</ul>
			{% endif %}
		{% endif %}
	</div>
	{# fin liste envoyée au jplayer  #}



					
	<div id="" class="jp-jplayer"></div>
		<div id="" class="jp-container jp-audio" role="application" aria-label="media player">
			<div class="jp-type-playlist">
				<div class="jp-gui jp-interface z-2 outset-frame_pl pa2 mv3" data-id="playlist-header">
					<div class="jp-controls-holder outset-frame_inner_pl pv3 ph4">
						<div class="jp-controls flex flex-auto flex-wrap justify-center mb3">
							<button class="button-player jp-previous mh1" role="button" tabindex="0">
								<svg class="icon icon--xs"><use xlink:href="#icon-first"></use></svg>
							</button>
							<button class="button-player jp-play mh1" role="button" tabindex="0">
								<svg class="icon icon--xs"><use xlink:href="#icon-play"></use></svg>
							</button>
							<button class="button-player jp-pause mh1">
								<svg class="icon icon--xs"><use xlink:href="#icon-pause"></use></svg>
							</button>
							<button class="button-player jp-stop mh1" role="button" tabindex="0">
								<svg class="icon icon--xs"><use xlink:href="#icon-stop"></use></svg>
							</button>
							<button class="button-player jp-next mh1" role="button" tabindex="0">
								<svg class="icon icon--xs"><use xlink:href="#icon-last"></use></svg>
							</button>
						</div>

						<div class="jp-timeline pv2">
							<div class="jp-infos-title f5 tc" data-infostitle>
								{# contenu dynamique via marathon-jplayer.js #}
							</div>
							<div class="jp-progress w-100 h2">
								<div class="jp-seek-bar bg-ms-turquoise h-100">
									<div class="jp-play-bar bg-near-black h-100"></div>
								</div>
							</div>
							<div class="w-100 cf pv2">
								<div class="jp-duration fr" role="timer" aria-label="duration">&nbsp;</div>
								<div class="jp-current-time fl" role="timer" aria-label="time">&nbsp;</div>
							</div>
						</div>
						
						<div class="jp-sub-toggles flex flex-auto flex-wrap justify-between pt2 w-100"> 
							<div class="flex-item jp-volume-controls w-40 ">
								<div class="cf">
									<button class="jp-mute button-nude fl" role="button" tabindex="0">
										<svg class="icon icon--xs"><use xlink:href="#icon-volume-off"></use></svg>
									</button>
									<button class="jp-volume-max button-nude fr" role="button" tabindex="0">
										<svg class="icon icon--xs"><use xlink:href="#icon-volume-up"></use></svg>
									</button>
								</div>
								<div class="jp-volume-bar h1 bg-dark-gray pointer">
									<div class="jp-volume-bar-value bg-ms-turquoise h-100"></div>
								</div>
							</div>

							<div class="flex-item jp-toggles w-60 tr">
								<button class="jp-repeat button-player" role="button" tabindex="0">
									<svg class="icon icon-alone icon--xs icon-repeat"><use xlink:href="#icon-repeat"></use></svg>
								</button>
								<button class="jp-shuffle button-player" role="button" tabindex="0">
									<svg class="icon icon-alone icon--xs icon-shuffle"><use xlink:href="#icon-shuffle"></use></svg>
								</button>
							</div> 							
						</div>
					</div>				
				</div>

				<div class="jp-playlist">
					<div class="jp-playlist-inner">
						<ul class="list pl0 mt0">
							<li>&nbsp;</li>
						</ul>
					</div>

					
				</div>
				<div class="jp-no-solution">
					<span>Update Required</span>
					To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
				</div>
			</div>
	</div>
</div>

{% endmacro %}