{# MACRO PODIUM #}
{% macro podium_medaillon(joggeurScore,loopindex) %}
	{% import _self as self %}

	{% set totalFastpoints = 0 %}
	{% set totalHeartpoints = 0 %}
	{% set totalTakenpoints = 0 %}	
	{% for score in joggeurScore.scores %}
		{% set totalFastpoints =  totalFastpoints + score.fastpoints %}
		{% set totalHeartpoints =  totalHeartpoints + score.heartpoints %}
		{% set totalTakenpoints =  totalTakenpoints + score.takenpoints %}
	{% endfor %}




    {% if loopindex == 1 %}
		{% set podiumColor = "ms-gold" %}
		{% set classPodium = "order-2 z-5" %}
	{% elseif loopindex == 2 %}
		{% set podiumColor = "ms-purple" %}
		{% set classPodium = "order-3 z-4" %}
	{% elseif loopindex == 3 %}
		{% set podiumColor = "ms-bleu-bright" %}
		{% set classPodium = "order-1 z-3" %}
	{% endif %}


	<div class="podium {{ classPodium }} podium-{{ loopindex }} flex-item w-33 ">
		<div class="bg-{{ podiumColor }} w-90 h-100 center flex flex-auto flex-wrap">
			<div class="flex-item self-start f2 dark-gray tc fw1 pt3 w-100">{{ loopindex }}</div>
			<a class="flex-item self-end w-100 center" href="{{ path('tds_marathon_joggeur_view', {'id': joggeurScore.joggeur.id}) }}">
				<div class="medaillon-round">
				    {% if joggeurScore.joggeur.image is not null %}
			  			<img src="{{ joggeurScore.joggeur.image.webPath | imagine_filter('medium_thumb') }}" alt="{{ joggeurScore.joggeur.image.alt }}">
			  		{% else %}
			  			<img src="{{ 'uploads/img/anonymous.jpg' | imagine_filter('medium_thumb') }}" alt="">		
					{% endif %}
				</div>
			</a>

			<div class="w-100 flex-item self-end pa1">
				<h4 class="tc f5 ma0 pa0">{{ joggeurScore.joggeur.pseudo }}</h4>
				<div class="tc f4">{{ joggeurScore.total }} pts</div>
									
				<div class="flex flex-auto flex-wrap justify-center  {{ podiumColor }} pt3">
					{{ self.scores_miniblock_vertical(totalFastpoints,"#icon-fast",podiumColor) }}
					{{ self.scores_miniblock_vertical(totalHeartpoints,"#icon-heart2",podiumColor,"pa1") }}
					{% if totalTakenpoints != 0 %}
						{{ self.scores_miniblock_vertical(totalTakenpoints,"#icon-minus",podiumColor,"pv1") }}
					{% endif %}
				</div>						
			</div>
		</div>
	</div>
{% endmacro %}
{# FIN MACRO PODIUM #}




{# ///////////////////////////////////////////////////////// #}
{# ///////////////////////////////////////////////////////// #}
{# ///////////////////////////////////////////////////////// #}





{# MACRO WALL OF FAME JOGGEUR #}
{% macro wof_medaillon(wof_joggeur,intitule,desc) %}
	{% import _self as self %}

	{% set totalHeartpoints = 0 %}
	{% set totalTakenpoints = 0 %}
	{% set totalFastpoints = 0 %}	
	{% for score in wof_joggeur.joggeurScore.scores %}
		{% set totalFastpoints =  totalFastpoints + score.fastpoints %}
		{% set totalHeartpoints =  totalHeartpoints + score.heartpoints %}
		{% set totalTakenpoints =  totalTakenpoints + score.takenpoints %}
	{% endfor %}



	<div class="bg-white-20 pa1 min-h-100 flex flex-wrap tc">
		<a class="medaillon-round" href="{{ path('tds_marathon_joggeur_view', {'id': wof_joggeur.id}) }}">								
			{% if wof_joggeur.image is not null %}
				<img class="" src="{{ wof_joggeur.image.webPath | imagine_filter('medium_thumb') }}" alt="{{ wof_joggeur.image.alt }}">
			{% else %}
		  		<img src="{{ 'uploads/img/anonymous.jpg' | imagine_filter('medium_thumb') }}" alt="">		
			{% endif %}
		</a>

		<div class="relative w-100 self-end tc">
			<div class="pb3">
				<h4 class="ma0 pa0">{{ intitule }}</h4>
				<i class="f7">{{ desc }}</i>
			 	<div class="pt3">{{ wof_joggeur.pseudo }}</div>
			</div>

			<div class="relative bottom-0 b--dashed bb-0 bt bl-0 br-0 pt3">
				<div class="score f4">{{ wof_joggeur.joggeurScore.total }} pts</div>
				<div class="flex flex-auto flex-wrap justify-center mt3">
					{{ self.scores_miniblock_vertical(totalFastpoints,"#icon-fast","ms-gold") }}
					{{ self.scores_miniblock_vertical(totalHeartpoints,"#icon-heart2","ms-gold","pa1") }}
					{% if totalTakenpoints != 0 %}
						{{ self.scores_miniblock_vertical(totalTakenpoints,"#icon-minus","ms-gold","pv1") }}
					{% endif %}
				</div>
			</div>
		</div>
	</div>		 
{% endmacro %}
{# FIN MACRO WALL OF FAME JOGGEUR #}




{# ///////////////////////////////////////////////////////// #}
{# ///////////////////////////////////////////////////////// #}
{# ///////////////////////////////////////////////////////// #}





{# MACRO MEDAILLON SCORE PAR THEME #}
{% macro theme_medaillon(score) %}
	{% import _self as self %}

	<div class="score-item-theme wof-item flex-item pa1 w-33">									
		<div class="bg-white-20 pa1 min-h-100 flex flex-wrap">		
			<a class="medaillon-round" href="{{ path('tds_marathon_theme_view', {'id': score.theme.id}) }}">
			    {% if score.theme.image is not null %}
		  			<img class="" src="{{ score.theme.image.webPath | imagine_filter('medium_thumb') }}" alt="{{ score.theme.image.alt }}"/>	
				{% endif %}
			</a>

			<div class="relative w-100 self-end">
				<div class="pb3">
					<strong class="db tc">{{ score.theme.titre }}</strong> 
					<span class='db score f5 tc'>{{ score.totalTheme }} pts</span>
				</div>

				<div class="relative bottom-0 b--dashed bb-0 bt bl-0 br-0 pt3">
					<div class="flex flex-auto flex-wrap justify-center mt3">
							{{ self.scores_miniblock_vertical(score.fastpoints,"#icon-fast","ms-gold") }}
							{{ self.scores_miniblock_vertical(score.heartpoints,"#icon-heart2","ms-gold","pa1") }}
							{% if score.takenpoints != 0 %}
								{{ self.scores_miniblock_vertical(score.takenpoints,"#icon-minus","ms-gold","pv1") }}
							{% endif %}
					</div>
				</div>
			</div>
		</div>					      						
	</div>
{% endmacro %}
{# FIN MACRO MEDAILLON SCORE PAR THEME #}




{# ///////////////////////////////////////////////////////// #}
{# ///////////////////////////////////////////////////////// #}
{# ///////////////////////////////////////////////////////// #}





{# MACRO LISTE LA TOTALE #}
{% macro scores_latotale(joggeurScore,loopindex) %}
	{% import _self as self %}

	{% set totalHeartpoints = 0 %}
	{% set totalTakenpoints = 0 %}
	{% set totalFastpoints = 0 %}	
	{% for score in joggeurScore.scores %}
		{% set totalFastpoints =  totalFastpoints + score.fastpoints %}
		{% set totalHeartpoints =  totalHeartpoints + score.heartpoints %}
		{% set totalTakenpoints =  totalTakenpoints + score.takenpoints %}
	{% endfor %}


	
	<a class="flex flex-auto flex-wrap justify-between-ns w-100 bg-white-30 mb2  no-underline near-black pa1" href="{{ path('tds_marathon_joggeur_view', {'id':  joggeurScore.joggeur.id}) }}">
	<div class="self-center-ns flex flex-auto">
		<span class="thumbnail--m thumbnail--s-ns self-center ">
			{% if joggeurScore.joggeur.image is not null %}
				<img class='db w-100' src='{{ joggeurScore.joggeur.image.webPath | imagine_filter('tiny_thumb')  }}'/> 
			{% else %}
			  	<img class='db w-100' src="{{ 'uploads/img/anonymous.jpg' | imagine_filter('tiny_thumb') }}" alt="">		
			{% endif %}
		</span>

	
		<div class="flex flex-0 flex-auto-ns flex-wrap-ns self-center pl2 pl3-ns ">
			<h4 class="fw1 f6 ma0 pa0 self-center ">{{ loopindex }} - {{ joggeurScore.joggeur.pseudo }}</h4>
			<span class="f5 flex self-center pl2">{{ joggeurScore.total }} pts</span>
		</div>
	</div>	
		
	<div class="flex-ns self-center">
			{{ self.scores_miniblock_horizontal(totalFastpoints,"#icon-fast","ms-purple","icon--s") }}
			{{ self.scores_miniblock_horizontal(totalHeartpoints,"#icon-heart2","ms-purple","icon--xs") }}
			{% if totalTakenpoints != 0 %}
				{{ self.scores_miniblock_horizontal(totalTakenpoints,"#icon-minus","ms-purple","icon--s") }}
			{% endif %}
		</div>
	</a>
{% endmacro %}
{# FIN MACRO LISTE LA TOTALE #}





{# ///////////////////////////////////////////////////////// #}
{# ///////////////////////////////////////////////////////// #}
{# ///////////////////////////////////////////////////////// #}





{# MACRO MINI BLOCK SCORE VERTICAL / coeur - vitesse - retire #}
{% macro scores_miniblock_vertical(typepoints,icon,color,extraclass) %}
	<div class="content-center w-33">
		<div class="ma1-ns bg-near-black bl br b--{{ color }}">
			<div class="w-100 bb b--white-10 pa1 pa0-ns">
				<svg class="icon icon--xs icon--s-ns fill-{{ color }} db center {{ color }}" ><use xlink:href="{{ icon }}"></use></svg>
			</div>
			<span class="db center tc {{ color }} pa1">{{ typepoints }}</span>
		</div>
	</div>
{% endmacro %}
{# FIN MACRO MINI BLOCK SCORE #}


{# MACRO MINI BLOCK SCORE HORIZONTAL / coeur - vitesse - retire #}
{% macro scores_miniblock_horizontal(typepoints,icon,color,extraclass) %}
	<div class="content-center flex w-100-ns">
		<div class="bg-near-black bl br b--{{ color }} ph1 ml1 flex items-center">
			<div class="w-100 br b--white-10 flex pr1">
				<svg class=" icon {{ extraclass }} fill-{{ color }}"><use xlink:href="{{ icon }}"></use></svg>
			</div>
			<span class="flex {{ color }} pl1">{{ typepoints }}</span>
		</div> 
	</div>
{% endmacro %}
{# FIN MACRO MINI BLOCK SCORE #}





{# ///////////////////////////////////////////////////////// #}
{# ///////////////////////////////////////////////////////// #}
{# ///////////////////////////////////////////////////////// #}





{# MACRO LEGENDE #}
{% macro scores_legende() %}
	<div class="legende tc f7 black-50 i">
		<span class="dib v-mid">Légende [</span>
		<svg class="icon icon--xs dib v-mid fill-black-50" ><use xlink:href="#icon-fast"></use></svg>
		<span>points vitesse |</span> 
		<svg class="icon icon--xs dib v-mid ml2 fill-black-50" ><use xlink:href="#icon-heart2"></use></svg>
		<span class="dib v-mid">points bisous |</span>
		<svg class="icon icon--xs dib v-mid ml2 fill-black-50" ><use xlink:href="#icon-minus"></use></svg>
		<span class="dib v-mid">points retirés ]</span>
	</div>
{% endmacro %}
{# FIN MACRO LEGENDE #}




