{% macro vignette(theme) %}
    {% if theme.statut is null or theme.statut != 0 or (is_granted("ROLE_SUPER_ADMIN","ROLE_USER") and theme.statut == 0 and theme.joggeur == app.user.joggeur ) %}
	    {% if theme.statut == 0 and theme.joggeur == app.user.joggeur %}
	     	<div class='col col-xs-6 col-md-3 col-lg-2 list-item vignette-item col-draftmode-theme man pan'>
	     					    		
		{% else %}
		    <div class='col col-xs-6 col-md-3 col-lg-2 list-item vignette-item man pan'>
		{% endif %}
		    		

	    		<a class="thumbnail paxs" href="{{ path('tds_marathon_theme_view', {'id': theme.id}) }}">

		    		<div class="square">
					    {% if theme.image is not null %}
				  			<img class="" src="{{ theme.image.webPath | imagine_filter('medium_thumb') }}" alt="{{ theme.image.alt }}">
						{% endif %}
						
						{% if theme.statut == 0 and theme.joggeur.id == app.user.joggeur.id %}
		    				<div class="ribbon">
								<div class="line flex-container-h align-center">							
									<svg class="icon icon--l icon-warning"><use xlink:href="#icon-warning"></use></svg>
									<span class="flex-item-fluid mls">Theme en attente crée par toi</strong></span>
								</div>
							</div>
		    			{% endif %}

					    <div class='inner-item-text'>
					    	<div class="relative">

						    	<h3 class="man">{{ theme.titre }}</h3>

						    	<div class="musictitle-count">
						    		<svg class="icon icon-cd"><use xlink:href="#icon-cd"></use></svg>
						    		<span>{{ theme.musicTitles|length  }}</span>
						    	</div>

						    	<div class="comment-count">
								    <svg class="icon icon--m icon-dialog-icon"><use xlink:href="#icon-dialog-icon"></use></svg>
								    {% if theme.thread is defined and theme.thread is not null %}
									    <span>{{ theme.thread.numComments }}</span>
									{% else %}
									    <span>0</span>
								    {% endif %}										
								</div>
								{% if theme.chronique is defined and theme.chronique is not null %}
									<div class="has-chronique align-right pull-right">
										<svg class="icon icon--m icon-newspaper"><use xlink:href="#icon-newspaper"></use></svg>
									</div>
								{% endif %}
								
					    	</div>
					    </div>	
					</div>					    		
	    		</a>
	    		{% if is_granted("ROLE_SUPER_ADMIN") %}
                    <a class='button btn btn-action btn-liste-delete btn-theme-delete mrs mts' data-delete data-href="{{ path('tds_marathon_theme_delete', {'id': theme.id}) }} "  data-pseudo="{{ theme.titre }}">
                        <svg class="icon icon-alone icon--s icon-cancel"><use xlink:href="#icon-cancel"></use></svg>
                    </a>
                {% endif %}				    		
		</div>
    {% endif %}
{% endmacro %}