{% extends "TdSMarathonBundle::layout.html.twig" %}

{% block title %}
  Marathon - {{ parent() }}
{% endblock %}

{% block tdsmarathon_body %}
	<div id="content" class="bg--lightgrey pam pbxxl">
		{% for joggeur in listeJoggeurs %}
			<div class="row classement sep--dashed">
				<h3 class='col col-md-5'>{{ loop.index }} - {{ joggeur.pseudo }}</h3>
				<div>
					<div class='col col-md-2'>
						<strong class="glyphicon glyphicon-tower">												
							{{ joggeur.score }}						
						</strong>
					</div>
					<div class='col col-md-2'>
						<span class="glyphicon glyphicon-heart">
							{{ joggeur.lastheartpoints }}
						</span>
					</div>
					<div class='col col-md-2'>
						<span class="glyphicon glyphicon-scale">
							{{ joggeur.lastfastpoints }}
						</span>
					</div>
				</div>
			</div>		
		{% endfor %}
	</div>
{% endblock %}