{% extends "TdSMarathonBundle::layout.html.twig" %}

{% block title %}
  Marathon - {{ parent() }}
{% endblock %}

{% block tdsmarathon_body %}
	<div id="content" class="bg--lightgrey pam pbxxl">
		<div class="classement">
			<h1 class="main-title man pbm align-center">
				<span>Classement</span><br/>
				{% for saison in listeSaisons %}
					<span><a href="{{ path('tds_marathon_joggeur_classement', {'saisonid' : saison.id }) }}">{{ saison.titre }}</a></span>
				{% endfor %}
			</h1>
			
			<div class="sep">
				
      			{% for joggeurScore in listeJoggeursScore %}
      				<div class="sep">
	      				<h2 class="sub-title man">{{ loop.index }} - {{ joggeurScore.joggeur.pseudo }} / {{ joggeurScore.total }}</h2>
	      				{% for score in joggeurScore.scores %}
	      					<div class="pbs sep--dashed">
	      						<span class="pls mls block"><strong>{{ score.theme.saison.titre }}</strong> -> {{ score.theme.titre }} : {{ score.totalTheme }}
	      						(points coeurs : {{ score.heartpoints }}, points vitesse : {{ score.fastpoints }})</span>
	      					</div>
		      			{% endfor %}
	      			</div> 
      			{% endfor %}
			</div>

			</div>
		</div>
	</div>
{% endblock %}