
<div class="form-wrapper">

    {{ form_start(form) }}


    <form class='form-horizontal' method="post" {{ form_enctype(form) }}>

        {{ form_errors(form) }}



        <input type="hidden" name="_target_path" value="{{ app.request.headers.get('referer') }}" />

        <div class="form-group form-flex form-input-title f4">
            {{ form_label(form.pseudo, "Pseudo", {'label_attr': {'class': 'form-label control-label'}}) }}
            {{ form_errors(form.pseudo) }}
            <div class="form-widget w-100 w-40-ns">
              {{ form_widget(form.pseudo, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
          <div class="mb4">
              {% if joggeur.image is defined and joggeur.image is not null %}
                <div class="form-flex mb2">
                  <span class="form-label control-label self-center w-40">Image précédemment uploadée</span>
                  <img class='form-widget self-center' src='{{ joggeur.image.webPath | imagine_filter('small_thumb')  }}'/>
                </div>
              {% endif %}
              <div class="form-flex">
                  {{ form_label(form.image, "Ajouter/Modifier une image", {'label_attr': {'class': 'form-label control-label w-40'}}) }}
                  
                  <div class='form-widget'>
                    {{ form_widget(form.image,{'attr':{'class':''}}) }}
                  </div>
              </div>

          </div>
          


          <div class="form-flex">
              {{ form_label(form.presentation, "presentation", {'label_attr': {'class': 'form-label control-label'}}) }}
              {{ form_errors(form.presentation) }}
              <div class="form-widget w-100 w-70-ns">
                  {{ form_widget(form.presentation) }}
              </div>
          </div>
        </div>

        


        <fieldset class="form-group">
          <div class="form-flex">
              <div class="form-label flex flex-auto justify-center">
                  <span class="self-center pr2">Site Web</span>
                  <div class="self-end">
                      <span class="button-becky db" data-info="la zone 'nom' apparaîtra sur la page d'accueil publique (colonne 'pas loin') donc intitule le au mieux pour qu'on puissse te reconnaître<br/>Sur ton profil, c'est l'url seule qui est affichée" data-btn-becky>
                          {% set webpath = "bundles/tdsbecky/images/rebecca.png" %}
                          <img class="w-100 db" src="{{ webpath | imagine_filter('becky_thumb') }}" alt="becky">
                      </span>
                  </div>
              </div>
              <div class="form-flex justify-center">
                  <div class="form-flex">
                      {{ form_label(form.website.name, "nom", {'label_attr': {'class': 'form-label control-label'}}) }}
                      {{ form_errors(form.website.name) }}
                      <div class="form-widget self-center w-100 w-70-ns">
                        {{ form_widget(form.website.name, {'attr': {'class': 'form-joggeur-website'}}) }}
                      </div>
                  </div>

                  <div class="form-flex">
                      {{ form_label(form.website.url, "url", {'label_attr': {'class': 'form-label control-label'}}) }}
                      {{ form_errors(form.website.url) }}
                      <div class="form-widget self-center w-100 w-70-ns">
                        {{ form_widget(form.website.url, {'attr': {'class': 'form-joggeur-website w-100'}}) }}
                      </div>
                  </div>
              </div>
          </div>

          <div class="form-flex mt4">
              {{ form_label(form.mail, "Email", {'label_attr': {'class': 'form-label control-label'}}) }}
              {{ form_errors(form.mail) }}
              <div class="form-widget w-100 w-70-ns">
                {{ form_widget(form.mail, {'attr': {'class': 'form-control w-100'}}) }}
              </div>
          </div>
        </fieldset>
        
        
        
        <div class="center tc pb4">
            <div class="button button-save">
              <svg class="icon icon--xs icon-checkmark"><use xlink:href="#icon-checkmark"></use></svg>  
               {{ form_widget(form.valider, {'attr': {'value': 'valider'}}) }}
            </div>
        </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}  
    </form> 
</div>









