<div>
	{% import "TdSCoreBundle:Macros:scores-elements.html.twig" as scoresElementsModule %}


	{% if joggeurScore is defined and joggeurScore is not empty and joggeurScore is not null %}
		<div class="">
			{% set saison = "" %}
			{% for score in joggeurScore.scores %}
				{% if saison is empty %}
					{% set saison = score.theme.saison.titre %}
					<div class="b--dashed bt br-0 bl-0 bb-0">
					<h3 class="tc">{{ saison }}</h3>
				{% endif %}


				{% if saison != score.theme.saison.titre %}
					{% set saison = score.theme.saison.titre %}
					</div>
					<div class="b--dashed bt br-0 bl-0 bb-0">
					<h3 class="tc">{{ saison }}</h3>				
				{% endif %}

				<a class="flex flex-wrap flex-row items-center mb2 no-underline near-black w-100"  href="{{ path('tds_marathon_theme_view', {'id': score.theme.id}) }}">
							<div class="flex-item thumbnail--m">
								<img class="" src="{{ score.theme.image.webPath | imagine_filter('tiny_thumb') }}" alt="{{ score.theme.image.alt }}">
							</div>
																						
							<span class="flex-item flex-auto ph2">{{ score.theme.titre }} : {{ score.totalTheme }}
							</span>

							<div class="self-center flex">


								{{ scoresElementsModule.scores_miniblock_horizontal(score.fastpoints,"#icon-fast","ms-bleu","icon--s") }}
								{{ scoresElementsModule.scores_miniblock_horizontal(score.heartpoints,"#icon-heart2","ms-bleu","icon--xs") }}
								{% if score.takenpoints != 0 %}
									{{ scoresElementsModule.scores_miniblock_horizontal(score.takenpoints,"#icon-minus","ms-bleu","icon--s") }}
								{% endif %}

							</div>
				</a>							
			{% endfor %}
			</div>
		</div>
	{% endif %}
</div>