<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">

	  <title>{% block title %}Le Marathon de la Semaine{% endblock %}</title>
	  <link href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
	  
   	  <link href="{{ asset('bundles/tdsmarathon/css/styles.css') }}" rel='stylesheet' type='text/css'>   	
	  
	  
	  <script src="{{ asset('js/jquery-2.1.4.min.js') }}" type="text/javascript"></script> 
	  <script src="{{ asset('js/jquery-ui.min.js') }}" type="text/javascript"></script>


	</head>

	{% import "TdSCoreBundle:Macros:becky.html.twig" as beckyModule %}
	{% import "TdSCoreBundle:Macros:header-nav.html.twig" as headernavModule %}
	{% import "TdSCoreBundle:Macros:footer.html.twig" as footerModule %}
	{% import "TdSCoreBundle:Macros:playlist-wrapper.html.twig" as playlistWrapperModule %}  
	{% import "TdSCoreBundle:Macros:playlist.html.twig" as playlistModule %} 
	{% import "TdSCoreBundle:Macros:article-wrapper.html.twig" as articleWrapperModule %}
	{% import "TdSCoreBundle:Macros:lois.html.twig" as loisModule %}


	<svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-home" viewBox="0 0 1024 1024">
<title>home</title>
<path class="path1" d="M1024 590.444l-512-397.426-512 397.428v-162.038l512-397.426 512 397.428zM896 576v384h-256v-256h-256v256h-256v-384l384-288z"></path>
</symbol>
<symbol id="icon-checkmark" viewBox="0 0 1024 1024">
<title>checkmark</title>
<path class="path1" d="M927.936 272.992l-68.288-68.288c-12.608-12.576-32.96-12.576-45.536 0l-409.44 409.44-194.752-196.16c-12.576-12.576-32.928-12.576-45.536 0l-68.288 68.288c-12.576 12.608-12.576 32.96 0 45.536l285.568 287.488c12.576 12.576 32.96 12.576 45.536 0l500.736-500.768c12.576-12.544 12.576-32.96 0-45.536z"></path>
</symbol>
<symbol id="icon-cancel" viewBox="0 0 1024 1024">
<title>cancel</title>
<path class="path1" d="M626.784 512.032l195.072 195.072c12.672 12.672 12.672 33.248 0 45.92l-68.832 68.832c-12.672 12.672-33.216 12.672-45.92 0l-195.104-195.072-195.104 195.072c-12.672 12.672-33.216 12.672-45.888 0l-68.864-68.832c-12.672-12.672-12.672-33.216 0-45.92l195.104-195.072-195.104-195.104c-12.672-12.672-12.672-33.248 0-45.92l68.896-68.832c12.672-12.672 33.216-12.672 45.888 0l195.072 195.104 195.104-195.104c12.672-12.672 33.216-12.672 45.92 0l68.832 68.864c12.672 12.672 12.672 33.216 0 45.92l-195.072 195.072z"></path>
</symbol>
<symbol id="icon-none" viewBox="0 0 1024 1024">
<title>none</title>
<path class="path1" d="M512.207 0c131.118 0 262 49.947 361.815 149.762 199.628 199.63 200.072 524.884 0.438 724.514-199.628 199.63-525.329 199.632-724.956 0-199.632-199.63-199.188-524.884 0.438-724.514 99.813-99.815 231.136-149.762 362.257-149.762h0.007zM512.207 96.307c-106.159 0-212.458 40.606-293.782 121.93-151.114 151.114-161.897 388.027-32.251 551.338 0.712-0.76 1.449-1.497 2.211-2.209l580.935-581.378c-75.357-59.757-166.112-89.681-257.112-89.681v0zM837.796 254.463l-580.938 580.937c-0.846 0.919-1.73 1.804-2.649 2.652 163.344 129.502 400.732 118.797 551.779-32.25 151.035-151.036 161.316-388.036 31.808-551.339v0z"></path>
</symbol>
<symbol id="icon-spinner11" viewBox="0 0 1024 1024">
<title>spinner11</title>
<path class="path1" d="M1024 384h-384l143.53-143.53c-72.53-72.526-168.96-112.47-271.53-112.47s-199 39.944-271.53 112.47c-72.526 72.53-112.47 168.96-112.47 271.53s39.944 199 112.47 271.53c72.53 72.526 168.96 112.47 271.53 112.47s199-39.944 271.528-112.472c6.056-6.054 11.86-12.292 17.456-18.668l96.32 84.282c-93.846 107.166-231.664 174.858-385.304 174.858-282.77 0-512-229.23-512-512s229.23-512 512-512c141.386 0 269.368 57.326 362.016 149.984l149.984-149.984v384z"></path>
</symbol>
<symbol id="icon-plus" viewBox="0 0 1024 1024">
<title>plus</title>
<path class="path1" d="M992 384h-352v-352c0-17.672-14.328-32-32-32h-192c-17.672 0-32 14.328-32 32v352h-352c-17.672 0-32 14.328-32 32v192c0 17.672 14.328 32 32 32h352v352c0 17.672 14.328 32 32 32h192c17.672 0 32-14.328 32-32v-352h352c17.672 0 32-14.328 32-32v-192c0-17.672-14.328-32-32-32z"></path>
</symbol>
<symbol id="icon-pencil" viewBox="-51.399 -1 264.473 264.566">
<title>pencil</title>
<path d="M66.06 248.88l14.777 14.687 14.688-14.688M52.804 183.856V47.366H9.366v136.94L31.31 166.39"/><path d="M105.2 194.515l-24.63-20.062-24.63 20.062-24.63-20.062-21.944 18.002L59.79 242.61h42.094l50.424-50.155-22.48-18.002M134.664-1H27.01C17.25-1 9.366 7.777 9.366 18.704v22.39h142.94v-22.39C152.308 7.777 144.426-1 134.664-1z"/><path d="M102.064 183.856V47.366h-42.99v136.49l21.496-17.464M108.333 183.856l21.495-17.464 22.48 18.27V47.366h-43.975"/>
</symbol>
<symbol id="icon-eye" viewBox="0 0 1120 1024">
<title>eye</title>
<path class="path1" d="M549.184 138.912c-337.984 0-549.184 373.088-549.184 373.088s209.184 373.088 549.184 373.088c318.016 0 559.392-373.088 559.392-373.088s-239.392-373.088-559.392-373.088zM552.192 680.032c-92.608 0-167.616-75.040-167.616-167.616s75.040-167.648 167.616-167.648 167.648 75.072 167.648 167.648-75.072 167.616-167.648 167.616zM553.216 428.608c-46.080 0-83.424 37.376-83.424 83.424 0 46.080 37.344 83.424 83.424 83.424s83.424-37.344 83.424-83.424c0.032-46.048-37.312-83.424-83.424-83.424z"></path>
</symbol>
<symbol id="icon-key" viewBox="0 0 1024 1024">
<title>key</title>
<path class="path1" d="M570.784 561.344l-321.568 321.568c-24.896 24.896-65.376 24.832-90.368-0.16-24.992-24.96-25.056-65.44-0.16-90.336l24.448-24.448-69.28-69.312c-12.512-12.48-12.544-32.704-0.096-45.184 12.48-12.48 32.672-12.416 45.184 0.096l69.312 69.312 22.56-22.56-24.064-24.064c-12.512-12.512-12.544-32.704-0.064-45.184 12.448-12.448 32.672-12.448 45.184 0.064l24.032 24.064 22.56-22.56-69.312-69.312c-12.512-12.512-12.544-32.672-0.064-45.152 12.448-12.48 32.672-12.448 45.184 0.064l69.28 69.312 116.768-116.768c-75.68-105.44-85.088-231.296-15.36-300.992 80.96-80.96 237.792-55.424 350.24 57.056s138.016 269.28 57.024 350.24c-69.792 69.792-195.904 60.224-301.44-15.744zM747.168 294.464c-49.984-49.984-115.776-65.28-146.912-34.112s-15.872 96.896 34.112 146.912c49.984 49.984 115.744 65.248 146.912 34.112s15.84-96.928-34.112-146.912z"></path>
</symbol>
<symbol id="icon-locked" viewBox="0 0 1024 1024">
<title>locked</title>
<path class="path1" d="M128 992v-512h96v-160c0-141.376 114.592-256 256-256h32c141.376 0 256 114.624 256 256v160h96v512h-736zM471.808 729.184l-23.808 166.816h96l-23.84-166.816c23.328-9.536 39.84-32.416 39.84-59.2 0-35.328-28.672-64-64-64-35.36 0-64 28.672-64 64 0 26.784 16.48 49.664 39.808 59.2zM672 336c0-97.216-78.816-176-176-176-97.216 0-176 78.784-176 176v144h352v-144z"></path>
</symbol>
<symbol id="icon-becky" viewBox="0 0 1056 1024">
<title>becky</title>
<path class="path1" d="M547.017 1019.786c0 0 161.696 16.855 256.025-16.853 0 0-33.683-84.207-26.95-161.683 0 0-134.758 37.049-229.074 16.829 0 0.012 13.487 37.086 0 161.708z"></path>
<path class="path2" d="M551.12 848.78c0 0 139.030 5.266 217.681-28.829 0 0-33.55-70.006-32.121-136.561 0 0-112.987 39.242-194.677 27.326-0.011 0.001 13.599 30.888 9.118 138.063z"></path>
<path class="path3" d="M546.218 692.858c0 0 119.49-2.918 185.111-36.348 0 0-32.509-58.236-34.845-115.372 0 0-94.791 39.676-165.462 33.804 0.012-0.011 13.331 25.765 15.196 117.915z"></path>
<path class="path4" d="M528.019 562.026c0 0 104.706-12.097 159.676-46.699 0 0-33.175-48.563-39.822-98.567 0 0-80.079 42.437-142.614 42.909 0 0.012 13.753 21.576 22.761 102.357z"></path>
<path class="path5" d="M506.225 445.866c0 0 87.162-19.929 130.288-54.206 0 0-32.496-37.859-42.738-79.401 0 0-63.565 43.211-116.245 49.435 0.001 0.001 13.598 16.904 28.695 84.172z"></path>
<path class="path6" d="M545.527 259.991c0 0-20.572-27.133-53.442-27.508 0 0-67.621 14.54-112.442 41.334l17.762 22.108-41.529-5.679c0 0-25.765 16.333-64.751 60.646l31.831 4.346-36.395 29.094c0 0-81.436 53.805-73.505 357.159 0 0 48.587-144.807 80.733-169.227l-3.814-62.391 24.99 27.908c0 0 39.833-60.307 59.774-65.804 0 0-6.526-62.621 11.041-80.806 0 0 5.788 37.812 19.735 56.18 0 0 96.473-85.576 127.214-93.724 0 0.003 40.731-32.955 12.798-93.637z"></path>
<path class="path7" d="M585.070 308.422c0 0 11.175-32.17-6.768-59.739 0 0-49.593-48.2-96.751-70.636l-8.536 27.036-18.307-37.703c0 0-27.883-12.386-86.375-20.243l14.034 28.901-44.399-14.155c0 0-89.923-37.921-337.97 136.9 0 0 147.458-39.858 185.584-26.648l49.81-37.775-9.371 36.274c0 0 72.282-0.29 87.912 13.245 0 0 48.501-40.149 73.371-35.62 0 0-28.246 25.789-35.801 47.582 0 0 124.719 32.812 148.547 53.89-0.012-0.035 49.992 15.571 85.019-41.31z"></path>
<path class="path8" d="M484.228 293.59c0 0-3.547-33.864 20.171-56.626 0 0 59.28-35.645 110.3-46.747l2.155 28.259 26.419-32.546c0 0 29.991-5.714 88.712-0.048l-20.233 24.954 46.445-3.68c0 0 96.206-16.442 297.905 210.272 0 0-134.478-72.404-174.652-68.214l-39.87-48.139 0.835 37.46c0 0-70.296-16.758-88.603-7.132 0 0-38.091-50.15-63.322-51.396 0 0 21.649 31.541 24.034 54.484 0 0-128.92 3.547-156.913 18.646 0 0.010-52.243 3.823-73.383-59.547z"></path>
<path class="path9" d="M475.667 275.647c0 0-23.015-19.396-21.866-48.442 0 0 15.909-59.060 41.613-97.418l18.706 16.684-3.136-36.928c0 0 15.606-22.011 56.494-54.435l2.397 28.307 27.339-30.826c0 0 51.215-69.472 318.743-48.721 0 0-130.072 36.358-153.099 63.637l-54.944-6.211 23.525 23.344c0 0-55.065 32.436-60.828 49.798 0 0-55.004-8.584-71.87 6.090 0 0 33.137 6.816 48.721 19.978 0 0-79.945 81.314-88.531 108.096 0.012-0.014-30.935 34.457-83.264 7.046z"></path>
</symbol>
<symbol id="icon-newspaper" viewBox="0 0 1080 1024">
<title>newspaper</title>
<path class="path1" d="M721.797 111.894h-587.397c-12.441 0-22.495 10.065-22.495 22.495v251.726c0 12.441 10.065 22.495 22.495 22.495h587.396c12.432 0 22.495-10.065 22.495-22.495v-251.715c0.001-12.441-10.064-22.506-22.494-22.506zM1057.457 167.814h-201.271v-145.318c0-12.43-10.065-22.495-22.495-22.495h-811.195c-12.43-0.011-22.495 10.054-22.495 22.495v867.126c0 74.086 60.294 134.378 134.4 134.378h811.141c74.117 0.011 134.411-60.283 134.411-134.378v-699.312c0-12.43-10.065-22.495-22.495-22.495zM134.4 979.009c-49.3 0-89.409-40.099-89.409-89.377 0-0.832 0.227-1.6 0.238-2.442h-0.227v-842.199h766.205v844.631c0 34.333 13.046 65.598 34.31 89.377l-711.116 0.011zM1034.951 887.192h-0.238c0.022 0.832 0.238 1.6 0.238 2.442 0 49.278-40.099 89.377-89.398 89.377-49.28 0-89.355-40.099-89.355-89.377 0-0.832 0.227-1.6 0.238-2.442h-0.248v-339.461c1.75 0.432 3.564 0.734 5.454 0.734h83.911c12.432 0 22.508-10.065 22.508-22.495s-10.076-22.495-22.508-22.495h-83.911c-1.89 0-3.704 0.302-5.454 0.745v-68.339c1.75 0.443 3.564 0.734 5.454 0.734h83.911c12.432 0 22.508-10.065 22.508-22.495 0-12.441-10.076-22.495-22.508-22.495h-83.911c-1.89 0-3.704 0.302-5.454 0.745v-68.393c1.75 0.443 3.564 0.745 5.454 0.745h83.911c12.432 0 22.508-10.065 22.508-22.495 0-12.441-10.076-22.495-22.508-22.495h-83.911c-1.89 0-3.704 0.302-5.454 0.734v-67.648h178.765v674.376zM134.972 527.211h247.493c12.441 0 22.495-10.065 22.495-22.495 0-12.441-10.065-22.495-22.495-22.495h-247.493c-12.43 0-22.495 10.065-22.495 22.495 0 12.419 10.065 22.495 22.495 22.495zM472.458 527.211h247.493c12.43 0 22.495-10.065 22.495-22.495 0-12.441-10.065-22.495-22.495-22.495h-247.493c-12.43 0-22.495 10.065-22.495 22.495 0 12.419 10.065 22.495 22.495 22.495zM382.487 572.202h-247.493c-12.43 0-22.495 10.076-22.495 22.506s10.065 22.495 22.495 22.495h247.493c12.441 0 22.495-10.065 22.495-22.495s-10.065-22.506-22.495-22.506zM719.972 572.202h-247.493c-12.43 0-22.495 10.076-22.495 22.506s10.065 22.495 22.495 22.495h247.493c12.43 0 22.495-10.065 22.495-22.495s-10.065-22.506-22.495-22.506zM382.487 662.205h-247.493c-12.43 0-22.495 10.065-22.495 22.495s10.065 22.495 22.495 22.495h247.493c12.441 0 22.495-10.065 22.495-22.495s-10.065-22.495-22.495-22.495zM719.972 662.205h-247.493c-12.43 0-22.495 10.065-22.495 22.495s10.065 22.495 22.495 22.495h247.493c12.43 0 22.495-10.065 22.495-22.495s-10.065-22.495-22.495-22.495zM382.487 752.198h-247.493c-12.43 0-22.495 10.065-22.495 22.495s10.065 22.506 22.495 22.506h247.493c12.441 0 22.495-10.076 22.495-22.506s-10.065-22.495-22.495-22.495zM719.972 752.198h-247.493c-12.43 0-22.495 10.065-22.495 22.495s10.065 22.506 22.495 22.506h247.493c12.43 0 22.495-10.076 22.495-22.506s-10.065-22.495-22.495-22.495z"></path>
</symbol>
<symbol id="icon-notebook-list" viewBox="0 0 1024 1024">
<title>notebook-list</title>
<path class="path1" d="M288 64h32v64h-32v-64z"></path>
<path class="path2" d="M416 64h32v64h-32v-64z"></path>
<path class="path3" d="M544 64h32v64h-32v-64z"></path>
<path class="path4" d="M672 64h32v64h-32v-64z"></path>
<path class="path5" d="M320 704h32v32h-32v-32z"></path>
<path class="path6" d="M320 544h32v32h-32v-32z"></path>
<path class="path7" d="M320 384h32v32h-32v-32z"></path>
<path class="path8" d="M736.1 128c0 0-28.1 0-32.1 0v64h-32v-64h-96v64h-32v-64h-96v64h-32v-64h-96v64h-32v-64c-4 0-32.1 0-32.1 0-35.3 0-63.9 28.5-63.9 64.1v671.8c0 35.4 28.5 64.1 63.9 64.1h480.2c35.3 0 63.9-28.5 63.9-64.1v-671.8c0-35.4-28.5-64.1-63.9-64.1zM384 768h-96v-96h96v96zM384 608h-96v-96h96v96zM384 448h-96v-96h96v96zM704 736h-256v-32h256v32zM704 576h-256v-32h256v32zM704 416h-256v-32h256v32z"></path>
</symbol>
<symbol id="icon-paperplane" viewBox="0 0 1024 1024">
<title>paperplane</title>
<path class="path1" d="M107.616 141.248l156 619.136 302.944-96.576-270.336-329.536 348.864 305.92 283.296-88.64-820.768-410.304zM576.128 882.752v-170.368l-99.712 29.632 99.712 140.736z"></path>
</symbol>
<symbol id="icon-website" viewBox="0 0 1013 1024">
<title>website</title>
<path class="path1" d="M1013.221 929.144h-400.977v-49.583h-84.076v-148.749h-43.117v148.749h-84.076v49.583h-400.977v45.272h400.977v49.584h211.268v-49.584h400.977z"></path>
<path class="path2" d="M148.749 388.042c2.156 49.583 15.091 94.854 36.649 135.815h170.308c-8.622-40.96-12.935-88.387-12.935-135.815h-194.022z"></path>
<path class="path3" d="M355.705 204.799h-170.306c-19.402 40.96-32.337 88.387-36.648 135.815h191.865c2.155-47.426 8.622-92.698 15.090-135.815z"></path>
<path class="path4" d="M610.089 204.799h-209.112c-8.622 40.96-12.935 86.232-15.090 135.815h237.136c2.156-49.583-4.311-94.854-12.935-135.815z"></path>
<path class="path5" d="M403.133 523.857h209.112c8.622-40.96 12.935-86.232 15.090-135.815h-237.136c-2.156 49.583 4.311 94.854 12.935 135.815z"></path>
<path class="path6" d="M506.611 702.787c34.493 0 68.985-49.583 92.699-133.658h-187.554c25.869 81.92 60.361 133.658 94.854 133.658z"></path>
<path class="path7" d="M599.31 159.528c-23.715-81.92-60.363-133.658-92.699-133.658-34.493 0-68.985 49.583-92.699 133.658h185.399z"></path>
<path class="path8" d="M441.937 717.878c-32.337-30.181-58.206-81.92-75.452-148.749h-155.217c53.894 77.608 135.815 131.504 230.669 148.749z"></path>
<path class="path9" d="M441.937 10.779c-94.854 17.246-176.775 73.297-230.669 148.749h155.217c17.246-66.829 43.115-118.568 75.452-148.749z"></path>
<path class="path10" d="M864.472 388.042h-191.866c-2.155 49.583-6.467 94.854-12.935 135.815h170.308c17.246-40.96 30.181-88.387 34.493-135.815z"></path>
<path class="path11" d="M801.953 569.128h-155.217c-17.246 66.83-43.115 118.569-75.452 148.749 94.854-17.246 176.775-71.141 230.669-148.749z"></path>
<path class="path12" d="M801.953 159.528c-53.894-75.452-135.815-131.502-230.669-148.749 32.337 30.181 58.206 81.92 75.452 148.749h155.217z"></path>
<path class="path13" d="M670.451 342.77h191.865c-2.156-49.583-15.091-94.854-36.648-135.815h-168.152c6.467 40.96 12.935 86.232 12.935 135.815z"></path>
</symbol>
<symbol id="icon-heart" viewBox="0 0 1024 1024">
<title>heart</title>
<path class="path1" d="M768 415.264c-123.712 0-224 101.056-224 225.76 0 71.040 32.64 134.304 83.488 175.712-65.792 48.8-115.488 79.616-115.488 79.616s-448-276.864-448-499.904c0-134.4 82.656-268.768 240-268.768 144 0 208 137.472 208 137.472s56-137.472 208-137.472 237.312 131.68 237.312 268.768c0 30.656-8.704 62.176-22.912 93.824-40.992-45.952-100.288-75.008-166.4-75.008zM768 447.488c106.016 0 192 86.624 192 193.504s-85.984 193.536-192 193.536c-106.048 0-192-86.656-192-193.536s85.952-193.504 192-193.504zM672 673.248h64v64.512h64v-64.512h64v-64.512h-64v-64.512h-64v64.512h-64v64.512z"></path>
</symbol>
<symbol id="icon-heart2" viewBox="0 0 1024 1024">
<title>heart2</title>
<path class="path1" d="M755.188 64c-107.63 0-200.258 87.554-243.164 179-42.938-91.444-135.578-179-243.216-179-148.382 0-268.808 120.44-268.808 268.832 0 301.846 304.5 380.994 512.022 679.418 196.154-296.576 511.978-387.206 511.978-679.418 0-148.392-120.43-268.832-268.812-268.832z"></path>
</symbol>
<symbol id="icon-add-music" viewBox="0 0 1024 1024">
<title>add-music</title>
<path class="path1" d="M886.19 482.99c-35.42 18.555-75.633 29.010-118.19 29.010-141.332 0-256-114.668-256-256 0-42.67 10.455-82.883 29.123-118.292-30.085-6.4-61.225-9.708-93.123-9.708-247.47 0-448 200.53-448 448 0 100.157 32.85 192.635 88.422 267.203 41.923 56.422 96.963 102.717 160.43 134.185 59.945 29.87 127.57 46.612 199.148 46.612 247.47 0 448-200.53 448-448 0-31.898-3.308-63.037-9.81-93.010zM265.492 943.79c-58.132-28.908-108.37-71.25-146.985-122.88l149.76-111.258c21.012 28.16 48.425 51.2 80.108 66.877l-82.883 167.26zM448 753.275c-28.262 0-55.040-6.615-78.828-18.555-25.068-12.37-46.828-30.72-63.365-53.012-22.077-29.44-35.092-66.13-35.092-105.708 0-97.812 79.462-177.275 177.275-177.275 28.262 0 55.040 6.615 78.828 18.555 25.068 12.37 46.828 30.618 63.365 53.012 22.077 29.44 35.092 66.13 35.092 105.708 0 97.812-79.462 177.275-177.275 177.275z"></path>
<path class="path2" d="M448 510.669c36.026 0 65.331 29.307 65.331 65.331s-29.307 65.331-65.331 65.331-65.331-29.307-65.331-65.331 29.306-65.331 65.331-65.331zM448 463.995c-61.86 0-112.005 50.145-112.005 112.005s50.145 112.005 112.005 112.005 112.005-50.145 112.005-112.005-50.145-112.005-112.005-112.005v0z"></path>
<path class="path3" d="M768 0c-98.662 0-184.32 55.89-226.877 137.708-18.668 35.41-29.123 75.622-29.123 118.292 0 141.332 114.668 256 256 256 42.557 0 82.77-10.455 118.19-29.010 81.92-42.568 137.81-128.328 137.81-226.99 0-141.332-114.668-256-256-256zM768 458.67c-111.79 0-202.67-90.88-202.67-202.67s90.88-202.67 202.67-202.67 202.67 90.88 202.67 202.67-90.88 202.67-202.67 202.67z"></path>
<path class="path4" d="M896 256c0 8.387-3.338 15.933-8.817 21.402-5.478 5.478-13.015 8.817-21.403 8.817h-67.552v67.553c0 16.712-13.507 30.218-30.218 30.218-8.315 0-15.932-3.41-21.402-8.817-5.407-5.478-8.817-13.087-8.817-21.402v-67.553h-67.553c-16.712 0-30.218-13.507-30.218-30.218 0-8.387 3.338-15.933 8.818-21.402 5.477-5.478 13.015-8.817 21.402-8.817h67.552v-67.553c0-16.712 13.507-30.218 30.217-30.218 8.315 0 15.933 3.41 21.403 8.817 5.407 5.478 8.817 13.087 8.817 21.402v67.553h67.552c16.713 0 30.22 13.507 30.22 30.218z"></path>
</symbol>
<symbol id="icon-calendar" viewBox="0 0 1024 1024">
<title>calendar</title>
<path class="path1" d="M352 96h-64v128h64v-128zM704 256h-64v64h64v-64zM352 256h-64v64h64v-64zM734.016 192l1.984 160h-128v-160h-224v160h-128v-160h-96v768h672v-768h-97.984zM352 862.016h-96v-96h96v96zM352 734.016h-96v-96h96v96zM352 606.016h-96v-96h96v96zM480 862.016h-96v-96h96v96zM480 734.016h-96v-96h96v96zM480 606.016h-96v-96h96v96zM608 862.016h-96v-96h96v96zM608 734.016h-96v-96h96v96zM608 606.016h-96v-96h96v96zM736 862.016h-96v-96h96v96zM736 734.016h-96v-96h96v96zM736 606.016h-96v-96h96v96zM704 96h-64v128h64v-128z"></path>
</symbol>
<symbol id="icon-image" viewBox="0 0 1024 1024">
<title>image</title>
<path class="path1" d="M959.884 128c0.040 0.034 0.082 0.076 0.116 0.116v767.77c-0.034 0.040-0.076 0.082-0.116 0.116h-895.77c-0.040-0.034-0.082-0.076-0.114-0.116v-767.772c0.034-0.040 0.076-0.082 0.114-0.114h895.77zM960 64h-896c-35.2 0-64 28.8-64 64v768c0 35.2 28.8 64 64 64h896c35.2 0 64-28.8 64-64v-768c0-35.2-28.8-64-64-64v0z"></path>
<path class="path2" d="M832 288c0 53.020-42.98 96-96 96s-96-42.98-96-96 42.98-96 96-96 96 42.98 96 96z"></path>
<path class="path3" d="M896 832h-768v-128l224-384 256 320h64l224-192z"></path>
</symbol>
<symbol id="icon-headphones" viewBox="0 0 1024 1024">
<title>headphones</title>
<path class="path1" d="M288 576h-64v448h64c17.6 0 32-14.4 32-32v-384c0-17.6-14.4-32-32-32z"></path>
<path class="path2" d="M736 576c-17.602 0-32 14.4-32 32v384c0 17.6 14.398 32 32 32h64v-448h-64z"></path>
<path class="path3" d="M1024 512c0-282.77-229.23-512-512-512s-512 229.23-512 512c0 61.412 10.83 120.29 30.656 174.848-19.478 33.206-30.656 71.87-30.656 113.152 0 112.846 83.448 206.188 192 221.716v-443.418c-31.914 4.566-61.664 15.842-87.754 32.378-5.392-26.718-8.246-54.364-8.246-82.676 0-229.75 186.25-416 416-416s416 186.25 416 416c0 28.314-2.83 55.968-8.22 82.696-26.1-16.546-55.854-27.848-87.78-32.418v443.44c108.548-15.532 192-108.874 192-221.714 0-41.274-11.178-79.934-30.648-113.138 19.828-54.566 30.648-113.452 30.648-174.866z"></path>
</symbol>
<symbol id="icon-music" viewBox="0 0 1024 1024">
<title>music</title>
<path class="path1" d="M960 0h64v736c0 88.366-100.29 160-224 160s-224-71.634-224-160c0-88.368 100.29-160 224-160 62.684 0 119.342 18.4 160 48.040v-368.040l-512 113.778v494.222c0 88.366-100.288 160-224 160s-224-71.634-224-160c0-88.368 100.288-160 224-160 62.684 0 119.342 18.4 160 48.040v-624.040l576-128z"></path>
</symbol>
<symbol id="icon-cd" viewBox="0 0 32 32">
<title>cd</title>
<path class="path1" d="M16.137 19.921c-2.13 0-3.863-1.733-3.863-3.864s1.732-3.863 3.863-3.863 3.863 1.733 3.863 3.863c0 2.13-1.733 3.864-3.863 3.864zM16.137 14.213c-1.017 0-1.844 0.828-1.844 1.845s0.828 1.845 1.844 1.845c1.017 0 1.845-0.828 1.845-1.845s-0.828-1.845-1.845-1.845z"></path>
<path class="path2" d="M16 0c-8.836 0-16 7.164-16 16s7.163 16 16 16c8.837 0 16-7.164 16-16s-7.163-16-16-16zM15.999 22.327c-3.494 0-6.326-2.833-6.326-6.327s2.832-6.327 6.326-6.327 6.327 2.833 6.327 6.327c0 3.493-2.832 6.327-6.327 6.327zM22.963 13.507c-0.603-2.36-2.465-4.222-4.828-4.821v-5.705c5.767 0 10.441 4.675 10.441 10.441 0 0.028-0.002 0.057-0.002 0.085h-5.61z"></path>
</symbol>
<symbol id="icon-user" viewBox="0 0 1024 1024">
<title>user</title>
<path class="path1" d="M576 706.612v-52.78c70.498-39.728 128-138.772 128-237.832 0-159.058 0-288-192-288s-192 128.942-192 288c0 99.060 57.502 198.104 128 237.832v52.78c-217.102 17.748-384 124.42-384 253.388h896c0-128.968-166.898-235.64-384-253.388z"></path>
</symbol>
<symbol id="icon-pacman" viewBox="0 0 1024 1024">
<title>pacman</title>
<path class="path1" d="M964.73 178.804c-93.902-109.45-233.21-178.804-388.73-178.804-282.77 0-512 229.23-512 512s229.23 512 512 512c155.52 0 294.828-69.356 388.728-178.804l-324.728-333.196 324.73-333.196zM704 120.602c39.432 0 71.398 31.964 71.398 71.398 0 39.432-31.966 71.398-71.398 71.398s-71.398-31.966-71.398-71.398c0-39.432 31.966-71.398 71.398-71.398z"></path>
</symbol>
<symbol id="icon-price-tag" viewBox="0 0 1024 1024">
<title>price-tag</title>
<path class="path1" d="M976 0h-384c-26.4 0-63.274 15.274-81.942 33.942l-476.116 476.116c-18.668 18.668-18.668 49.214 0 67.882l412.118 412.118c18.668 18.668 49.214 18.668 67.882 0l476.118-476.118c18.666-18.666 33.94-55.54 33.94-81.94v-384c0-26.4-21.6-48-48-48zM736 384c-53.020 0-96-42.98-96-96s42.98-96 96-96 96 42.98 96 96-42.98 96-96 96z"></path>
</symbol>
<symbol id="icon-pushpin" viewBox="0 0 1024 1024">
<title>pushpin</title>
<path class="path1" d="M544 0l-96 96 96 96-224 256h-224l176 176-272 360.616v39.384h39.384l360.616-272 176 176v-224l256-224 96 96 96-96-480-480zM448 544l-64-64 224-224 64 64-224 224z"></path>
</symbol>
<symbol id="icon-dialog-icon" viewBox="0 0 1128 1024">
<title>dialog-icon</title>
<path class="path1" d="M560.003 1033.823c-0.185 0-0.424 0-0.612 0-7.798-0.185-14.989-4.277-19.221-10.808l-143.181-224.153h-373.495c-12.967 0-23.495-10.572-23.495-23.495v-751.872c0-12.922 10.527-23.495 23.495-23.495h1080.818c12.919 0 23.495 10.575 23.495 23.495v751.872c0 12.922-10.575 23.495-23.495 23.495h-364.458l-160.723 225.139c-4.468 6.194-11.516 9.823-19.128 9.823z"></path>
</symbol>
<symbol id="icon-bubble" viewBox="0 0 1024 1024">
<title>bubble</title>
<path class="path1" d="M512 64c282.77 0 512 186.25 512 416 0 229.752-229.23 416-512 416-27.156 0-53.81-1.734-79.824-5.044-109.978 109.978-241.25 129.7-368.176 132.596v-26.916c68.536-33.578 128-94.74 128-164.636 0-9.754-0.758-19.33-2.164-28.696-115.796-76.264-189.836-192.754-189.836-323.304 0-229.75 229.23-416 512-416z"></path>
</symbol>
<symbol id="icon-bubbles" viewBox="0 0 1152 1024">
<title>bubbles</title>
<path class="path1" d="M1088 901.166c0 45.5 26.028 84.908 64 104.184v15.938c-10.626 1.454-21.472 2.224-32.5 2.224-68.008 0-129.348-28.528-172.722-74.264-26.222 6.982-54.002 10.752-82.778 10.752-159.058 0-288-114.616-288-256s128.942-256 288-256c159.058 0 288 114.616 288 256 0 55.348-19.764 106.592-53.356 148.466-6.824 14.824-10.644 31.312-10.644 48.7zM512 0c278.458 0 504.992 180.614 511.836 405.52-49.182-21.92-103.586-33.52-159.836-33.52-95.56 0-185.816 33.446-254.138 94.178-70.846 62.972-109.862 147.434-109.862 237.822 0 44.672 9.544 87.888 27.736 127.788-5.228 0.126-10.468 0.212-15.736 0.212-27.156 0-53.81-1.734-79.824-5.044-109.978 109.978-241.25 129.7-368.176 132.596v-26.916c68.536-33.578 128-94.74 128-164.636 0-9.754-0.758-19.33-2.164-28.696-115.796-76.264-189.836-192.754-189.836-323.304 0-229.75 229.23-416 512-416z"></path>
</symbol>
<symbol id="icon-warning" viewBox="24.988 36.999 191.505 189.546">
<title>warning</title>
<path d="M216.493,147.331l-31.337-22.197l23.721-31.555l-38.954-1.741l3.047-39.606L139.02,71.817l-18.28-34.819
		l-18.28,35.037L68.512,52.45l3.264,39.389l-38.954,1.523l23.503,31.772l-31.337,22.197l36.56,13.928L47.62,196.949l37.866-8.052
		l7.834,37.431l27.42-26.985l27.202,27.202l7.834-37.43l38.083,7.834l-13.928-35.689L216.493,147.331z M128.357,174.098
		c-1.741,1.742-4.353,2.611-7.617,2.611s-5.875-0.87-7.617-2.611c-1.741-1.741-2.611-4.134-2.611-7.399
		c0-3.264,0.87-5.875,2.611-7.399c1.741-1.741,4.353-2.611,7.834-2.611c3.265,0,5.876,0.871,7.617,2.611
		c1.741,1.741,2.612,4.135,2.612,7.399C130.968,169.964,130.098,172.357,128.357,174.098z M127.921,146.678h-14.363l-3.046-57.669
		h20.456L127.921,146.678z"/>
</symbol>
<symbol id="icon-arrow-left" viewBox="0 0 819 1024">
<title>arrow-left</title>
<path class="path1" d="M577.044 795.746c4.719 4.727 10.904 7.070 17.080 7.070s12.37-2.343 17.080-7.070c9.437-9.437 9.437-24.723 0-34.152l-351.977-351.994 351.977-352.002c9.437-9.413 9.437-24.699 0-34.152-9.437-9.421-24.723-9.421-34.161 0l-369.058 369.091c-9.437 9.421-9.437 24.699 0 34.161l369.058 369.050z"></path>
</symbol>
<symbol id="icon-playlist-arrow-prev" viewBox="0 0 846 1024">
<title>playlist-arrow-prev</title>
<path class="path1" d="M797.421 1024c-10.25 0-20.489-3.423-27.315-11.391l-500.765-500.775 500.765-500.755c14.793-14.793 39.826-14.793 55.76 0 14.804 14.793 14.804 39.836 0 55.76l-446.115 444.994 446.125 446.146c14.804 14.793 14.804 39.816 0 55.76-7.967 6.826-18.217 10.26-28.456 10.26z"></path>
<path class="path2" d="M536.794 1024c-10.239 0-20.489-3.423-27.315-11.391l-500.755-500.775 500.765-500.755c14.804-14.793 39.836-14.793 55.76 0 14.804 14.793 14.804 39.836 0 55.76l-447.266 444.994 446.135 446.146c14.793 14.793 14.793 39.816 0 55.76-7.967 6.826-17.076 10.26-27.325 10.26z"></path>
</symbol>
<symbol id="icon-playlist-arrow-suiv" viewBox="0 0 846 1024">
<title>playlist-arrow-suiv</title>
<path class="path1" d="M19.825 1013.74c-14.804-15.924-14.804-40.967 0-55.76l446.125-446.125-446.125-444.994c-14.804-15.935-14.804-40.967 0-55.76 15.935-14.804 40.967-14.804 55.76 0l500.775 500.755-500.775 500.755c-6.826 7.988-17.065 11.391-27.315 11.391-10.229 0-20.478-3.434-28.446-10.26z"></path>
<path class="path2" d="M281.582 1013.74c-14.804-15.924-14.804-40.967 0-55.76l446.135-446.125-447.266-444.994c-14.804-15.935-14.804-40.967 0-55.76 15.924-14.804 40.957-14.804 55.76 0l500.755 500.765-500.755 500.755c-6.826 7.988-17.076 11.391-27.315 11.391-10.239-0.010-19.348-3.444-27.315-10.27z"></path>
</symbol>
<symbol id="icon-toggle" viewBox="0 0 1033 1024">
<title>toggle</title>
<path fill="#efeded" class="path1" d="M942.51 897.658c0 13.956-11.313 25.268-25.268 25.268h-798.48c-13.956 0-25.268-11.313-25.268-25.268v-778.265c0-13.956 11.313-25.268 25.268-25.268h798.48c13.956 0 25.268 11.313 25.268 25.268v778.265z"></path>
<path fill="#fd6274" class="path2" d="M416.928 512h199.62v239.102h-199.62v-239.102z"></path>
<path fill="#c6c6c6" class="path3" d="M492.733 329.12h192.039l-68.225 176.247h-199.62z"></path>
<path fill="#b5b5b5" class="path4" d="M416.928 263.423l68.225 65.698-56.727 114.592z"></path>
<path fill="#9e9e9e" class="path5" d="M616.548 250.788l60.644 73.278-180.037-7.707-80.227-63.045z"></path>
<path fill="#000" class="path6" d="M896.395 50.537h-758.051c-41.44 0-75.805 34.365-75.805 75.805v758.051c0 41.44 34.365 75.805 75.805 75.805h758.051c41.44 0 75.805-34.365 75.805-75.805v-758.051c0-41.44-34.365-75.805-75.805-75.805zM921.663 884.392c0 14.15-11.118 25.268-25.268 25.268h-758.051c-14.15 0-25.268-11.118-25.268-25.268v-758.051c0-14.15 11.118-25.268 25.268-25.268h758.051c14.15 0 25.268 11.118 25.268 25.268v758.051z"></path>
<path fill="#000" class="path7" d="M706.377 327.478c0-1.011 0-2.021-1.011-3.032v-1.011c-1.011-1.011-1.011-3.032-2.021-4.043v0l-75.805-75.805c-2.023-2.021-6.064-4.043-9.097-4.043h-202.147c-2.021 0-3.032 0-5.054 1.011-3.032 1.011-5.054 4.043-7.075 7.075-1.012 2.021-1.012 3.032-1.012 5.054v505.367c0 7.075 6.066 13.14 13.14 13.14h202.147c7.075 0 13.14-6.066 13.14-13.14v-249.651l73.785-174.857c1.011-1.011 1.011-3.032 1.011-4.043s1.011-1.011 0-2.021c1.011 1.011 0 1.011 0 0zM610.357 493.238h-174.857l64.687-151.61h174.857l-64.687 151.61zM476.94 331.521l-48.515 112.191v-160.707l48.515 48.515zM663.926 316.36h-166.771l-50.537-50.537h166.771l50.537 50.537zM429.436 745.922v-227.415h176.878v227.415h-176.878z"></path>
</symbol>
</defs>
</svg>

	<body>
		<div class="main-wrapper">

			<div id="becky-content">
				<div class="becky-overlay" data-close-becky></div>
				<div class="becky-infos animated bounceInRight">
					<a class="button btn btn-close-becky" data-close-becky>
						<svg class="icon icon-alone icon-cancel"><use xlink:href="#icon-cancel"></use></svg>
					</a>
					<span class="becky-img prm"><span></span></span> 
					<span class="becky-text mlm pls"></span> 
				</div>
			</div>
			
			      	
			{{ headernavModule.header() }} 

			<div class="container">

				{% block body %} {% endblock %}

			</div>
		</div>


		{{ footerModule.footer() }} 
       
  

	  {% block javascripts %} 
	  	
	  	

	  	<script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript"></script>
	  	<script src="{{ asset('bundles/tdsmarathon/js/ckeditor/ckeditor.js') }}" type="text/javascript"></script>

	  	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
      	<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
	  	 
	   	
	   	<script src="{{ asset('js/jquery.jplayer.min.js') }}" type="text/javascript"></script>
	   	<script src="{{ asset('js/jplayer.playlist.min.js') }}" type="text/javascript"></script>
	   	<script src="{{ asset('bundles/tdsmarathon/js/main.js') }}" type="text/javascript"></script>
	   	<script src="{{ asset('bundles/tdsmarathon/js/form.js') }}" type="text/javascript"></script>
	   	<script src="{{ asset('bundles/tdsmarathon/js/marathon-jplayer.js') }}" type="text/javascript"></script>
	   	
	   	<script src="{{ asset('bundles/tdsmarathon/js/indexAdmin.js') }}" type="text/javascript"></script>
	   	<script src="{{ asset('bundles/tdsmarathon/js/form-addpoints.js') }}" type="text/javascript"></script>
	   	<script src="{{ asset('bundles/tdsbecky/js/liste.js') }}" type="text/javascript"></script>
	    
	     
	     
	    
  		<script src="{{ asset('bundles/tdscomment/js/comments.js') }}"></script>

  		
	  {% endblock %}


	</body>
{# <script src="{{ asset('../Vendor/friendsofsymfony/comment-bundle/FOS/CommentBundle/Resources/assets/js/comments.js') }}" type="text/javascript"></script> #}


</html>

