{% trans_default_domain 'FOSUserBundle' %}
<div id="content" class="bg--lightgrey pam pbxxl">
		<h1 class="main-title man align-center">
			<svg class="icon icon--m icon-pencil"><use xlink:href="#icon-pencil"></use></svg>
			<span>Changer de mot de passe</span>
		</h1>


	<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
		<div class="form-group">
	      {{ form_label(form.current_password, "Mot de Passe actuel", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
	      {{ form_errors(form.current_password) }}
	      <div class="col-sm-9">
	        {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
	      </div>
	    </div>

	    <div class="form-group">
	      {{ form_label(form.plainPassword.first, "Nouveau Mot de Passe", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
	      {{ form_errors(form.plainPassword.first) }}
	      <div class="col-sm-9">
	        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
	      </div>
	    </div>

	    <div class="form-group">
	      {{ form_label(form.plainPassword.second, "Confirmer le nouveau Mot de Passe", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
	      {{ form_errors(form.plainPassword.second) }}
	      <div class="col-sm-9">
	        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
	      </div>
	    </div>

	    {# {{ form_widget(form) }} #}
	    <div class="form-group">
        	<input class="btn btn-primary" type="submit" value="save" />
    	</div>	    
	</form>
</div>


