{% extends "TdSMarathonBundle::layout.html.twig" %}

{% block title %}
  Marathon - {{ parent() }}
{% endblock %}

{% block tdsmarathon_body %}
	{% if is_granted("ROLE_SUPER_ADMIN") %}
		<div id="content" class="mv4">
			

			<div class="flex flex-auto justify-center w-100 mt4">   
            <h1 class="self-center pr2 ma0 mb3 new-rocker f2">
                <svg class="icon icon--s fill-near-black"><use xlink:href="#icon-add-music"></use></svg>
                <span>Liste des morceaux</span>

        	</div>


        	<div class="pb3">
		    	<div class="w-100 w-80-sm w-60-m w-50-l center">
		    		<span class="i">Thème</span>
		    		{{ vignetteModule.vignette_line_theme(theme) }}
		    	</div>
			</div>

			<table class="f6 w-100 mw8 center bg-white-30 pa2 pa2-sm pa3-m pa4-l shadow-subtle" cellspacing="0">
				<tbody class="lh-copy">
					{% for musicTitle in theme.musicTitles %}
						<tr>
							<td class='pv3 bb b--black-20 word-wrap'>
								<span class='thumbnail--s dib v-mid'>
									<img class="db w-100" src='{{ musicTitle.joggeur.image.webPath | imagine_filter('tiny_thumb')  }}'/>
								</span>
							</td>
							<td class='pv3 pr3 bb br b--black-20 word-wrap'>{{ musicTitle.joggeur.pseudo }}</td>
							<td class='pv3 ph3 bb b--black-20 word-wrap'>{{ musicTitle.titre }}</td>		
							<td class='pv3 pr3 bb b--black-20'>
	                            <a class='button button-action btn-user-delete' data-delete data-href="{{ path('tds_marathon_musictitle_delete', {'id': musicTitle.id}) }}"  data-pseudo="{{ musicTitle.titre }}" href="#">
	                                <svg class="icon icon-alone icon--xs icon-cancel"><use xlink:href="#icon-cancel"></use></svg>
	                            </a>
	                        </td>
                    	</tr>
					{% endfor %}
				</tbody>
	 		</table>
	{% endif %}
{% endblock %}