{% extends "TdSCoreBundle::layout.html.twig" %}


{% block body %}
   

     
 
      <div id="content" class="">
      	<div class="index row">

      		<div class=''>
      			 {% if saison is defined and saison.activate is not null %}
      				<div class="row man flex-container">
	      				<div class="col col-md-8 align-center col-articles  pal ptn">
		        			{% if listeArticles is defined and listeArticles is not null %}
		        				{% for article in listeArticles %}
			        				{{ articleWrapperModule.article(article) }}
		        				{% endfor %}
		        			{% else %}
		        				<div>
		        					<h3>Il n'y a aucun article pour l'instant</h3>	        		
		        				</div>
		        			{% endif %}

		        			{% if is_granted("ROLE_SUPER_ADMIN")  %}
			        			<a href="{{ path('tds_marathon_article_add') }}" class="button btn pull-right btn-action mtm">
			        				<svg class="icon icon--s icon-plus"><use xlink:href="#icon-plus"></use></svg>
					  				<span class="btn__label">Ajouter un Article</span>
			        			</a>
	        				{% endif %}
		        		</div>
	        		

		        		<div class="col col-md-4 align-center col-themes man pan">

	      				{# {% if theme is defined and theme is not null %}	    				
		  					{{ playlistWrapperModule.pl_theme(theme,null,null,true) }}
		  				{% elseif themePost is defined and themePost is not null %}
		  					{{ playlistWrapperModule.pl_theme(themePost,null,null,false) }}	
						{% endif %} #}
							{% if theme is defined and theme is not null %}
								<div class='list-item vignette-item man pan'>
									<a class="thumbnail" href="{{ path('tds_marathon_theme_view', {'id': theme.id}) }}">

							    		<div class="square">

							    			{% if theme.activate == 1 %}
												<div class="ribbon">
													<div class="line flex-container-h align-center">							
														<svg class="icon icon--l icon-warning"><use xlink:href="#icon-warning"></use></svg>
														<span class="flex-item-fluid mls">Thème en cours</strong></span>
													</div>
												</div>
											{% endif %}

										    {% if theme.image is not null %}
									  			<img class="" src="{{ theme.image.webPath | imagine_filter('medium_thumb') }}" alt="{{ theme.image.alt }}">
											{% endif %}
											
											
										    <div class='inner-item-text'>
										    	<div class="bg-vignette"></div>
										    	<div class="inner-item-text-content">
											    	<h3 class="man pbs">{{ theme.titre }}</h3>				
											    	<div class="musictitle-count">
											    		<svg class="icon icon-cd"><use xlink:href="#icon-cd"></use></svg>
											    		<span class="number">{{ theme.musicTitles|length  }}</span>
											    	</div>

											    	<div class="comment-count">
													    <svg class="icon icon--m icon-dialog-icon"><use xlink:href="#icon-dialog-icon"></use></svg>
													    {% if theme.thread is defined and theme.thread is not null %}
														    <span>{{ theme.thread.numComments }}</span>
														{% else %}
														    <span>0</span>
													    {% endif %}										
													</div>
										    	</div>
										    </div>	
										</div>					    		
						    		</a>
					    		</div>
					    	{% endif %}
					    	{{ loisModule.lois() }}
					    	
						</div>
					</div>


				{% else %}
					<div class="saison-closed">
						<h1 class="man">La saison est finie!</h1>
					</div>
      			{% endif %}	  				
			</div>		


			<div class="flex-container-h">
				<div class='col col-xs-12 col-md-7 col-md-push-5 pbxxl col-droite'>
					<div class="row col-classement pam">
						<h2 class="sub-title">Classement</h2>
						<div class="bg-op--white-5 pam">
							<div class="row">
								{% for joggeurScore in listeJoggeursScore %}
									<div class="podium-wrapper mbl">
									{% if loop.index == 1 %}										
											<div class="podium podium-1 list-item col col-xs-4 col-xs-push-4">
												<div class="inner-podium">
													<div class="colonne">
														<strong class="place">{{ loop.index }}</strong>
														<a class="thumbnail" href="{{ path('tds_marathon_joggeur_view', {'id': joggeurScore.joggeur.id}) }}">
															<div class="round">
															    {% if joggeurScore.joggeur.image is not null %}
														  			<img class="" src="{{ joggeurScore.joggeur.image.webPath | imagine_filter('medium_thumb') }}" alt="{{ joggeurScore.joggeur.image.alt }}">
																{% endif %}
															</div>
														</a>
														<span class="score">{{ joggeurScore.total }}</span>
														<span class="joggeur-name">{{ joggeurScore.joggeur.pseudo }}</span>
													</div>
												</div>
											</div>
										{% elseif loop.index == 2 %}
											<div class="podium podium-2 list-item col col-xs-4 col-xs-pull-4">
												<div class="inner-podium">
													<div class="colonne">
														<strong class="place">{{ loop.index }}</strong>
														<a class="thumbnail" href="{{ path('tds_marathon_joggeur_view', {'id': joggeurScore.joggeur.id}) }}">
															<div class="round">
															    {% if joggeurScore.joggeur.image is not null %}
														  			<img class="" src="{{ joggeurScore.joggeur.image.webPath | imagine_filter('medium_thumb') }}" alt="{{ joggeurScore.joggeur.image.alt }}">
																{% endif %}
															</div>
														</a>
														<span class="score">{{ joggeurScore.total }}</span>
														<span class="joggeur-name">{{ joggeurScore.joggeur.pseudo }}</span>
													</div>
												</div>
											</div>
										{% elseif loop.index == 3 %}
											<div class="podium podium-3 list-item col col-xs-4 mbl">
												<div class="inner-podium">
													<div class="colonne">
														<strong class="place">{{ loop.index }}</strong>
														<a class="thumbnail" href="{{ path('tds_marathon_joggeur_view', {'id': joggeurScore.joggeur.id}) }}">
															<div class="round">
															    {% if joggeurScore.joggeur.image is not null %}
														  			<img class="" src="{{ joggeurScore.joggeur.image.webPath | imagine_filter('medium_thumb') }}" alt="{{ joggeurScore.joggeur.image.alt }}">
																{% endif %}
															</div>
														</a>
														<span class="score">{{ joggeurScore.total }}</span>
														<span class="joggeur-name">{{ joggeurScore.joggeur.pseudo }}</span>
													</div>
												</div>
											</div>
											

										{% else %}
											<div class="list-item plm prm">
												<strong>{{ loop.index }}</strong>
												<span>{{ joggeurScore.joggeur.pseudo }}</span>
												<span>{{ joggeurScore.total }}</span>
											</div>
										{% endif %}	
									</div>							
								{% endfor %}
							</div>
						</div>
					</div>				
				</div>


				<div class='col col-xs-12 col-md-5 col-md-pull-7  col-gauche'>
					<div class="row list col-joggeurs pas">
						<h2 class="sub-title">Les joggeurs</h2>
						<div class="block align-center clearfix">
						    {% for joggeur in listeJoggeurs %}
						    	{% if joggeur is not null %}
						    		{% if loop.index <= 9 %}
							    		<div class='col col-xs-6 col-sm-4 col-lg-4 list-item vignette-item man pan'>
								    		<a class="thumbnail paxs" href="{{ path('tds_marathon_joggeur_view', {'id': joggeur.id}) }}">
										    	<div class="square">
												    {% if joggeur.image is not null %}
											  			<img class="" src="{{ joggeur.image.webPath | imagine_filter('medium_thumb') }}" alt="{{ joggeur.image.alt }}">
													{% endif %}
												

												    <div class='inner-item-text'>
												    	<div class="bg-vignette"></div>
												    	<div class="inner-item-text-content">
													    	<h3>{{ joggeur.pseudo }}</h3>				
													    	<div class="musictitle-count">
													    		<span class="glyphicon"></span>
													    		<span class="number">12</span>
													    	</div>
												    	</div>
												    </div>	
												</div>					    		
										    </a>
										</div>
									{% endif %}
							    {% endif %}
						    {% endfor %}
						</div>
					    <div class="block align-center clearfix mtm mbs">
						    <a class="button" href="{{ path('tds_marathon_joggeur_home') }}">
						    	<svg class="icon icon-alone icon--s icon-plus"><use xlink:href="#icon-plus"></use></svg>
						    </a>
						</div>
					</div>

					<div class="row pas pbxxl align-center col-liens">
						<h2 class="sub-title">Pas loin</h2>
						<ul class="unstyled">
							{% for website in websites %}
								<li><a href="{{ website.url }}">{{ website.name }}</a></li>
							{% endfor %}						
						</ul>
					</div>				
				</div>
			</div>

		</div>

      </div>

{% endblock %}