{% extends "TdSCoreBundle::layout.html.twig" %}


{% block body %}
	{% import "TdSCoreBundle:Macros:pi-saison.html.twig" as PIsaison %}
	{% import "TdSCoreBundle:Macros:pi-theme.html.twig" as PItheme %}
	{% import "TdSCoreBundle:Macros:pi-chronique.html.twig" as PIchronique %}

	{% set draftmodeTheme =  null %}
	{% for themeItem in allThemes %}
		{% if themeItem.statut == 0 %}
			{% set draftmodeTheme =  themeItem %}
		{% endif %}
	{% endfor %}

    <span class="btn btn-default btn-becky hidden" data-random="1" data-info="">
	    <span class="icon-cocktail"></span>
	</span>
    
    <div id="content" class=""> 
      	
		{% set joggeurInPlaylist = 0 %}

	    {% if is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_USER") %}
	        
	        <div class='tableau-bord'>
	       		<div class="tableau-bord_col-droite panneau-infos pam">	        				        	
					<h2 class="sub-title man pan">
						<span>Panneau d'information</span>
						<span class="button btn btn-default btn-becky" data-info="Le panneau d'information te renseigne sur le thème en cours, le thème d'attente ou les chroniques à écrire.">
        					<svg class="icon icon-alone icon-becky"><use xlink:href="#icon-becky"></use></svg>
        				</span>
					</h2>

					<div class="pi-saison sep clearfix">
						{{ PIsaison.saison(saison) }}
					</div>


					<div class="pi-themes sep clearfix">
						{{ PItheme.theme(saison, theme, draftmodeTheme, joggeurForDraftmodeTheme) }}			
					</div>

					<div class='pi-chroniques sep'>
						{{ PIchronique.chronique(allThemes) }}		        					
    				</div>
				</div>

				<div class="tableau-bord_col-gauche col-playlist">		        		
      				{% if saison is defined and saison is not null %}
			        	{% if theme is defined and theme is not null %}
			        		{{ playlistWrapperModule.pl_theme(theme,null,null,true,false,null,1) }}
						{% else %}
			        		<div>
			        			<h3 class="align-center">Il n'y a pas de thème en cours</h3>
			        		</div>
			        	{% endif %}
			        {% else %} 
			        	<div class="saison-title align-center man saison-closed">
							<h1 class="man align-center">La saison est finie!</h1>
						</div>
		        	{% endif %}       		        		
        		</div>
	        </div>

	        	<div class='tableau-bord'>

					<div class="tableau-bord_col-gauche col-score pas">
	        			<h2 class="sub-title">Score</h2>
	        			
	        			<div class="bg-op--black pas">
	        				{% if saison is defined and saison is not null %}
		        				<span class="align-center block">pour la saison en cours</span>
		        				{% set scoreTotal = 0 %}
		        				{% if joggeurScore is defined %}
		        					{% if joggeurScore.total is defined %}
		        						{% set scoreTotal = joggeurScore.total %}
		        					{% endif %}
		        				{% endif %}
		        				<span class="align-center block text--m">{{ scoreTotal }} points </span>
	        				{% else %}
	        					<span class="align-center block">Il n'y a pas de saison en cours</span>
	        				{% endif %}
	        			</div>

	        			<div class="flex-container-h line mts mbs">
		        			<a class="button btn btn-view  flex-item-center align-center" href="{{ path('tds_marathon_joggeur_classement', {'saisonid' : saison.id }) }}">
		        				<svg class="icon icon-eye"><use xlink:href="#icon-eye"></use></svg>
		        				<span>classement</span>
		        			</a>
	        			</div>

	        			{% if saison is defined and saison is not null %}
		        			<div class="flex-container-h">
								<div class="btn__info flex-item-fluid align-right prm mrn pts pbs">
									{% if joggeurScore is defined %}
		        						<span>Il te reste {{ joggeurScore.pointstogive }} points à attribuer</span>
		        					{% endif %}
								</div>

								<a class="button btn btn-action mln" href="{{ path('tds_marathon_joggeur_addpoints', {'id' : app.user.joggeur.id }) }}">
									<svg class="icon icon-heart"><use xlink:href="#icon-heart"></use></svg>
									<span class="btn__label">Donner des points</span>
								</a>
							</div>
						{% endif %}
					</div>

	        		<div class="tableau-bord_col-droite col-profil pas pbxxl">
		        		<h2 class="sub-title">Mon profil</h2>
							<div class="flex-container-h flex-item-center">
								<div class="flex-item mrm">
									{% if app.user.joggeur.image is not null %}
								  		<span class="">
											<img class='thumbnail' src='{{ app.user.joggeur.image.webPath | imagine_filter('medium_thumb')  }}'/>  
										</span>
									{% endif %}
								</div>

								<div class="flex-item">
								{% if app.user.joggeur.presentation is not null %}
							  		<div class="line block">{{ app.user.joggeur.presentation | raw }}</div>
								{% endif %}
							

								<div class="line block">
									<a class="button btn btn-view flex-item-center" href="{{ path('tds_marathon_joggeur_view', {'id': app.user.joggeur.id}) }}">
										<svg class="icon icon-eye"><use xlink:href="#icon-eye"></use></svg>
				        				<span>Voir mon profil</span>								
									</a>
								</div>

							    <div class="line block pts">
								    <a class="button btn btn-action flex-item-center mbs" href="{{ path('fos_user_profile_show') }}">
								    	<svg class="icon icon--m icon-locked"><use xlink:href="#icon-locked"></use></svg>
								    	<span>Paramètres de connexion</span> 
								    </a>
							    </div>	
							</div>						    
						</div>
		        	</div>
		        </div>
	   
		    {% else %}
		        <h1>Accueil</h1>
		    {% endif %} 
		</div>
	     
	  
{% endblock %}


