{% extends "TdSCoreBundle::layout.html.twig" %}


{% block body %}
   

        <div class="playlist-body-wrapper relative">
 	  		{{ playlistIndexModule.playlist(musicTitles) }}
 	  	</div>
      


      	<div class='flex-container-h'>
      			 {% if saison is defined and saison.statut is not null %}
      				{# <div class="man"> #}
	      				{# <div class="col col-xs-12 col-sm-8 col-articles"> #}
	      				<div class="flex-item col-articles">	
		        			{% if listeArticles is defined and listeArticles is not null %}
		        				<div class="articles-liste">
			        				{% for article in listeArticles %}
				        				{{ articleWrapperModule.article(article) }}
			        				{% endfor %}
		        				</div>

		        				<div class="more-articles-content"></div>

			        			{% if listeArticles|length > 5 %} 
					        		<button href="" class="button btn-more btn pull-right mas" data-action="show-more-articles" data-offset="5">
						        		<svg class="icon icon--s icon-plus"><use xlink:href="#icon-plus"></use></svg>
								  		<span class="btn__label">Plus d'articles</span>
						        	</button>
				        		{% endif %}
		        				
		        			{% else %}
		        				<div>
		        					<h3>Il n'y a aucun article pour l'instant</h3>	        		
		        				</div>
		        			{% endif %}

		        			{# <div class="clearfix"></div> #}
		        				

		        			

		        			{% if is_granted("ROLE_SUPER_ADMIN")  %}
			        			<a href="{{ path('tds_marathon_article_add') }}" class="button btn pull-right btn-action mas">
			        				<svg class="icon icon--s icon-plus"><use xlink:href="#icon-plus"></use></svg>
					  				<span class="btn__label">Ajouter un Article</span>
			        			</a>
	        				{% endif %}
		        		</div>

		        		
	        		

		        		{# <div class="col col-xs-12 col-sm-4 col-themes man pan"> #}	
		        		<div class="flex-item col-themes man pan">	
							{% if theme is defined and theme is not null %}
								<div class='list-item vignette-item man pan'>
									<a class="thumbnail" href="{{ path('tds_marathon_theme_view', {'id': theme.id}) }}">

							    		<div class="square">

							    			{% if theme.statut == 1 %}
												<div class="ribbon">
													<div class="line flex-container-h align-center">				
														<svg class="icon icon--l icon-warning"><use xlink:href="#icon-warning"></use></svg>
														<span class="flex-item-fluid mls">Thème en cours</span>
													</div>
												</div>
											{% endif %}

										    {% if theme.image is not null %}
									  			<img class="" src="{{ theme.image.webPath | imagine_filter('medium_thumb') }}" alt="{{ theme.image.alt }}">
											{% endif %}											
											
										    <div class='inner-item-text'>
										    	<div class="relative">
											    	<h3 class="man pbs">{{ theme.titre }}</h3>				
											    	<div class="musictitle-count">
											    		<svg class="icon icon-cd"><use xlink:href="#icon-cd"></use></svg>
											    		<span>{{ theme.musicTitles|length  }}</span>
											    	</div>

											    	<div class="comment-count">
													    <svg class="icon icon--m icon-dialog-icon"><use xlink:href="#icon-dialog-icon"></use></svg>
													    {% if theme.thread is defined and theme.thread is not null %}
														    <span>{{ theme.thread.numComments }}</span>
														{% else %}
														    <span>0</span>
													    {% endif %}										
													</div>
										    	</div>
										    </div>	
										</div>					    		
						    		</a>
					    		</div>
					    	{% endif %}
					    	{{ loisModule.lois() }}
					    	
						</div>
					{# </div> #}


				{% else %}
					<div class="saison-closed">
						<h1 class="man">La saison est finie!</h1>
					</div>
      			{% endif %}	  				
			</div>		


			<div class="flex-container-h">
				<div class='pbxxl col-droite bg--marathonchanteurs flex-item'>
					<div class="col-classement align-center pam ">
						{% if listeJoggeursScore|length > 3 %} 
							<h2 class="sub-title">Classement</h2>
							<div class="bg-op--white-5 pam pbn">
								<h3>Podium</h3>
								<div class="flex-container podium-wrapper mbl">
									{% for joggeurScore in listeJoggeursScore %}
										{% if loop.index <= 3 %}
											{{ scoresElementsModule.podium_medaillon(joggeurScore,loop.index) }}												
										{% endif %}									 
									{% endfor %}
								</div>

								{{ scoresElementsModule.scores_legende() }}
							</div>

							<div class="walloffame bg-op--white-5 align-center pam mtm">
								<h3>Wall of Fame</h3>
								<div class="wof-wrapper  flex-container flex-start flex-justify">
									
									{{ scoresElementsModule.wof_medaillon(scoreService.wof_jogEgoiste(listeJoggeursScore),"L'égoïste","Celui qui n'aime pas donner de points bisous","wof_jogEgoiste") }}

									{{ scoresElementsModule.wof_medaillon(scoreService.wof_jogDonJuan(listeJoggeursScore),"Le mononucléose","Celui qui a récolté le plus de points bisous","wof_jogDonJuan") }}


									{{ scoresElementsModule.wof_medaillon(scoreService.wof_jogPetitGros(listeJoggeursScore),"Le petit gros à la traîne","Celui qui possède le moins de points vitesse","wof_jogPetitGros") }}

									{{ scoresElementsModule.wof_medaillon(scoreService.wof_jogLfdy(listeJoggeursScore),"Le Live fast die Young","Celui qui possède le plus de points vitesse","wof_jogLfdy") }}


									
								</div>
							</div>
						
						<div class="latotale bg-op--white-5 pam pbn mtm">
							<h3 class="align-center">La totale</h3>
							<div class="latotale-wrapper flex-container-h">
								<div class="flex-item-fluid align-left">
									{% for joggeurScore in listeJoggeursScore %}
										{{ scoresElementsModule.scores_latotale(joggeurScore,loop.index) }}
									{% endfor %}
								</div>
							</div>
							{{ scoresElementsModule.scores_legende() }}
						</div>

						{% endif %}
					</div>				
				</div>




				<div class='pbxxl  col-gauche flex-item'>
					<div class="list col-joggeurs pas">
						<h2 class="sub-title align-center">Les joggeurs</h2>
						<div class="block clearfix">
						    {% for joggeur in listeJoggeurs %}
						    	{% if joggeur is not null %}
						    		{% if loop.index <= 9 %}
							    		<div class='col col-xs-6 col-sm-4 col-lg-4 list-item vignette-item man pan'>
								    		<a class="thumbnail paxs" href="{{ path('tds_marathon_joggeur_view', {'id': joggeur.id}) }}">
										    	<div class="square">
												    {% if joggeur.image is not null %}
											  			<img class="" src="{{ joggeur.image.webPath | imagine_filter('medium_thumb') }}" alt="{{ joggeur.image.alt }}">
													{% endif %}										

												    <div class='inner-item-text'>
												    	<div class="relative">
													    	<h3 class="man pls prs">{{ joggeur.pseudo }}</h3>				
													    	<div class="musictitle-count">
														    	<svg class="icon icon-cd"><use xlink:href="#icon-cd"></use></svg>
														    	<span>{{ joggeur.musicTitles|length  }}</span>
														    </div>
												    	</div>
												    </div>	
												</div>					    		
										    </a>
										</div>
									{% endif %}
							    {% endif %}
						    {% endfor %}
						</div>
					    <div class="block align-center clearfix mtm mbs">
						    <a class="button" href="{{ path('tds_marathon_joggeur_home') }}">
						    	<svg class="icon icon-alone icon--s icon-plus"><use xlink:href="#icon-plus"></use></svg>
						    </a>
						</div>
					</div>

					<div class="pal pbxxl align-center col-liens bg--marbredark">
						<h2 class="sub-title">Pas loin</h2>
						<ul class="unstyled">
							{% for website in websites %}
								<li class="mts"><a href="{{ website.url }}">{{ website.name }}</a></li>
							{% endfor %}						
						</ul>

						{% if is_granted("ROLE_SUPER_ADMIN")  %}
							<a class="button btn btn-action align-center mbs mts" data-action="show-website-form" href="#">
			  					<svg class="icon icon--s icon-plus"><use xlink:href="#icon-plus"></use></svg>
			  					<span class="btn__label">Ajouter un lien</span>
							</a>

							<div class="form-website pts mts">
    							{{ include('TdSMarathonBundle:Website:form.html.twig') }}
							</div>
							<div id="anchorLiens"></div>
						{% endif %}
					</div>				
				</div>
			</div>
		
    

    {% if is_granted("ROLE_SUPER_ADMIN") %}
		<div class='popup-delete-confirmation' data-popupdelete>
	        <div>
	            <p></p>
	            <a id="btn-oui" href="" class="button btn btn-action btn-default btn-delete-oui">Oui</a>
	            <a id="btn-non" href="" class="button btn btn-action btn-default btn-delete-non">Non</a>
	        </div>
	    </div>
    {% endif %}

{% endblock %}