{% extends "TdSCoreBundle::layout.html.twig" %}


{% block body %}
   

        <div class="playlist-body-wrapper">
 	  		{{ playlistIndexModule.playlist(musicTitles) }}
 	  	</div>
      


      	<div class='flex-container-h'>
      			 {% if saison is defined and saison.activate is not null %}
      				{# <div class="man"> #}
	      				{# <div class="col col-xs-12 col-sm-8 col-articles"> #}
	      				<div class="flex-item col-articles">	
		        			{% if listeArticles is defined and listeArticles is not null %}
		        				<div class="articles-liste">
			        				{% for article in listeArticles %}
				        				{{ articleWrapperModule.article(article) }}
			        				{% endfor %}
		        				</div>

		        				<div class="more-articles-content"></div>

			        			{% if listeArticles|length > 5 %} 
					        		<button href="" class="button btn-more btn pull-right mas" data-action="show-more-articles" data-offset="5">
						        		<svg class="icon icon--s icon-plus"><use xlink:href="#icon-plus"></use></svg>
								  		<span class="btn__label">Plus d'articles</span>
						        	</button>
				        		{% endif %}
		        				
		        			{% else %}
		        				<div>
		        					<h3>Il n'y a aucun article pour l'instant</h3>	        		
		        				</div>
		        			{% endif %}

		        			{# <div class="clearfix"></div> #}
		        				

		        			

		        			{% if is_granted("ROLE_SUPER_ADMIN")  %}
			        			<a href="{{ path('tds_marathon_article_add') }}" class="button btn pull-right btn-action mas">
			        				<svg class="icon icon--s icon-plus"><use xlink:href="#icon-plus"></use></svg>
					  				<span class="btn__label">Ajouter un Article</span>
			        			</a>
	        				{% endif %}
		        		</div>

		        		
	        		

		        		{# <div class="col col-xs-12 col-sm-4 col-themes man pan"> #}	
		        		<div class="flex-item col-themes man pan">	
							{% if theme is defined and theme is not null %}
								<div class='list-item vignette-item man pan'>
									<a class="thumbnail" href="{{ path('tds_marathon_theme_view', {'id': theme.id}) }}">

							    		<div class="square">

							    			{% if theme.activate == 1 %}
												<div class="ribbon">
													<div class="line flex-container-h align-center">				
														<svg class="icon icon--l icon-warning"><use xlink:href="#icon-warning"></use></svg>
														<span class="flex-item-fluid mls">Thème en cours</span>
													</div>
												</div>
											{% endif %}

										    {% if theme.image is not null %}
									  			<img class="" src="{{ theme.image.webPath | imagine_filter('medium_thumb') }}" alt="{{ theme.image.alt }}">
											{% endif %}											
											
										    <div class='inner-item-text'>
										    	<div class="relative">
											    	<h3 class="man pbs">{{ theme.titre }}</h3>				
											    	<div class="musictitle-count">
											    		<svg class="icon icon-cd"><use xlink:href="#icon-cd"></use></svg>
											    		<span>{{ theme.musicTitles|length  }}</span>
											    	</div>

											    	<div class="comment-count">
													    <svg class="icon icon--m icon-dialog-icon"><use xlink:href="#icon-dialog-icon"></use></svg>
													    {% if theme.thread is defined and theme.thread is not null %}
														    <span>{{ theme.thread.numComments }}</span>
														{% else %}
														    <span>0</span>
													    {% endif %}										
													</div>
										    	</div>
										    </div>	
										</div>					    		
						    		</a>
					    		</div>
					    	{% endif %}
					    	{{ loisModule.lois() }}
					    	
						</div>
					{# </div> #}


				{% else %}
					<div class="saison-closed">
						<h1 class="man">La saison est finie!</h1>
					</div>
      			{% endif %}	  				
			</div>		


			<div class="flex-container-h">
				<div class='pbxxl col-droite flex-item'>
					<div class="col-classement align-center pam ">
						{% if listeJoggeursScore|length > 3 %} 
							<h2 class="sub-title">Classement</h2>
							<div class="bg-op--white-5 pam pbn">
								<h3>Podium</h3>
								<div class="flex-container podium-wrapper mbl">
									{% for joggeurScore in listeJoggeursScore %}
											{% if loop.index <= 3 %}
													<div class="podium podium-{{ loop.index }} list-item">
													<div class="inner-podium">
														<div class="colonne">
															<strong class="place">{{ loop.index }}</strong>
															<a class="thumbnail" href="{{ path('tds_marathon_joggeur_view', {'id': joggeurScore.joggeur.id}) }}">
																<div class="round">
																    {% if joggeurScore.joggeur.image is not null %}
															  			<img class="" src="{{ joggeurScore.joggeur.image.webPath | imagine_filter('medium_thumb') }}" alt="{{ joggeurScore.joggeur.image.alt }}">
																	{% endif %}
																</div>
															</a>

															<div class="pbs score-wrapper flex-align">
																<span class="mrm score block">{{ joggeurScore.total }} pts</span>
																
																{% set totalFastpoints = 0 %}
																{% set totalHeartpoints = 0 %}
																{% set totalTakenpoints = 0 %}	
																{% for score in joggeurScore.scores %}
																	{% set totalFastpoints =  totalFastpoints + score.fastpoints %}
																	{% set totalHeartpoints =  totalHeartpoints + score.heartpoints %}
																	{% set totalTakenpoints =  totalTakenpoints + score.takenpoints %}
																{% endfor %}
									      						<span class="points align-center">
									      							<span class="points-item">
										      							<svg class="icon icon--s icon-fast"><use xlink:href="#icon-fast"></use></svg>
										      							<span class="">{{ totalFastpoints }}</span> 
									      							</span>
									      							<span class="points-item points-item-heart ">
											      						<svg class="icon icon--xs icon-heart2" ><use xlink:href="#icon-heart2"></use></svg>
											      						<span class="">{{ totalHeartpoints }}</span>
										      						</span>
										      						{% if totalTakenpoints != 0 %}
											      						<span class="points-item points-item-taken">
												      						<svg class="icon icon--xs icon-minus" ><use xlink:href="#icon-minus"></use></svg>
												      						<span class="">{{ totalTakenpoints }}</span>
											      						</span>	
										      						{% endif %}
										      					</span>
									      						
									      					</div>
															<span class="joggeur-name">{{ joggeurScore.joggeur.pseudo }}</span>
														</div>
													</div>
												</div>												
										{% endif %}									 
									{% endfor %}
								</div>

								<div class="legende align-center  pbn mbn ">
									Légende [
									<svg class="icon icon--s icon-fast" ><use xlink:href="#icon-fast"></use></svg>=points vitesse 
									<svg class="icon icon--xs icon-heart2 mls" ><use xlink:href="#icon-heart2"></use></svg>=points bisous
									<svg class="icon icon--s icon-minus mls" ><use xlink:href="#icon-minus"></use></svg>=points retirés ]

								</div>
							</div>

							<div class="walloffame bg-op--white-5 align-center pam mtm">
								<h3>Wall of Fame</h3>
								<div class="wof-wrapper  flex-container flex-start flex-justify">
									<div class="wof-item wof_jogEgoiste flex-item list-item pas">				<a class="thumbnail" href="{{ path('tds_marathon_joggeur_view', {'id': wof_jogEgoiste.id}) }}">								
											<div class="round">
													{% if wof_jogEgoiste.image is not null %}
														<img class="" src="{{ wof_jogEgoiste.image.webPath | imagine_filter('medium_thumb') }}" alt="{{ wof_jogEgoiste.image.alt }}"/>
													{% endif %}
											</div>
										</a>
										<div>
											<h4 class="mts mbn sub-sub-title">L'égoïste</h4>
											<strong>Celui qui n'aime pas donner de points bisous</strong> 
										 	<div>{{ wof_jogEgoiste.pseudo }}</div>
										</div> 
									</div>

									<div class="wof-item wof_jogDonJuan flex-item list-item pas">
										<a class="thumbnail" href="{{ path('tds_marathon_joggeur_view', {'id': wof_jogDonJuan.id}) }}">								
											<div class="round">
													{% if wof_jogDonJuan.image is not null %}
														<img class="" src="{{ wof_jogDonJuan.image.webPath | imagine_filter('medium_thumb') }}" alt="{{ wof_jogDonJuan.image.alt }}">
													{% endif %}
											</div>
										</a>
										<div>
											<h4 class="mts mbn sub-sub-title">Le mononucléose</h4>
											<strong>Celui qui a récolté le plus de points bisous</strong>
										 	<div>{{ wof_jogDonJuan.pseudo }}</div>
										</div> 
									</div>

									<div class="wof-item wof_jogPetitGros flex-item list-item pas">
										<a class="thumbnail" href="{{ path('tds_marathon_joggeur_view', {'id': wof_jogPetitGros.id}) }}">								
											<div class="round">
													{% if wof_jogPetitGros.image is not null %}
														<img class="" src="{{ wof_jogPetitGros.image.webPath | imagine_filter('medium_thumb') }}" alt="{{ wof_jogPetitGros.image.alt }}">
													{% endif %}
											</div>
										</a>
										<div>
										 	<h4 class="mts mbn sub-sub-title">Le petit gros à la traîne</h4>
										 	<strong>Celui qui possède le moins de points vitesse</strong>
										 	<div>{{ wof_jogPetitGros.pseudo }}</div>
										 </div> 
									</div>

									<div class="wof-item wof_jogLfdy flex-item list-item pas">
										<a class="thumbnail" href="{{ path('tds_marathon_joggeur_view', {'id': wof_jogLfdy.id}) }}">								
											<div class="round">
													{% if wof_jogLfdy.image is not null %}
														<img class="" src="{{ wof_jogLfdy.image.webPath | imagine_filter('medium_thumb') }}" alt="{{ wof_jogLfdy.image.alt }}">
													{% endif %}
											</div>
										</a>
										<div>
											<h4 class="mts mbn sub-sub-title">Le Live fast die Young</h4>
											<strong>Celui qui possède le plus de points vitesse</strong>
										 	<div>{{ wof_jogLfdy.pseudo }}</div>
										</div> 
									</div>
								</div>
							</div>
						
						<div class="latotale bg-op--white-5 pam pbn mtm">
							<h3 class="align-center">La totale</h3>
							<div class="latotale-wrapper flex-container-h">
								<div class="flex-item-fluid align-left">
									{% for joggeurScore in listeJoggeursScore %}
										{% set totalFastpoints = 0 %}
											{% set totalHeartpoints = 0 %}
											{% set totalTakenpoints = 0 %}	
											{% for score in joggeurScore.scores %}
												{% set totalFastpoints =  totalFastpoints + score.fastpoints %}
												{% set totalHeartpoints =  totalHeartpoints + score.heartpoints %}
												{% set totalTakenpoints =  totalTakenpoints + score.takenpoints %}
										{% endfor %}
										

										<div class="thumb-line list-item  plm prm pbs">
												<a class="flex-container-h" href="{{ path('tds_marathon_joggeur_view', {'id':  joggeurScore.joggeur.id}) }}">
												<span class="author-thumb mrs">
													{% if joggeurScore.joggeur.image is not null %}
														<img class='thumbnail' src='{{ joggeurScore.joggeur.image.webPath | imagine_filter('tiny_thumb')  }}'/> 
													{% endif %} 
												</span>

												<div class="author-name">
													<h4 class="man pan">
														<span>{{ loop.index }} - {{ joggeurScore.joggeur.pseudo }}</span>
														<span class="scoreTotal">({{ joggeurScore.total }} pts)</span>
													</h4>
												</div>	
													
												<div class="points align-right pls">
					      							<span class="points-item  mrs">
						      							<svg class="icon icon--s icon-fast"><use xlink:href="#icon-fast"></use></svg>
						      							<span class="">{{ totalFastpoints }}</span> 
					      							</span>
					      							<span class="points-item points-item-heart mrs">
							      						<svg class="icon icon--xs icon-heart2" ><use xlink:href="#icon-heart2"></use></svg>
							      						<span class="">{{ totalHeartpoints }}</span>
						      						</span>
						      						{% if totalTakenpoints != 0 %}
							      						<span class="points-item points-item-taken mrs">
								      						<svg class="icon icon--xs icon-minus" ><use xlink:href="#icon-minus"></use></svg>
								      						<span class="">{{ totalTakenpoints }}</span>
							      						</span>	
						      						{% endif %}
							      				</div>
					      					</a>
										</div>
									{% endfor %}
								</div>
							</div>
							<div class="legende align-center pas pbn mbn ">
								Légende [
								<svg class="icon icon--s icon-fast" ><use xlink:href="#icon-fast"></use></svg>=points vitesse 
								<svg class="icon icon--xs icon-heart2 mls" ><use xlink:href="#icon-heart2"></use></svg>=points bisous
								<svg class="icon icon--s icon-minus mls" ><use xlink:href="#icon-minus"></use></svg>=points retirés ]

							</div>
						</div>

						{% endif %}
					</div>				
				</div>




				<div class='pbxxl  col-gauche flex-item'>
					<div class="list col-joggeurs pas">
						<h2 class="sub-title align-center">Les joggeurs</h2>
						<div class="block clearfix">
						    {% for joggeur in listeJoggeurs %}
						    	{% if joggeur is not null %}
						    		{% if loop.index <= 9 %}
							    		<div class='col col-xs-6 col-sm-4 col-lg-4 list-item vignette-item man pan'>
								    		<a class="thumbnail paxs" href="{{ path('tds_marathon_joggeur_view', {'id': joggeur.id}) }}">
										    	<div class="square">
												    {% if joggeur.image is not null %}
											  			<img class="" src="{{ joggeur.image.webPath | imagine_filter('medium_thumb') }}" alt="{{ joggeur.image.alt }}">
													{% endif %}										

												    <div class='inner-item-text'>
												    	<div class="relative">
													    	<h3 class="man pls prs">{{ joggeur.pseudo }}</h3>				
													    	<div class="musictitle-count">
														    	<svg class="icon icon-cd"><use xlink:href="#icon-cd"></use></svg>
														    	<span>{{ joggeur.musicTitles|length  }}</span>
														    </div>
												    	</div>
												    </div>	
												</div>					    		
										    </a>
										</div>
									{% endif %}
							    {% endif %}
						    {% endfor %}
						</div>
					    <div class="block align-center clearfix mtm mbs">
						    <a class="button" href="{{ path('tds_marathon_joggeur_home') }}">
						    	<svg class="icon icon-alone icon--s icon-plus"><use xlink:href="#icon-plus"></use></svg>
						    </a>
						</div>
					</div>

					<div class="pal pbxxl align-center col-liens">
						<h2 class="sub-title">Pas loin</h2>
						<ul class="unstyled">
							{% for website in websites %}
								<li class="mts"><a href="{{ website.url }}">{{ website.name }}</a></li>
							{% endfor %}						
						</ul>

						{% if is_granted("ROLE_SUPER_ADMIN")  %}
							<a class="button btn btn-action align-center mbs mts" data-action="show-website-form" href="#">
			  					<svg class="icon icon--s icon-plus"><use xlink:href="#icon-plus"></use></svg>
			  					<span class="btn__label">Ajouter un lien</span>
							</a>

							<div class="form-website pts mts">
    							{{ include('TdSMarathonBundle:Website:form.html.twig') }}
							</div>
							<div id="anchorLiens"></div>
						{% endif %}
					</div>				
				</div>
			</div>
		
    

    {% if is_granted("ROLE_SUPER_ADMIN") %}
		<div class='popup-delete-confirmation' data-popupdelete>
	        <div>
	            <p></p>
	            <a id="btn-oui" href="" class="button btn btn-action btn-default btn-delete-oui">Oui</a>
	            <a id="btn-non" href="" class="button btn btn-action btn-default btn-delete-non">Non</a>
	        </div>
	    </div>
    {% endif %}

{% endblock %}