{% extends "TdSCoreBundle::layout.html.twig" %}


{% block body %}

{% set currentTheme = null %}
{% set classColPlaylistTheme = "w-100 w-60-ns" %}
{% set classColPlaylist="flex-auto" %}
{% set classColTheme = "flex-auto" %}
{% set classThemeItem = "w-50 w-25-ns" %}
{% set detectDerniersThemes = null %}
{% for theme in saison.themes %}	        		      				
	{% if theme is defined and theme is not null %}
		{% if theme.statut == 1 %}
			{% set currentTheme = theme %}
			{% if listeJoggeursScore is not defined or listeJoggeursScore is empty %}				
				{% set classColPlaylistTheme = "w-100" %}
				{% set classColPlaylist="w-100 w-60-ns" %}
				{% set classColTheme = "w-100 w-40-ns" %}
				{% set classThemeItem = "w-100 w-50-ns" %} 
			{% endif %}
		{% else %}
			{% set detectDerniersThemes = 1 %}
			{% set classThemeItem = "w-100 w-33-ns" %}
		{% endif %}
	{% endif %}
{% endfor %}
   
<div class="index-wrapper">
	{# lecteur fixe (si pas de thème en cours) #}
	{% if currentTheme is not defined or currentTheme is null %}
		{% if musicTitles is defined and musicTitles is not null and musicTitles is not empty %}
		    <div class="playlist-body-wrapper playlist-index-wrapper ">
			  	{{ playlistIndexModule.playlist(musicTitles) }}
			</div>
		{% endif %}
	{% endif %}
	{# fin lecteur fixe  #}
      

	{# PARTIE 1 : playlist du thème en cours + les derniers thèmes + podium #}
  	<div class='flex flex-auto flex-wrap'>
  		{% if saison is defined and saison.statut is not null %}
      					
			<div class="{{ classColPlaylistTheme }} flex flex-wrap flex-auto">
				{# colonne playlist theme en cours #}
				{% if currentTheme is defined and currentTheme is not null %}
					<div class="flex-item {{ classColPlaylist }}">
						{{ playlistWrapperModule.pl_theme(currentTheme,null,null,true,false,null,1) }}
					</div>	
        		{% endif %}	
       			{# fin playlist #}
        		

       			{# colonne derniers thèmes #}
        		{% if listeDernThemes is defined and listeDernThemes is not null and listeDernThemes is not empty  %}
	        		<div class="{{ classColTheme }} bg-ms-turquoise pa2">
						<h2 class="tc">Les derniers thèmes</h2>
						<div class='flex flex-auto flex-wrap justify-center'>	
						    {% for theme in listeDernThemes %}
						    	{% if theme is defined and theme is not null and theme != currentTheme %}
						    		<div class="{{ classThemeItem }} pa2"> {# w-100 w-50-ns #} 
						      			{{ vignetteModule.vignette_theme(theme) }}
						      		</div>
						      	{% endif %}
						    {% endfor %} 
						</div>
					</div>
				{% endif %}
				{# colonne derniers thèmes #}				
		    </div>

		    {# colonne podium + wall of fame #}
		    {% if listeJoggeursScore is defined and listeJoggeursScore is not empty %} 
		    	<div class="w-100 w-40-ns bg-ms-gold pa3">
			    	<h2 class="tc">Podium</h2>
					<div class="bg-white-30 pa2">						
						<div class="podium-wrapper flex items-end mb4">
							{% for joggeurScore in listeJoggeursScore %}
								{% if loop.index <= 3 %}
									{{ scoresElementsModule.podium_medaillon(joggeurScore,loop.index) }}			
								{% endif %}									 
							{% endfor %}
						</div>

						{{ scoresElementsModule.scores_legende() }}
					</div>


					
					{% set jogEgoiste = "" %}
					{% set jogDonJuan = "" %}
					{% set jogPetitGros = "" %}
					{% set jogLfdy = "" %}

					{% set idjogEgoiste = scoreService.wof_jogEgoiste(listeJoggeursScore) %}
					{% set idjogDonJuan = scoreService.wof_jogDonJuan(listeJoggeursScore) %}
					{% set idjogPetitGros = scoreService.wof_jogPetitGros(listeJoggeursScore) %}
					{% set idjogLfdy = scoreService.wof_jogLfdy(listeJoggeursScore) %}

					{% for joggeurScore in listeJoggeursScore %}
						{% if joggeurScore.joggeur.id == idjogEgoiste %}
							{% set jogEgoiste = joggeurScore.joggeur %}
						{% endif %}
						{% if joggeurScore.joggeur.id == idjogDonJuan %}
							{% set jogDonJuan = joggeurScore.joggeur %}
						{% endif %}
						{% if joggeurScore.joggeur.id == idjogPetitGros %}
							{% set jogPetitGros = joggeurScore.joggeur %}
						{% endif %}
						{% if joggeurScore.joggeur.id == idjogLfdy %}
							{% set jogLfdy = joggeurScore.joggeur %}
						{% endif %}
					{% endfor %}

					
					<div class="walloffame pt4">
						<h2 class="tc">Wall of Fame</h2>
						<div class="wof-wrapper  flex flex-wrap flex-auto flex-justify">
							<div class="wof-item wof_jogEgoiste flex-item pa1 w-50 w-50-m w-25-l">
								{{ scoresElementsModule.wof_medaillon(jogEgoiste,"L'égoïste","Celui qui n'aime pas donner de points bisous") }}
							</div>

							<div class="wof-item wof_jogDonJuan flex-item pa1 w-50 w-50-m w-25-l">
								{{ scoresElementsModule.wof_medaillon(jogDonJuan,"Le mononucléose","Celui qui a récolté le plus de points bisous") }}
							</div>

							<div class="wof-item wof_jogPetitGros flex-item pa1 w-50 w-50-m w-25-l">
								{{ scoresElementsModule.wof_medaillon(jogPetitGros,"Le petit gros à la traîne","Celui qui possède le moins de points vitesse") }}
							</div>

							<div class="wof-item wof_jogLfdy flex-item pa1 w-50 w-50-m w-25-l">
								{{ scoresElementsModule.wof_medaillon(jogLfdy,"Le Live fast die Young","Celui qui possède le plus de points vitesse") }}	
							</div>					
						</div>
					</div>
				</div>
			{% endif %}
			{# fin colonne podium + wall of fame #}
  		{% endif %}	  				
	</div>
	{# FIN PARTIE 1 #}


	{# ///////////////////////////////////////////////////////// #}


	{# PARTIE 2 / lois/classement + actus #}
	<div class="flex flex-auto flex-wrap">
		<div class="flex-item w-100 w-40-ns">
			<div class="bg-ms-vert pa3"> 
				{{ loisModule.lois() }}
			</div>

			<div class="bg-ms-purple pa3">
				<h2 class="tc">Classement</h2>
				{% if listeJoggeursScore|length >= 3 %} 										
					<div class="">
						{% for joggeurScore in listeJoggeursScore %}
							{{ scoresElementsModule.scores_latotale(joggeurScore,loop.index) }}
						{% endfor %}
					</div>						
					{{ scoresElementsModule.scores_legende() }}
				{% endif %}
			</div>
		</div>
		

		<div class="flex-item w-100 w-60-ns bg-ms-orange-light pa3">
			<h2 class="tc">Actus</h2>	
			{% if listeArticles is defined and listeArticles is not null %}
				<div class="">
    				{% for article in listeArticles %}
        				{{ articleWrapperModule.article(article) }}
    				{% endfor %}
				</div>

				<div class="more-articles-content"></div>
    			{% if listeArticles|length >= 3 %} 
	        		<button href="" class="button" data-action="show-more-articles" data-offset="3">
		        		<svg class="icon icon--xs"><use xlink:href="#icon-plus"></use></svg>
				  		<span class="">Plus d'articles</span>
		        	</button>
        		{% endif %}
				
			{% else %}
				<div>
					<h3>Il n'y a aucun article pour l'instant</h3>	        		
				</div>
			{% endif %}
				

			

			{% if is_granted("ROLE_SUPER_ADMIN")  %}
    			<a href="{{ path('tds_marathon_article_add') }}" class="button">
    				<svg class="icon icon--xs"><use xlink:href="#icon-plus"></use></svg>
	  				<span class="">Ajouter un Article</span>
    			</a>
			{% endif %}
		</div>

	</div>	
	{# FIN PARTIE 2 #}


	{# ///////////////////////////////////////////////////////// #}


	{# PARTIE 3 / liste saisons + joggeurs/liens #}
	<div class="flex flex-auto flex-wrap">
		<div class='w-100 w-60-ns bg-ms-bleu pa3'>
			<h2 class="tc">Les Saisons</h2>
			<div class="bg-white-30">
				{% for saisonItem in listeSaisons %}
					<div class="flex flex-wrap mb3 pa2">
						<a class="flex flex-auto flex-wrap no-underline near-black w-100 w-50-ns" href="{{ path('tds_marathon_saison_view', {'id': saisonItem.id}) }}">
							<h3 class="tc pa1 w-100 bg-near-black ms-bleu ma0">{{ saisonItem.titre }}</h3>
							<div class="w-100">
								{% if saisonItem.image is defined and saisonItem.image is not empty %}
									<img class="db w-100" src="{{ saisonItem.image.webPath | imagine_filter('medium_thumb') }}" alt="{{ saisonItem.image.alt }}">
								{% else %}
										<img class="db w-100" src="" alt="">
								{% endif %}
							</div>
						</a>

						{% if saisonItem.themes is defined and saisonItem.themes is not empty %}
							<div class="w-100 w-50-ns pt2 pt0-ns pl2-ns">
								{% for themeItem in saisonItem.themes %}
									<a class="flex no-underline near-black bg-white-30 mb2" href="{{ path('tds_marathon_theme_view', {'id': themeItem.id}) }}">
										<div class="thumbnail--m flex">
											<img class="" src="{{ themeItem.image.webPath | imagine_filter('tiny_thumb') }}" alt="{{ themeItem.image.alt }}">
										</div>
										<span class="flex pl2 self-center">{{ themeItem.titre }}</span>
									</a>
								{% endfor %}
							</div>
						{% endif %}
					</div>	
				{% endfor %}				
			</div>				
		</div>




		<div class='flex-item w-100 w-40-ns'>
			<div class="bg-ms-violet ph2 pv3">
				<h2 class="tc ma0 pv3">Les joggeurs</h2>
				<div class="flex flex-auto flex-wrap">
				    {% for joggeur in listeJoggeurs %}
				    	{% if joggeur is not null %}
				    		{% if loop.index <= 9 %}
				    			<div class="w-50 w-33-ns pa1">
				    				{{ vignetteModule.vignette_joggeur(joggeur) }}
				    			</div>
							{% endif %}
					    {% endif %}
				    {% endfor %}
				</div>

			    <div class="tc pt2">
				    <a class="button" href="{{ path('tds_marathon_joggeur_home') }}">
				    	<svg class="icon icon--xs pa1"><use xlink:href="#icon-plus"></use></svg>
				    </a>
				</div>
			</div>
				
			<div class="bg-ms-vert">
				<h2 class="tc pv3 ma0">Pas loin</h2>
				<ul class="list ma0 pa0">
					{% for website in websites %}
						<li class="mv1 mh3 tc pv2 bg-white-30"><a class="no-underline near-black" href="{{ website.url }}">{{ website.name }}</a></li>
					{% endfor %}						
				</ul>

				{% if is_granted("ROLE_SUPER_ADMIN")  %}
					<a class="flex justify-center button center mt3 tc" data-action="show-website-form" href="#">
	  					<svg class="icon icon--xs"><use xlink:href="#icon-plus"></use></svg>
	  					<span class="">Ajouter un lien</span>
					</a>

					<div class="pt2 mt2">
						{{ include('TdSMarathonBundle:Website:form.html.twig') }}
					</div>
					<div id="anchorLiens"></div>
				{% endif %}
			</div>				
		</div>
	</div>
	{# FIN PARTIE 3 #}
</div>		
		
    

{% if is_granted("ROLE_SUPER_ADMIN") %}
	<div class='popup-delete-confirmation dn' data-popupdelete>
        <div>
            <p></p>
            <a id="btn-oui" href="" class="button btn btn-action btn-default btn-delete-oui">Oui</a>
            <a id="btn-non" href="" class="button btn btn-action btn-default btn-delete-non">Non</a>
        </div>
    </div>
{% endif %}

{% endblock %}