{% extends "TdSCoreBundle::layout.html.twig" %}


{% block body %}

{% set currentTheme = null %}
{% set classColPlaylistTheme = "w-100 w-60-ns" %}
{% set classColPlaylist="flex-auto" %}
{% set classColTheme = "flex-auto" %}
{% set classThemeItem = "w-50 w-25-ns" %}
{% set detectDerniersThemes = null %}
{% for theme in saison.themes %}	        		      				
	{% if theme is defined and theme is not null %}
		{% if theme.statut == 1 %}
			{% set currentTheme = theme %}
			{% if listeJoggeursScore is not defined or listeJoggeursScore is empty %}				
				{% set classColPlaylistTheme = "w-100" %}
				{% set classColPlaylist="w-100 w-60-ns" %}
				{% set classColTheme = "w-100 w-40-ns" %}
				{% set classThemeItem = "w-100 w-50-ns" %} 
			{% endif %}
		{% else %}
			{% set detectDerniersThemes = 1 %}
			{% set classThemeItem = "w-100 w-33-ns" %}
		{% endif %}
	{% endif %}
{% endfor %}
   
<div class="index-wrapper">
	{# lecteur fixe (si pas de thème en cours) #}
	{% if currentTheme is not defined or currentTheme is null %}
		{% if musicTitles is defined and musicTitles is not null and musicTitles is not empty %}
		    <div class="playlist-body-wrapper playlist-index-wrapper ">
			  	{{ playlistIndexModule.playlist(musicTitles) }}
			</div>
		{% endif %}
	{% endif %}
	{# fin lecteur fixe  #}
      

	{# PARTIE 1 : playlist du thème en cours + les derniers thèmes + podium #}
  	<div class='flex flex-auto flex-wrap'>
  		{% if saison is defined and saison.statut is not null %}
      					
			<div class="flex-item {{ classColPlaylistTheme }} flex flex-wrap flex-auto">
				{# colonne playlist theme en cours #}
				{% if currentTheme is defined and currentTheme is not null %}
					<div class="flex-item {{ classColPlaylist }}">
						{{ playlistWrapperModule.pl_theme(currentTheme,null,null,true,false,null,1) }}
					</div>	
        		{% endif %}	
       			{# fin playlist #}
        		

       			{# colonne derniers thèmes #}
        		{% if listeDernThemes is defined and listeDernThemes is not null and listeDernThemes is not empty  %}
	        		<div class="flex-item {{ classColTheme }} bg-ms-turquoise pa2">
						<h2 class="tc">Les derniers thèmes</h2>
						<div class='flex flex-auto flex-wrap justify-center'>	
						    {% for theme in listeDernThemes %}
						    	{% if theme is defined and theme is not null and theme != currentTheme %}
						    		<div class="flex-item {{ classThemeItem }} pa2"> {# w-100 w-50-ns #} 
						      			{{ vignetteModule.vignette(theme) }}
						      		</div>
						      	{% endif %}
						    {% endfor %} 
						</div>
					</div>
				{% endif %}
				{# colonne derniers thèmes #}				
		    </div>

		    {# colonne podium + wall of fame #}
		    {% if listeJoggeursScore is defined and listeJoggeursScore is not empty %} 
		    	<div class="flex-item w-100 w-40-ns bg-ms-gold pa3">
			    	<h2 class="tc">Podium</h2>
					<div class="bg-white-30">						
						<div class="flex-container podium-wrapper mbl">
							{% for joggeurScore in listeJoggeursScore %}
								{% if loop.index <= 3 %}
									{{ scoresElementsModule.podium_medaillon(joggeurScore,loop.index) }}												
								{% endif %}									 
							{% endfor %}
						</div>

						{{ scoresElementsModule.scores_legende() }}
					</div>


					
					{% set jogEgoiste = "" %}
					{% set jogDonJuan = "" %}
					{% set jogPetitGros = "" %}
					{% set jogLfdy = "" %}

					{% set idjogEgoiste = scoreService.wof_jogEgoiste(listeJoggeursScore) %}
					{% set idjogDonJuan = scoreService.wof_jogDonJuan(listeJoggeursScore) %}
					{% set idjogPetitGros = scoreService.wof_jogPetitGros(listeJoggeursScore) %}
					{% set idjogLfdy = scoreService.wof_jogLfdy(listeJoggeursScore) %}

					{% for joggeurScore in listeJoggeursScore %}
						{% if joggeurScore.joggeur.id == idjogEgoiste %}
							{% set jogEgoiste = joggeurScore.joggeur %}
						{% endif %}
						{% if joggeurScore.joggeur.id == idjogDonJuan %}
							{% set jogDonJuan = joggeurScore.joggeur %}
						{% endif %}
						{% if joggeurScore.joggeur.id == idjogPetitGros %}
							{% set jogPetitGros = joggeurScore.joggeur %}
						{% endif %}
						{% if joggeurScore.joggeur.id == idjogLfdy %}
							{% set jogLfdy = joggeurScore.joggeur %}
						{% endif %}
					{% endfor %}

					
					<div class="walloffame pt4">
						<h2 class="tc">Wall of Fame</h2>
						<div class="wof-wrapper  flex flex-wrap flex-auto flex-justify">
							
							{{ scoresElementsModule.wof_medaillon(jogEgoiste,"L'égoïste","Celui qui n'aime pas donner de points bisous","wof_jogEgoiste") }}

							{{ scoresElementsModule.wof_medaillon(jogDonJuan,"Le mononucléose","Celui qui a récolté le plus de points bisous","wof_jogDonJuan") }}


							{{ scoresElementsModule.wof_medaillon(jogPetitGros,"Le petit gros à la traîne","Celui qui possède le moins de points vitesse","wof_jogPetitGros") }}

							{{ scoresElementsModule.wof_medaillon(jogLfdy,"Le Live fast die Young","Celui qui possède le plus de points vitesse","wof_jogLfdy") }}						
						</div>
					</div>
				</div>
			{% endif %}
			{# fin colonne podium + wall of fame #}
  		{% endif %}	  				
	</div>
	{# FIN PARTIE 1 #}


	{# ///////////////////////////////////////////////////////// #}


	{# PARTIE 2 / lois/classement + actus #}
	<div class="flex flex-auto flex-wrap">
		<div class="flex-item w-100 w-40-ns bg-ms-vert pa3">
			{{ loisModule.lois() }}
			<div class="tc">
				<h2 class="sub-title align-center">Classement</h2>
				{% if listeJoggeursScore|length >= 3 %} 				
					<div class="latotale bg-op--white-5 pam pbn mtm">						
						<div class="latotale-wrapper flex-container-h">
							<div class="flex-item-fluid align-left">
								{% for joggeurScore in listeJoggeursScore %}
									{{ scoresElementsModule.scores_latotale(joggeurScore,loop.index) }}
								{% endfor %}
							</div>
						</div>						
						{{ scoresElementsModule.scores_legende() }}
					</div>

				{% endif %}
			</div>
		</div>

		<div class="flex-item w-100 w-60-ns bg-ms-orange-light">
			<h2 class="align-center">Actus</h2>	
			{% if listeArticles is defined and listeArticles is not null %}
				<div class="articles-liste">
    				{% for article in listeArticles %}
        				{{ articleWrapperModule.article(article) }}
    				{% endfor %}
				</div>

				<div class="more-articles-content"></div>

    			{% if listeArticles|length >= 3 %} 
	        		<button href="" class="button btn-more btn pull-right mas" data-action="show-more-articles" data-offset="3">
		        		<svg class="icon icon--s icon-plus"><use xlink:href="#icon-plus"></use></svg>
				  		<span class="btn__label">Plus d'articles</span>
		        	</button>
        		{% endif %}
				
			{% else %}
				<div>
					<h3>Il n'y a aucun article pour l'instant</h3>	        		
				</div>
			{% endif %}
				

			

			{% if is_granted("ROLE_SUPER_ADMIN")  %}
    			<a href="{{ path('tds_marathon_article_add') }}" class="button btn pull-right btn-action mas">
    				<svg class="icon icon--s icon-plus"><use xlink:href="#icon-plus"></use></svg>
	  				<span class="btn__label">Ajouter un Article</span>
    			</a>
			{% endif %}
		</div>

	</div>	
	{# FIN PARTIE 2 #}


	{# ///////////////////////////////////////////////////////// #}


	{# PARTIE 3 / liste saisons + joggeurs/liens #}
	<div class="flex flex-auto flex-wrap">
		<div class='flex-item w-100 w-60-ns bg-ms-bleu'>
			<div class="">
				<h2 class="sub-title align-center">Les Saisons</h2>
				
					{% for saisonItem in listeSaisons %}
						<div class="flex-container-h pas mbl saison-vignette">
							<a class="saison-vignette-inner flex-item w-100 w-50-m" href="{{ path('tds_marathon_saison_view', {'id': saisonItem.id}) }}">
								<h3 class="pas man align-center">{{ saisonItem.titre }}</h3>
								<div class="saison-img">
									{% if saisonItem.image is defined and saisonItem.image is not empty %}
										<img class="" src="{{ saisonItem.image.webPath | imagine_filter('medium_thumb') }}" alt="{{ saisonItem.image.alt }}">
									{% else %}
											<img class="" src="" alt="">
									{% endif %}
								</div>
							</a>

							{% if saisonItem.themes is defined and saisonItem.themes is not empty %}
								<div class="flex-item w-100 w-50-m">
									{% for themeItem in saisonItem.themes %}
										<div class="saison-theme-vignette">
											<a href="{{ path('tds_marathon_theme_view', {'id': themeItem.id}) }}">
												<img class="" src="{{ themeItem.image.webPath | imagine_filter('tiny_thumb') }}" alt="{{ themeItem.image.alt }}">
												<span>{{ themeItem.titre }}</span>
											</a>
										</div>
									{% endfor %}
								</div>
							{% endif %}
						</div>	
					{% endfor %}
				
			</div>				
		</div>




		<div class='flex-item w-100 w-40-ns bg-ms-violet'>
			<div class="list col-joggeurs pas">
				<h2 class="sub-title align-center">Les joggeurs</h2>
				<div class="block clearfix">
				    {% for joggeur in listeJoggeurs %}
				    	{% if joggeur is not null %}
				    		

				    		{% if loop.index <= 9 %}
					    		<div class='col col-xs-6 col-sm-4 col-lg-4 list-item vignette-item man pan'>
						    		<a class="thumbnail paxs" href="{{ path('tds_marathon_joggeur_view', {'id': joggeur.id}) }}">
								    	<div class="square">
										    {% if joggeur.image is not null %}
									  			<img class="" src="{{ joggeur.image.webPath | imagine_filter('medium_thumb') }}" alt="{{ joggeur.image.alt }}">
											{% else %}
								  				<img src="{{ 'uploads/img/anonymous.jpg' | imagine_filter('medium_thumb') }}" alt="">		
											{% endif %}										

										    <div class='inner-item-text'>
										    	<div class="relative">
											    	<h3 class="man pls prs">{{ joggeur.pseudo }}</h3>				
											    	<div class="musictitle-count">
												    	<svg class="icon icon-cd"><use xlink:href="#icon-cd"></use></svg>
												    	<span>{{ joggeur.musicTitles|length  }}</span>
												    </div>
										    	</div>
										    </div>	
										</div>					    		
								    </a>
								</div>
							{% endif %}
					    {% endif %}
				    {% endfor %}
				</div>

			    <div class="block align-center clearfix mtm mbs">
				    <a class="button" href="{{ path('tds_marathon_joggeur_home') }}">
				    	<svg class="icon icon-alone icon--s icon-plus"><use xlink:href="#icon-plus"></use></svg>
				    </a>
				</div>
			</div>
				
			<div class="pal pbxxl align-center col-liens bg--marathonchanteurs ">
				<h2 class="sub-title">Pas loin</h2>
				<ul class="unstyled">
					{% for website in websites %}
						<li class="mts"><a href="{{ website.url }}">{{ website.name }}</a></li>
					{% endfor %}						
				</ul>

				{% if is_granted("ROLE_SUPER_ADMIN")  %}
					<a class="button btn btn-action align-center mbs mts" data-action="show-website-form" href="#">
	  					<svg class="icon icon--s icon-plus"><use xlink:href="#icon-plus"></use></svg>
	  					<span class="btn__label">Ajouter un lien</span>
					</a>

					<div class="form-website pts mts">
						{{ include('TdSMarathonBundle:Website:form.html.twig') }}
					</div>
					<div id="anchorLiens"></div>
				{% endif %}
			</div>				
		</div>
	</div>
	{# FIN PARTIE 3 #}
</div>		
		
    

{% if is_granted("ROLE_SUPER_ADMIN") %}
	<div class='popup-delete-confirmation' data-popupdelete>
        <div>
            <p></p>
            <a id="btn-oui" href="" class="button btn btn-action btn-default btn-delete-oui">Oui</a>
            <a id="btn-non" href="" class="button btn btn-action btn-default btn-delete-non">Non</a>
        </div>
    </div>
{% endif %}

{% endblock %}