
<div class="kilometrage-content ">
	<div class="total-km flex-container-h">

		<div class="total-km-content flex-item-center">
			<div class="borne-km-icon"></div>
			<span>{{ kilometrage }} km </span>	
		</div>	  
	</div>
	<div class="total-temps">
		<span>temps total :</span> 
		<span>{{ formatDuration }}</span>
	</div>

	{# <div class="joggeurs-group">
		<span class="jog10"><img src="{{ asset('bundles/tdsmarathon/images/footer/joggeurs/jog10.gif') }}"></span>
		<span class="jog1"><img src="{{ asset('bundles/tdsmarathon/images/footer/joggeurs/jog1.gif') }}"></span>
		<span class="jog2"><img src="{{ asset('bundles/tdsmarathon/images/footer/joggeurs/jog2.gif') }}"></span>
		<span class="jog3"><img src="{{ asset('bundles/tdsmarathon/images/footer/joggeurs/jog3.gif') }}"></span>
		<span class="jog4"><img src="{{ asset('bundles/tdsmarathon/images/footer/joggeurs/jog4.gif') }}"></span>
		<span class="jog5"><img src="{{ asset('bundles/tdsmarathon/images/footer/joggeurs/jog5.gif') }}"></span>
		<span class="jog6"><img src="{{ asset('bundles/tdsmarathon/images/footer/joggeurs/jog6.gif') }}"></span>
		<span class="jog7"><img src="{{ asset('bundles/tdsmarathon/images/footer/joggeurs/jog7.gif') }}"></span>
		<span class="jog8"><img src="{{ asset('bundles/tdsmarathon/images/footer/joggeurs/jog8.gif') }}"></span>
		<span class="jog11"><img src="{{ asset('bundles/tdsmarathon/images/footer/joggeurs/jog11.gif') }}"></span><span class="jog9"><img src="{{ asset('bundles/tdsmarathon/images/footer/joggeurs/jog9.gif') }}"></span>
	</div>  #}
</div>

