<div class="pa3 pb5 center tc bg--pierre f7" >
		
	<h2 class="metal-mania f1">Je veux Jogger</h2>
	
	    <span class="button-becky db center mb3" data-info="Yo! <br/> Remplis le formulaire et un message télépathique sera directement envoyé à l'organisateur (Bob Marathon)." data-btn-becky>
			{% set webpath = "bundles/tdsbecky/images/rebecca.png" %}
        	<img class="w-100 db" src="{{ webpath | imagine_filter('becky_thumb') }}" alt="becky">
		</span>
		

		<div class="form-wrapper">
	    	{{ form_start(form, {'attr': {'id': 'participate-form'}}) }}

		    	{{ form_errors(form) }}
		    	<div class="form-group ">
			    	<div class="form-flex justify-center">
				      {{ form_label(form.pseudo, "pseudo", {'label_attr': {'class': 'form-label control-label'}}) }}
				      {{ form_errors(form.pseudo) }}
				      <div class='form-widget'>
				        {{ form_widget(form.pseudo, {'attr': {'class': ''}}) }}
				      </div>
				    </div>


				    <div class="form-flex justify-center mt3">
				      {{ form_label(form.email, "email", {'label_attr': {'class': 'form-label control-label'}}) }}
				      {{ form_errors(form.email) }}
				      <div class='form-widget'>
				        {{ form_widget(form.email, {'attr': {'class': ''}}) }}
				      </div>
				    </div>
				</div>

		    	<div class="center tc">
			        <div class="button button-save">
			          <svg class="icon icon--s icon-checkmark"><use xlink:href="#icon-checkmark"></use></svg>  
			           {{ form_widget(form.envoyer, {'attr': {'value': 'valider'}}) }}
			        </div>
			     </div>

		  		{{ form_rest(form) }}

	  		{{ form_end(form) }} 
		</div>
	</div>


