{% extends "TdSMarathonBundle::layout.html.twig" %}

{% block title %}
  Marathon - {{ parent() }}
{% endblock %}

{% block tdsmarathon_body %}
	
	<div class="main-content-saison relative min-h-100">
		{# lecteur fixe  #}
		{% if musicTitles is defined and musicTitles is not null and musicTitles is not empty %}
		    <div class="playlist-body-wrapper playlist-index-wrapper">
			  	{{ playlistIndexModule.playlist(musicTitles) }}
			</div>
		{% endif %}
		{# fin lecteur fixe  #}
      

		{# PARTIE 1 : les thèmes + podium / wall of fame #}		
		<div class="flex flex-auto flex-wrap">
			<div class="w-100 w-50-ns bg-ms-turquoise pa2">
				{% if is_granted("ROLE_SUPER_ADMIN") %}
					<a class="button" href="{{ path('tds_marathon_saison_edit', {'id': saison.id}) }}">
		  				<svg class="icon icon--s icon-pencil"><use xlink:href="#icon-pencil"></use></svg>
						<span class="btn__label">Modifier la saison</span>	  						  				
					</a>
				{% endif %}

				<div class="">
					<h2 class="tc">Liste des thèmes</h2>
					<div class="flex flex-auto flex-wrap justify-center">	
					    {% for theme in saison.themes %}
					    	<div class="w-50 w-33-ns pa2">
					      		{{ vignetteModule.vignette_theme(theme) }}
					      	</div>
					    {% endfor %} 
					</div>
				</div>

			</div>

			{% if joggeursScoresOfSaison is defined and joggeursScoresOfSaison is not null %}
				<div class="bg-ms-gold pa3 w-100 w-50-ns">
					{% if joggeursScoresOfSaison|length > 3 %} 
						<h2 class="tc">Podium</h2>
						<div class="bg-white-30 pa2">
							<div class="podium-wrapper flex items-end mb4">
								{% for joggeurScore in joggeursScoresOfSaison %}
									{% if loop.index <= 3 %}
										{{ scoresElementsModule.podium_medaillon(joggeurScore,loop.index) }}												
									{% endif %}									 
								{% endfor %}							
							</div>
							{{ scoresElementsModule.scores_legende() }}
						</div>



					{% set jogEgoiste = "" %}
					{% set jogDonJuan = "" %}
					{% set jogPetitGros = "" %}
					{% set jogLfdy = "" %}

					{% set idjogEgoiste = scoreService.wof_jogEgoiste(joggeursScoresOfSaison) %}
					{% set idjogDonJuan = scoreService.wof_jogDonJuan(joggeursScoresOfSaison) %}
					{% set idjogPetitGros = scoreService.wof_jogPetitGros(joggeursScoresOfSaison) %}
					{% set idjogLfdy = scoreService.wof_jogLfdy(joggeursScoresOfSaison) %}

					{% for joggeurScore in joggeursScoresOfSaison %}
						{% if joggeurScore.joggeur.id == idjogEgoiste %}
							{% set jogEgoiste = joggeurScore.joggeur %}
						{% endif %}
						{% if joggeurScore.joggeur.id == idjogDonJuan %}
							{% set jogDonJuan = joggeurScore.joggeur %}
						{% endif %}
						{% if joggeurScore.joggeur.id == idjogPetitGros %}
							{% set jogPetitGros = joggeurScore.joggeur %}
						{% endif %}
						{% if joggeurScore.joggeur.id == idjogLfdy %}
							{% set jogLfdy = joggeurScore.joggeur %}
						{% endif %}
					{% endfor %}

					
					<div class="walloffame pt4">
						<h2 class="tc">Wall of Fame</h2>
						<div class="wof-wrapper  flex flex-wrap flex-auto flex-justify">
							<div class="wof-item wof_jogEgoiste flex-item pa1 w-50 w-50-m w-25-l">
								{{ scoresElementsModule.wof_medaillon(jogEgoiste,"L'égoïste","Celui qui n'aime pas donner de points bisous","wof_jogEgoiste") }}
							</div>

							<div class="wof-item wof_jogEgoiste flex-item pa1 w-50 w-50-m w-25-l">
								{{ scoresElementsModule.wof_medaillon(jogDonJuan,"Le mononucléose","Celui qui a récolté le plus de points bisous","wof_jogDonJuan") }}
							</div>

							<div class="wof-item wof_jogEgoiste flex-item pa1 w-50 w-50-m w-25-l">
								{{ scoresElementsModule.wof_medaillon(jogPetitGros,"Le petit gros à la traîne","Celui qui possède le moins de points vitesse","wof_jogPetitGros") }}
							</div>

							<div class="wof-item wof_jogEgoiste flex-item pa1 w-50 w-50-m w-25-l">
								{{ scoresElementsModule.wof_medaillon(jogLfdy,"Le Live fast die Young","Celui qui possède le plus de points vitesse","wof_jogLfdy") }}
							</div>						
						</div>
					</div>

					{% endif %}
				</div>
			{% endif %}
		</div>
		{# FIN PARTIE 1 #}


		{# ///////////////////////////////////////////////////////// #}


		{# PARTIE 2 / bilan + la totale #}
		<div class="flex flex-auto flex-wrap">
			
			{% if saison.bilan is defined and saison.bilan is not empty and saison.bilan is not null %} 
				<div class="w-100 w-60-ns bg-ms-vert pa3">
					<h2 class="tc">Bilan</h2>
					<div>{{ saison.bilan|raw }}</div>
				</div>
			{% endif %}
			
			{% if joggeursScoresOfSaison is defined and joggeursScoresOfSaison is not null %}
				<div class="w-100 w-40-ns bg-ms-purple pa3">		
					<h2 class="tc">La totale</h2>	
					<h3 class="align-center">La totale</h3>
					<div class="latotale-wrapper flex-container-h">
						<div class="flex-item-fluid align-left">
						    {% for joggeurScore in joggeursScoresOfSaison %}
						      	{{ scoresElementsModule.scores_latotale(joggeurScore,loop.index) }}
						    {% endfor %}
						</div>
					</div>				    
				</div>
			{% endif %}
		</div>
		{# FIN PARTIE 2 #}
	</div>	
{% endblock %}