{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div id="content" class="pa4">
	{% if error %}
	    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}
	
	<div class="ms-title flex-1 pv3">
		<svg class="icon icon--s icon-locked"><use xlink:href="#icon-locked"></use></svg>					
		<h2><span class="">Connexion</span></h2>	
	</div>

	<div class="form-wrapper">
		<form class="form-connexion" action="{{ path("fos_user_security_check") }}" method="post">
		    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

		    <div class="form-group pv3 flex-wrap">
			    <div class="w-100 flex flex-wrap justify-center pb3">
				    <label class="label-connexion self-center pr3-ns w-100 w-10-ns tc" for="username">Pseudo</label>
				    <input class="form-widget db" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
				</div>

				<div class="w-100 flex flex-wrap justify-center">
				    <label class="label-connexion self-center pr3-ns w-100 w-10-ns tc" for="password">mot de passe</label>
				    <input class="form-widget db" type="password" id="password" name="_password" required="required" />
				</div>

				
				<div class="center pt2 tc">
			    	<input class="" type="checkbox" id="remember_me" name="_remember_me" value="on" />
			    	<label class="" for="remember_me">se souvenir de moi</label>
				</div>
			</div>

			<div class="tc center w-100">
		        <div class="button button-save">
		        	<svg class="icon icon--xs"><use xlink:href="#icon-key"></use></svg>
		        	<button type="submit" id="_submit" class="" name="_submit" value="connexion">connexion</button> 
		        </div>		       	        
		    </div>
		    <div class="tc pt2">
		     	<a class="near-black" href="{{ path('fos_user_resetting_request') }}">Mot de passe perdu?</a>
		    </div>	
		</form>
		
	</div>
</div>
{% endblock fos_user_content %}